<button mat-icon-button class="btnClose" (click)="cerrar()">
  <mat-icon>close</mat-icon>
</button>

<h1 mat-dialog-title>Añadir folios</h1>
<mat-form-field class="datosEnc">
  <mat-label>Frigorífico</mat-label>
  <mat-select>
    <mat-option [value]="1">
      1
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="datosEnc">
  <mat-label>Cámara</mat-label>
  <mat-select>
    <mat-option [value]="1">
      1
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<span class="mr-4">Sin OP<mat-slide-toggle>Con OP</mat-slide-toggle></span>

<mat-form-field  class="datosEnc">
  <mat-label class="labelInput">OP destino</mat-label>
  <input matInput>
</mat-form-field>

<app-tabla_folios></app-tabla_folios>

<div class="text-right mt-2">
  <button mat-fab color="warn" (click)="anadirFolios()" matTooltip="Añadir folios">
    <mat-icon>check</mat-icon>
  </button>
</div>