mat-form-field{
    width: 8em;
   
}

.datosEnc{
   margin: 7px !important;
}
.btnClose{
background-color: transparent;
border: none;
color: gray;
cursor: pointer;
outline: none;
float: right;
}

.btnClose .mat-icon{
  font-size: 1em;
}