<!-- tabla -->
<div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="guia">
      <th mat-header-cell *matHeaderCellDef> Guía </th>
      <td mat-cell *matCellDef="let element"> {{element.guia}} </td>
    </ng-container>

    <ng-container matColumnDef="linea">
      <th mat-header-cell *matHeaderCellDef> Línea </th>
      <td mat-cell *matCellDef="let element"> {{element.linea}} </td>
    </ng-container>

    <ng-container matColumnDef="recepcion">
      <th mat-header-cell *matHeaderCellDef> Fecha recepción </th>
      <td mat-cell *matCellDef="let element"> {{element.recepcion}} </td>
    </ng-container>

    <ng-container matColumnDef="camara">
      <th mat-header-cell *matHeaderCellDef> Camara </th>
      <td mat-cell *matCellDef="let element"> {{element.camara}} </td>
    </ng-container>

    <ng-container matColumnDef="envase">
      <th mat-header-cell *matHeaderCellDef>Envase</th>
      <td mat-cell *matCellDef="let element"> {{element.envase}} </td>
    </ng-container>

    <ng-container matColumnDef="condicion">
      <th mat-header-cell *matHeaderCellDef>Condición </th>
      <td mat-cell *matCellDef="let element"> {{element.condicion}} </td>
    </ng-container>

    <ng-container matColumnDef="bultos">
      <th mat-header-cell *matHeaderCellDef> Bultos </th>
      <td mat-cell *matCellDef="let element"> {{element.desp}} </td>
    </ng-container>

    <ng-container matColumnDef="desp">
      <th mat-header-cell *matHeaderCellDef> Despachados </th>
      <td mat-cell *matCellDef="let element"> {{element.desp}} </td>
    </ng-container>

    <ng-container matColumnDef="saldos">
      <th mat-header-cell *matHeaderCellDef> Saldo </th>
      <td mat-cell *matCellDef="let element"> {{element.saldos}} </td>
    </ng-container>

    <ng-container matColumnDef="a_despachar">
      <th mat-header-cell *matHeaderCellDef> A despachar </th>
      <td mat-cell *matCellDef="let element"><input class="inputCantidad" type="number" value="24"></td>
    </ng-container>

    <!-- <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu"> -->
          <!-- <button mat-menu-item (click)="asignar_folio_despachar()">
          <mat-icon><i class="fas fa-truck"></i></mat-icon>
          <span>Asignar folios a despachar</span>
        </button> -->
          <!-- <button mat-menu-item (click)="devolver_packing_OT()" *ngIf="!mostrar">
            <mat-icon><i class="fas fa-arrow-alt-circle-left"></i></mat-icon>
            <span>Devolver a packing</span>
          </button>
          <button mat-menu-item (click)="anular_packing_OT()" *ngIf="!mostrar">
            <mat-icon><i class="fas fa-times"></i></mat-icon>
            <span>Anular despacho</span>
          </button>
        </mat-menu>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
  </table>
</div>


<!-- botones flotantes (volver y guardar) -->
<div class="btn-plus2">
  <button mat-fab color="primary" title="Volver" class="btn-volver" (click)="volverDespachoPackingOT()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="btn-plus">
  <button mat-fab matTooltip="Añadir guías seleccionadas" class="btn-add" color="warn" (click)="guardar()">
    <mat-icon>check</mat-icon>
  </button>
</div>