
<h1 class="tituloTabla">
  <i class=" fas fa-angle-double-right"></i>
  Nueva asignación de folios productor a recibidor
</h1>

<mat-form-field>
  <mat-label>Mercado</mat-label>
  <mat-select>
    <mat-option [value]="1">
      mercado1
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>País</mat-label>
  <mat-select>
    <mat-option [value]="1">
      pais 1
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Recibidor</mat-label>
  <mat-select>
    <mat-option [value]="1">
      recibidor 1
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label class="labelInput">Observación</mat-label>
  <input matInput>
</mat-form-field>

<button color="warn" class="btn_agregarFolio" (click)="agregarFolios()" mat-button> Agregar folios <mat-icon>add
  </mat-icon></button>
<!-- TABLA  -->
<div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="folio">
      <th mat-header-cell *matHeaderCellDef> Folio </th>
      <td mat-cell *matCellDef="let element">{{element.folio}}</td>
    </ng-container>
    <ng-container matColumnDef="especie">
      <th mat-header-cell *matHeaderCellDef> Especie </th>
      <td mat-cell *matCellDef="let element">{{element.especie}}</td>
    </ng-container>
    <ng-container matColumnDef="variedad">
      <th mat-header-cell *matHeaderCellDef> Variedad </th>
      <td mat-cell *matCellDef="let element">{{element.variedad}}</td>
    </ng-container>
    <ng-container matColumnDef="origen">
      <th mat-header-cell *matHeaderCellDef> Recibidor origen </th>
      <td mat-cell *matCellDef="let element">{{element.origen}}</td>
    </ng-container>
    <ng-container matColumnDef="rec_destino">
      <th mat-header-cell *matHeaderCellDef> Recibidor destino </th>
      <td mat-cell *matCellDef="let element">{{element.rec_destino}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="btn-plus2">
  <button mat-fab color="primary" title="Volver" class="btn-volver"
    [routerLink]="[ '/listado_principal_asignacion_prod']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="btn-plus"> 
  <button mat-fab matTooltip="Guardar cambios" color="warn" class="btn-add" (click)="guardar()">
    <mat-icon>check</mat-icon>
  </button>
</div>