table {
  width: 100%;
  overflow-x: auto !important;
}

.mat-row:hover {
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  transform: scale(1.005); 
  transition: all .3s ease-in-out;
}

.mat-icon-button{
  float: right;
}

th.mat-header-cell  {
    font-size: 12px;
    color: rgb(65, 65, 65);
    justify-content:center !important;
}

th.mat-header-cell ::ng-deep.mat-sort-header-container{
  justify-content: inherit;
}

td.mat-cell, td.mat-footer-cell {
    font-size: 12px;
  }

.btn-add{
  position: fixed;
  bottom: 3em;
  right: 1.5em;
  color: white;
  outline: none;
}

.btn-volver{
  position: fixed;
  bottom: 3em;
  left: 5.5em;
  color: white;
  outline: none;
}

.mat-icon-button:hover{
background-color: white;
}

.mat-icon-button:focus{
outline: none;
}
.tituloTabla{
    font-size: 14px;
    color: rgb(52, 76, 143);
    float: left;
    margin-top: 1em;
}
.buscador{
  float: right;
  display: block;
  opacity: 0.5;
  text-align: left !important;
}

mat-spinner{
  margin: 0 auto;
  margin-top: 4em;
}

mat-paginator{
  background: transparent;
  float: left;
}
.ng-star-inserted{
    text-align: center;
  }

@media (max-width: 900px){
 td.mat-cell, td.mat-footer-cell, th.mat-header-cell  {
    width: 10px;
    font-size: 10px;
  }
 }

@media (max-width: 620px) {
  :host ::ng-deep.mat-paginator-range-label{
  display: none;
  }
  :host ::ng-deep.mat-paginator-navigation-next.mat-icon-button{
  width: 0;
  }
  :host ::ng-deep.mat-paginator-page-size-label{
  display: none;
  }
  :host ::ng-deep.th.mat-cell{
  padding-left: 15px;
  }
  :host ::ng-deep.mat-paginator-navigation-first, :host ::ng-deep.mat-paginator-navigation-last{
    display: none;
  }
}
