/* .tablaPeso{
  margin: 0px auto;
} */
.btnClose{
background-color: transparent;
border: none;
color: gray;
cursor: pointer;
outline: none;
float: right;
}
 
.btnClose .mat-icon{
  font-size: 1em;
}

:host::ng-deep.mat-dialog-container{
    font-size: 12px;
}
:host ::ng-deep.mat-form-field-wrapper {
    margin: 0 0 -1em 0 !important;
}
:host::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.25em 0 !important;
  width: 12em;
  text-align: left !important;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
    text-align: left !important;
    padding: .15em .15em 0 .15em;
}

/*padding inferior de cada input y select*/
:host ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-infix{
  padding: 0.3em 0;
}

/*centra el checkbox dentro del th verticalmente*/
:host ::ng-deep mat-checkbox label {
  margin-bottom: 0 !important;
}

.cantidad, .tara{
  width: 6em;
}

.cantidadPesaje{
  color: #2969CB;
  font-weight: 600;
  font-size: 16px;
  display: inline;
}
.binsPesados{
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
}
.selectsDialog{
  width: 11em;
}

.binsxlote{
  font-size: 20px;
  font-weight:600;
  width: 6em;
  text-align: center;
}
.kilosPesaje{
  font-size: 20px;
  font-weight:600;
  width: 2.5em;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
}
table, th, td {
  border: 1px solid rgb(209, 209, 209);
  text-align: center;
}
th{
  background: rgba(212, 222, 226, 0.4);
}

.inputValoresEnvases{
  width:5em;
  border: none;
  border-bottom: 1px solid green;
  text-align: center;
}
.promedios{
  font-size: 16px;
}

.result-promedios{
  font-weight: 600;
  font-size: 25px;
  color: #2969CB;
}

.btn-calculo{
  color: #2969CB;
  font-size: 20px;
  outline: none;
  background-color: aliceblue;
}