<!-- BUSCADOR -->
<mat-form-field class="mt-2 buscador">
  <mat-placeholder>
    <mat-icon>search</mat-icon> Buscador
  </mat-placeholder>
  <input matInput (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<!-- TABLA  -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="codigo" checkboxPosition="before">
    <th mat-header-cell *matHeaderCellDef> Código </th>
    <td mat-cell *matCellDef="let element"> {{element .id}}</td>
  </ng-container>

  <ng-container matColumnDef="pantalla" checkboxPosition="before">
    <th mat-header-cell *matHeaderCellDef> Pantalla </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Borrar</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

<!-- PAGINADOR DE TABLA -->

<!-- botones flotantes -->
<!-- <div class="btn-plus2">
    <button mat-fab color="primary" title="Volver" class="btn-volver">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div> -->

<div class="btn-plus">
  <button mat-fab title="Añadir funcionalidad" class="btn-add" color="warn" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>