
.mat-icon-button{
  float: right;
}

th.mat-header-cell  {
    font-size: 12px;
    color: rgb(65, 65, 65);
}

td.mat-cell, td.mat-footer-cell {
    font-size: 12px;
  }

.btn-add{
  position: fixed;
  bottom: 3em;
  right: 1.5em;
  color: white;
  outline: none;
}

.btn-volver{
  position: fixed;
  bottom: 3em;
  left: 5.5em;
  color: white;
  outline: none;
}

.mat-icon-button:hover{
background-color: white;
}

.mat-icon-button:focus{
outline: none;
}

.buscador{
  opacity: 0.5;
}

mat-paginator{
  background: transparent;
  float: left;
}
.ng-star-inserted{
    text-align: center;
  }

@media (max-width: 900px){
 td.mat-cell, td.mat-footer-cell, th.mat-header-cell  {
    width: 10px;
    font-size: 10px;
  }
 }

@media (max-width: 620px) {
  :host ::ng-deep.mat-paginator-range-label{
  display: none;
  }
  :host ::ng-deep.mat-paginator-navigation-next.mat-icon-button{
  width: 0;
  }
  :host ::ng-deep.mat-paginator-page-size-label{
  display: none;
  }
  :host ::ng-deep.th.mat-cell{
  padding-left: 15px;
  }
}
