<button mat-icon-button class="btnClose" (click)="close()">
  <mat-icon>close</mat-icon>
</button>

<h1 mat-dialog-title>Cambio de condición a folios</h1>

<mat-form-field class="buscador">
  <mat-placeholder>
    Buscar por folio
  </mat-placeholder>
  <input matInput [(ngModel)]="folio" (keyup)="applyFilterFolio($event.target.value)">
</mat-form-field>

<mat-form-field class="buscador">
  <mat-placeholder>
    Buscar por guía
  </mat-placeholder>
  <input matInput [(ngModel)]="guia" (keyup)="applyFilterGuia($event.target.value)">
</mat-form-field>

<mat-form-field class="buscador">
  <mat-placeholder>
    Buscar por nº planilla
  </mat-placeholder>
  <input matInput [(ngModel)]="planilla"(keyup)="applyFilterPlanilla($event.target.value)">
</mat-form-field>

<div class="row">
  <div class="col-12">

    <mat-form-field>
      <mat-label>Zona productor</mat-label>
      <mat-select [(ngModel)]="zonaProductor" (selectionChange)="selectZonaProductor($event.value)">
        <mat-option *ngFor="let zona of ListaZonas" [value]="zona.id" >
          {{zona.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="responsable">
      <input type="text" placeholder="Productor" matInput [(ngModel)]="productor" name="productor"
        [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="obtenerCodigo($event.value)">
        <mat-option class="opciones" *ngFor="let productor of filterOption | async" [value]="productor">
          {{productor.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Productor</mat-label>
      <mat-select [(ngModel)]="productor">
        <mat-option *ngFor="let productor of ListaProductores" [value]="productor.id">
          {{productor.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->


    <button class="boton" mat-raised-button color="primary" (click)="filtrar()">Filtrar</button>
    <button class="boton" mat-raised-button color="warn" (click)="limpiar()">Limpiar</button>  
    
    <br>
    <mat-form-field>
      <mat-label>Especie</mat-label>
      <mat-select [(ngModel)]="especie" (selectionChange)="capturar($event.value)">
        <mat-option *ngFor="let especie of ListaEspecies" [value]="especie.id">
          {{especie.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Variedades</mat-label>
      <mat-select [(ngModel)]="variedad">
        <mat-option *ngFor="let variedad of ListaVariedades" [value]="variedad.id">
          {{variedad.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"
          (change)="checkTodo($event)">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (change)="checkSeleccionados(row)" [(ngModel)]="row.check" (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Folio </th>
      <td mat-cell *matCellDef="let element"> {{element.FolioPallet}} </td>
    </ng-container>

    <ng-container matColumnDef="condicion">
      <th mat-header-cell *matHeaderCellDef> Condicion actual </th>
      <td mat-cell *matCellDef="let element"> {{element.CondicionActual}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<br>

<div *ngIf="muestra">
  <p><strong> Folios: {{ListaFiltro.length}} </strong></p>
  <div *ngFor="let item of ListaCantidad">
  <li>{{item.Concepto}} = {{item.Cantidad}}</li>
  
</div>
</div>

<br>
<div class="text-center">
  <button mat-fab color="warn" (click)="asignarFolios()" matTooltip="Asignar acción a los folios seleccionados">
    <mat-icon>check</mat-icon>
  </button>
</div>

<br>
<br>