body{
  font-size: 12px;
}
.contenedorTabla{
   font-size: 12px;
   text-align: center;
}
mat-form-field{
  margin-bottom: 9px;
  width: 13em; 
  margin: 5px;
}
  :host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
      background-color: transparent;
      padding: .15em .15em 0 .15em
      
  }
  .boton{
    margin-left: 1em;
  }
  :host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
    padding: 0.25em 0 0.25em 0;
    width: 13em; 
  }
  
  :host ::ng-deep.mat-form-field-wrapper {
      margin: 0 0 -1em 0 !important;
  }
   :host ::ng-deep.mat-form-field-infix{
  border-top: 0;
  /* padding: 0 0 15px 0 !important; */
  }
table, th, td {
  border: 1px solid rgb(209, 209, 209);
  text-align: center;
  justify-content: center;
}
 tr.mat-row{
        height: 36px;
    }

.btnAsignar{
  /* position: fixed; */
  margin-left: 45%;
  float: center;
}

.btnClose{
background-color: transparent;
border: none;
color: gray;
cursor: pointer;
outline: none;
float: right;
}

.btnClose .mat-icon{
  font-size: 1em;
}