<div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="folio">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label class="labelInput">Folio</mat-label>
          <input matInput>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.folio}}</td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
    </ng-container>

    <ng-container matColumnDef="especie">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Especie</mat-label>
          <mat-select>
            <mat-option [value]="1">
              Manzana
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.especie}}</td>
    </ng-container>

    <ng-container matColumnDef="variedad">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Variedad</mat-label>
          <mat-select>
            <mat-option [value]="1">
              Pink lady
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.variedad}}</td>
    </ng-container>

    <ng-container matColumnDef="categoria_real">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Categoría real</mat-label>
          <mat-select>
            <mat-option [value]="1">
              x
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.categoria_real}}</td>
    </ng-container>

    <ng-container matColumnDef="categoria_rotulada">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Categoría rotulada</mat-label>
          <mat-select>
            <mat-option [value]="1">
              x
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.categoria_rotulada}}</td>
    </ng-container>

    <ng-container matColumnDef="peso">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label class="labelInput">Peso</mat-label>
          <input matInput>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.peso}}</td>
    </ng-container>

    <ng-container matColumnDef="tipo_envase">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Tipo envase</mat-label>
          <mat-select>
            <mat-option [value]="1">
              x
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.tipo_envase}}</td>
    </ng-container>

    <ng-container matColumnDef="dimension">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Dimensión</mat-label>
          <mat-select>
            <mat-option [value]="1">
              x
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.dimension}}</td>
    </ng-container>
    <ng-container matColumnDef="etiqueta">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Etiqueta</mat-label>
          <mat-select>
            <mat-option [value]="1">
              UNIFRUTTI
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.etiqueta}}</td>
    </ng-container>

    <ng-container matColumnDef="embalaje">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Embalaje</mat-label>
          <mat-select>
            <mat-option [value]="1">
              x
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.embalaje}}</td>
    </ng-container>

    <ng-container matColumnDef="calibre">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Calibre</mat-label>
          <mat-select>
            <mat-option [value]="1">
              calibre x
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.calibre}}</td>
    </ng-container>

    <ng-container matColumnDef="op_origen">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>OP origen</mat-label>
          <mat-select>
            <mat-option [value]="1">
              x
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{element.op_origen}}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="op_destino">
      <th mat-header-cell *matHeaderCellDef> OP destino </th>
      <td mat-cell *matCellDef="let element">{{element.op_destino}}</td>
    </ng-container> -->
    <!-- <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editar()">
            <mat-icon>edit</mat-icon>
            <span>editar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>