<h1 mat-dialog-title><strong>{{datos.titulo}}</strong></h1>
<div mat-dialog-content>
  <p>{{datos.subtitulo}}</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="clickNo()" color="primary">No</button>
  <button mat-raised-button (click)="clickSi()" color="warn" cdkFocusInitial>Si</button>
</div>