.contenedorBtn2{
    width: 100%;
    text-align: right;
}
.eliminar{
    background-color:burlywood;
    color: white;
    font-family: 'Muli', sans-serif;
    left: 0;
}
.cancelar{
    font-family: 'Muli', sans-serif;
    right: 0;
    margin-right: 5px;
}