<div class="col-12 mt-2">
  <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Despacho a terceros por OT </h1>
</div>
<hr>
<!-- INFORMACION encabezado -->
<div class="row">
  <div class="col-xl-2 col-l-3">
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>OT</mat-label>
      <input matInput disabled="true">
      {{ot}}
    </mat-form-field>
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>Frigorífico</mat-label>
      <input matInput disabled="true" [(ngModel)]="frigorifico">
    </mat-form-field>
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>Destino</mat-label>
      <input matInput disabled="true" [(ngModel)]="destino">
    </mat-form-field>
  </div>
 
  <div class="col-xl-2 col-l-3">
    <mat-form-field appearance="fill" class="fechas">
      <mat-label>Fecha:{{fechaProceso | date: "dd/MM/yyyy"}}</mat-label>
      <input matInput [matDatepicker]="picker" disabled="true" value="">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Envase</mat-label>
      <input matInput disabled="true" [(ngModel)]="envase">
      
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Observaciones</mat-label>
      <input matInput [(ngModel)]="observacion">
    </mat-form-field>
  </div>
  <div class="col-xl-2 col-l-3">
    <mat-form-field appearance="fill">
      <mat-label>Patente</mat-label>
      <input matInput [(ngModel)]="patente">
    </mat-form-field>
  </div>
</div>

<!-- tabla -->
<div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="folio">
      <th mat-header-cell *matHeaderCellDef> Folio </th>
      <td mat-cell *matCellDef="let element"> {{element.nroGuiaRecepcion}} </td>
    </ng-container>

    <ng-container matColumnDef="productor">
      <th mat-header-cell *matHeaderCellDef> Productor </th>
      <td mat-cell *matCellDef="let element"> {{element.productor.nombre}}No existe </td>
    </ng-container>

    <ng-container matColumnDef="especie">
      <th mat-header-cell *matHeaderCellDef> Especie </th>
      <td mat-cell *matCellDef="let element"> {{element.especie.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="grupo">
      <th mat-header-cell *matHeaderCellDef> Grupo </th>
      <td mat-cell *matCellDef="let element"> {{element.grupo}}No existe </td>
    </ng-container>

    <ng-container matColumnDef="subgrupo">
      <th mat-header-cell *matHeaderCellDef> Subgrupo </th>
      <td mat-cell *matCellDef="let element"> {{element.subgrupo}}No existe </td>
    </ng-container>

    <ng-container matColumnDef="variedad">
      <th mat-header-cell *matHeaderCellDef> Variedad real </th>
      <td mat-cell *matCellDef="let element"> {{element.variedad.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="tipo_frio">
      <th mat-header-cell *matHeaderCellDef> Tipo frío </th>
      <td mat-cell *matCellDef="let element"> {{element.tipo_frio}}No existe </td>
    </ng-container>

    <ng-container matColumnDef="condicion">
      <th mat-header-cell *matHeaderCellDef> Condición </th>
      <td mat-cell *matCellDef="let element"> {{element.condicion.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="envase">
      <th mat-header-cell *matHeaderCellDef> Envase cosechero </th>
      <td mat-cell *matCellDef="let element"> {{element.envaseCosecha.id}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_cosecha">
      <th mat-header-cell *matHeaderCellDef> Fecha cosecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_cosecha}}no existe </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="paginador">
  <button mat-icon-button matTooltip="Siguiente">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <select class="numeroPagina" matTooltip="Items por página">
    <option value="20" selected>20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <button mat-icon-button matTooltip="Anterior">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</div>

<!-- botones flotantes (volver y guardar) -->
<div class="btn-plus2">
  <button mat-fab color="primary" title="Volver" class="btn-volver" (click)="volverDespachoInterplanta()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="btn-plus">
  <button mat-fab class="btn-add" matTooltip="Añadir folios" color="warn" (click)="anadirFolios()">
    <mat-icon>add</mat-icon>
  </button>
<!-- 
  <button mat-fab class="btn-check" matTooltip="Guardar cambios" color="warn">
    <mat-icon>check</mat-icon>
  </button> -->
</div>