.btnClose{
background-color: transparent;
border: none;
color: gray;
cursor: pointer;
outline: none;
float: right;
}

.btnClose .mat-icon{
  font-size: 1em;
}
.tituloDialog{
  font-size: 18px;
  font-weight: 600;
  padding-top: 1em;
}

:host ::ng-deep.mat-form-field-infix{
border-top: 0;
}

:host ::ng-deep.mat-form-field-appearance-fill{
    margin: 5px !important;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
    padding: 0;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.25em 0;
  width: 7em;
}

:host ::ng-deep.mat-form-field-wrapper {
    margin: 0 0 0 0 !important;
}
