<div>
  <button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<br>
<div class="col-12">
  <h2 class="tituloDialog d-inline">Modificar peso bruto</h2>
</div>
<div class="col-12 text-center mt-3">
  <mat-form-field appearance="fill" class="selectSmall d-block">
    <mat-label>Peso bruto</mat-label>
    <input matInput  [(ngModel)]="pesoBruto">
  </mat-form-field>
  <mat-form-field appearance="fill" class="selectSmall d-block">
    <mat-label>Linea</mat-label>
    <input matInput [value]="linea.linea" disabled="true">
  </mat-form-field>
  <mat-form-field appearance="fill" class="selectSmall d-block">
    <mat-label>Variedad</mat-label>
    <input matInput [value]="linea.variedadNombre" disabled="true">
  </mat-form-field>
  <mat-form-field appearance="fill" class="selectSmall d-block">
    <mat-label>Envase</mat-label>
    <input matInput [value]="linea.nombre" disabled="true">
  </mat-form-field>
  <mat-form-field appearance="fill" class="selectSmall d-block">
    <mat-label>Cantidad</mat-label>
    <input matInput [value]="linea.cantEnvases" disabled="true">
  </mat-form-field>
  <mat-form-field appearance="fill" class="selectSmall d-block">
    <mat-label>Peso bruto línea</mat-label>
    <input matInput  [(ngModel)]="pesoBrutoLinea">
  </mat-form-field>
  <hr>

  <div class="row mt-2">
      <div class="col-12">
        <button mat-icon-button class="btn-calculo"  (click)="cambiarPeso()" >Añadir pesaje</button>
      </div>
    </div>
  <div *ngIf="mostrarPeso">
    <p>Saldo</p>
    <p>30.000</p>
    <p>20.000</p>
    <p>10.000</p>
  </div>
</div>