<h1 class="tituloTabla">
  <i class=" fas fa-angle-double-right"></i>
  Administrador documentos electrónicos
</h1>
<div class="row">
  <div class="col-12">
    <mat-form-field class="buscador">
      <mat-placeholder>
        <mat-icon>search</mat-icon>Buscar...
      </mat-placeholder>
      <input matInput (keyup)="filtrar($event.target.value)">
    </mat-form-field>
  </div>
</div>

<mat-tab-group>
  <mat-tab label="Guías">
    <!-- TABLA  -->
    <div class="contenedorTabla">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="folio">
          <th mat-header-cell *matHeaderCellDef> Folio </th>
          <td mat-cell *matCellDef="let element">{{element.folio}}</td>
        </ng-container>
        <ng-container matColumnDef="f_emision">
          <th mat-header-cell *matHeaderCellDef> Fecha emisión </th>
          <td mat-cell *matCellDef="let element">{{element.f_emision}}</td>
        </ng-container>
        <ng-container matColumnDef="forma_pago">
          <th mat-header-cell *matHeaderCellDef> Forma pago </th>
          <td mat-cell *matCellDef="let element">{{element.variedad}}</td>
        </ng-container>
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let element">{{element.origen}}</td>
        </ng-container>
        <ng-container matColumnDef="tipo_moneda">
          <th mat-header-cell *matHeaderCellDef> Tipo moneda </th>
          <td mat-cell *matCellDef="let element">{{element.rec_destino}}</td>
        </ng-container>
        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef> Monto </th>
          <td mat-cell *matCellDef="let element">{{element.rec_destino}}</td>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element">{{element.rec_destino}}</td>
        </ng-container>
        <ng-container matColumnDef="impreso">
          <th mat-header-cell *matHeaderCellDef> Impreso </th>
          <td mat-cell *matCellDef="let element"><span *ngIf="impreso" class="check">
              <mat-icon>done</mat-icon>
            </span></td>
        </ng-container>
        <ng-container matColumnDef="icons">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="imprimir()">
                <mat-icon>print</mat-icon>
                <span>Imprimir documento</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Factura exportación">
    <!-- TABLA  -->
    <div class="contenedorTabla">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="folio">
          <th mat-header-cell *matHeaderCellDef> Folio </th>
          <td mat-cell *matCellDef="let element">{{element.folio}}</td>
        </ng-container>
        <ng-container matColumnDef="f_emision">
          <th mat-header-cell *matHeaderCellDef> Fecha emisión </th>
          <td mat-cell *matCellDef="let element">{{element.f_emision}}</td>
        </ng-container>
        <ng-container matColumnDef="forma_pago">
          <th mat-header-cell *matHeaderCellDef> Forma de pago </th>
          <td mat-cell *matCellDef="let element">{{element.variedad}}</td>
        </ng-container>
        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let element">{{element.origen}}</td>
        </ng-container>
        <ng-container matColumnDef="tipo_moneda">
          <th mat-header-cell *matHeaderCellDef> Tipo moneda </th>
          <td mat-cell *matCellDef="let element">{{element.rec_destino}}</td>
        </ng-container>
        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef> Monto </th>
          <td mat-cell *matCellDef="let element">{{element.rec_destino}}</td>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element">{{element.rec_destino}}</td>
        </ng-container>
        <ng-container matColumnDef="impreso">
          <th mat-header-cell *matHeaderCellDef> Impreso </th>
          <td mat-cell *matCellDef="let element"><span *ngIf="impreso" class="check">
              <mat-icon>done</mat-icon>
            </span></td>
        </ng-container>
        <ng-container matColumnDef="icons">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="imprimir()">
                <mat-icon>print</mat-icon>
                <span>Imprimir documento</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>
  <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
</mat-tab-group>