<button mat-icon-button class="btnClose" (click)="cerrar()">
  <mat-icon>close</mat-icon>
</button>

<h1 mat-dialog-title>Carga camión</h1>

<mat-form-field>
  <mat-label class="labelInput">Empresa transporte</mat-label>
  <input matInput disabled>
</mat-form-field>

<mat-form-field>
  <mat-label class="labelInput">Tipo camión</mat-label>
  <input matInput disabled>
</mat-form-field>

<mat-form-field>
  <mat-label class="labelInput">Peso ingreso</mat-label>
  <input matInput disabled>
</mat-form-field>

<mat-form-field>
  <mat-label class="labelInput">Patente</mat-label>
  <input matInput disabled>
</mat-form-field>

<mat-form-field>
  <mat-label class="labelInput">Chofer</mat-label>
  <input matInput disabled>
</mat-form-field>

<mat-form-field>
  <mat-label class="labelInput">Contenedor</mat-label>
  <input matInput disabled>
</mat-form-field>

<mat-form-field>
  <mat-label class="labelInput">Tara</mat-label>
  <input matInput disabled>
</mat-form-field>
<br>
<mat-form-field>
  <mat-label class="labelInput">OV</mat-label>
  <input matInput>
</mat-form-field>

<!-- TABLA  --> 
<div class="contenedorTabla">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="folio">
      <th mat-header-cell *matHeaderCellDef> Folio </th>
      <td mat-cell *matCellDef="let element">{{element.folio}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
    </ng-container>
    <ng-container matColumnDef="especie">
      <th mat-header-cell *matHeaderCellDef> especie </th>
      <td mat-cell *matCellDef="let element">{{element.especie}}</td>
    </ng-container>
    <ng-container matColumnDef="variedad">
      <th mat-header-cell *matHeaderCellDef> variedad </th>
      <td mat-cell *matCellDef="let element">{{element.variedad}}</td>
    </ng-container>
    <ng-container matColumnDef="categoria_real">
      <th mat-header-cell *matHeaderCellDef> Categoria real </th>
      <td mat-cell *matCellDef="let element">{{element.categoria_real}}</td>
    </ng-container>
    <ng-container matColumnDef="categoria_rotulada">
      <th mat-header-cell *matHeaderCellDef> Categoria rotulada </th>
      <td mat-cell *matCellDef="let element">{{element.categoria_rotulada}}</td>
    </ng-container>
    <ng-container matColumnDef="peso">
      <th mat-header-cell *matHeaderCellDef> Peso </th>
      <td mat-cell *matCellDef="let element">{{element.peso}}</td>
    </ng-container>
    <ng-container matColumnDef="tipo_envase">
      <th mat-header-cell *matHeaderCellDef> Tipo envase </th>
      <td mat-cell *matCellDef="let element">{{element.tipo_envase}}</td>
    </ng-container>
    <ng-container matColumnDef="dimension">
      <th mat-header-cell *matHeaderCellDef> Dimensión </th>
      <td mat-cell *matCellDef="let element">{{element.dimension}}</td>
    </ng-container>
    <ng-container matColumnDef="etiqueta">
      <th mat-header-cell *matHeaderCellDef> Etiqueta </th>
      <td mat-cell *matCellDef="let element">{{element.etiqueta}}</td>
    </ng-container>
    <ng-container matColumnDef="embalaje">
      <th mat-header-cell *matHeaderCellDef> Embalaje </th>
      <td mat-cell *matCellDef="let element">{{element.embalaje}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="text-right mt-2">
  <button mat-fab color="warn" matTooltip="Añadir folios" (click)="guardar()">
    <mat-icon>check</mat-icon>
  </button>
</div>