<div class="col-12 mt-2">
  <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Devolver a packing por OT </h1>
</div>
<hr>
<!-- INFORMACION encabezado -->
<div class="row">
  <div class="col-xl-2 col-l-3">
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>OT</mat-label>
      <input matInput disabled="true" value="28553">
    </mat-form-field>
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>Frigorífico</mat-label>
      <input matInput disabled="true" value="FRIO TENO">
    </mat-form-field>
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>Packing</mat-label>
      <input matInput disabled="true" value="PACK U TENO">
    </mat-form-field>
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>Productor</mat-label>
      <input matInput disabled="true" value="TAGLE">
    </mat-form-field>
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>Variedad</mat-label>
      <input matInput disabled="true" value="MANZANAS RED CHIEF">
    </mat-form-field>
  </div>

  <div class="col-xl-2 col-l-3">
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>Asignación</mat-label>
      <input matInput disabled="true" value="FIJA">
    </mat-form-field>
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>Línea</mat-label>
      <input matInput disabled="true" value="1">
    </mat-form-field>
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>Turno</mat-label>
      <input matInput disabled="true" value="1">
    </mat-form-field>
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>Tipo frío</mat-label>
      <input matInput disabled="true" value="A/C">
    </mat-form-field>
  </div>
</div>

<!-- tabla -->
<div class="contenedorTabla">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="guia">
    <th mat-header-cell *matHeaderCellDef> Guía </th>
    <td mat-cell *matCellDef="let element"> {{element.guia}} </td>
  </ng-container>

  <ng-container matColumnDef="linea">
    <th mat-header-cell *matHeaderCellDef> Línea </th>
    <td mat-cell *matCellDef="let element"> {{element.linea}} </td>
  </ng-container>

  <ng-container matColumnDef="recepcion">
    <th mat-header-cell *matHeaderCellDef> Fecha recepción </th>
    <td mat-cell *matCellDef="let element"> {{element.recepcion}} </td>
  </ng-container>

  <ng-container matColumnDef="camara">
    <th mat-header-cell *matHeaderCellDef> Camara </th>
    <td mat-cell *matCellDef="let element"> {{element.camara}} </td>
  </ng-container>

  <ng-container matColumnDef="envase">
    <th mat-header-cell *matHeaderCellDef>Envase</th>
    <td mat-cell *matCellDef="let element"> {{element.envase}} </td>
  </ng-container>

  <ng-container matColumnDef="condicion">
    <th mat-header-cell *matHeaderCellDef>Condición </th>
    <td mat-cell *matCellDef="let element"> {{element.condicion}} </td>
  </ng-container>

  <ng-container matColumnDef="desp">
    <th mat-header-cell *matHeaderCellDef> Desp. </th>
    <td mat-cell *matCellDef="let element"> {{element.desp}} </td>
  </ng-container>

  <ng-container matColumnDef="a_despachar">
    <th mat-header-cell *matHeaderCellDef> A devolver </th>
    <td mat-cell *matCellDef="let element"><input class="inputCantidad" type="number" value="3"></td>
  </ng-container>

  <ng-container matColumnDef="kilos">
    <th mat-header-cell *matHeaderCellDef> Kilos </th>
    <td mat-cell *matCellDef="let element"> {{element.kilos}} </td>
  </ng-container>

  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="asignar_folio_despachar()">
          <mat-icon><i class="fas fa-truck"></i></mat-icon>
          <span>Asignar folios a devolver</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<mat-paginator [length]="100" [pageSize]="20" [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>


<!-- botones flotantes (volver y guardar) -->
<div class="btn-plus2">
  <button mat-fab color="primary" title="Volver" class="btn-volver" (click)="volverDespachoPacking()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="btn-plus">
  <button mat-fab title="Guardar cambios" class="btn-add" color="warn" (click)="devolver()">
    <mat-icon>check</mat-icon>
  </button>
</div>