<!-- FAVORITOS -->
<button class="addToFavorites mt-3 mr-3" (click)="agregarFavorito()">
  <mat-icon [ngClass]="{'active': esFavorito}">star</mat-icon>
</button>

<!-- SLIDER -->
<div class="row">
  <div class="col-12" *ngIf="cargandoFrigo">
    <mat-form-field>
      <mat-label>Frigorífico</mat-label>
      <mat-select [(ngModel)]="frigoSel" (selectionChange)="selFrigorifico($event)">
        <mat-option [value]="frig.id" *ngFor="let frig of frigorificos">{{frig.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="ml-5">
      Pendientes
      <mat-slide-toggle [checked]="pendiente" (change)="cambioEstado($event)">
        Realizadas
      </mat-slide-toggle>
    </span>
  </div>
  <div class="col-12" *ngIf="!cargandoFrigo">
    <p class="tituloTabla"><strong>Cargando Frigoríficos...</strong></p>
  </div>
</div>

<h1 class="tituloTabla" *ngIf="mostrarTabla">
  <i class=" fas fa-angle-double-right"></i>
  {{tituloTabla}}
</h1>

<mat-form-field class="buscador" *ngIf="mostrarTabla">
  <mat-placeholder>
    <mat-icon>search</mat-icon>Buscar...
  </mat-placeholder>
  <input matInput (keyup)="filtrar($event.target.value)">
</mat-form-field>

<!-- TABLA  -->
<div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="mostrarTabla">
    <ng-container matColumnDef="num_Guia_Recepcion">
      <th mat-header-cell *matHeaderCellDef>Guía Recepción</th>
      <td mat-cell *matCellDef="let element">{{element.num_Guia_Recepcion}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha recepción</th>
      <td mat-cell *matCellDef="let element">{{element.dat_Fecha_Recepcion }}</td>
    </ng-container>
    <ng-container matColumnDef="cod_productor">
      <th mat-header-cell *matHeaderCellDef>Razón Social</th>
      <td mat-cell *matCellDef="let element">{{element.des_RazonSocial_Productor}}</td>
    </ng-container>
    <ng-container matColumnDef="huerto">
      <th mat-header-cell *matHeaderCellDef> Huerto desc.</th>
      <td mat-cell *matCellDef="let element">{{element.des_Nombre_Huerto}}</td>
    </ng-container>
    <ng-container matColumnDef="cod_especie">
      <th mat-header-cell *matHeaderCellDef>Especie</th>
      <td mat-cell *matCellDef="let element">{{element.des_Nombre_Especie}}</td>
    </ng-container>
    <ng-container matColumnDef="guia_productor">
      <th mat-header-cell *matHeaderCellDef>Guía productor</th>
      <td mat-cell *matCellDef="let element">{{element.num_Guia_Productor}}</td>
    </ng-container>
    <ng-container matColumnDef="patente">
      <th mat-header-cell *matHeaderCellDef>Patente(s)</th>
      <td mat-cell *matCellDef="let element">{{element.des_Patentes}}</td>
    </ng-container>
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="ckuTabla(element)">
            <mat-icon>check</mat-icon>
            <span>CKU</span>
          </button>
          <!-- <button mat-menu-item (click)="imprimirFolio()">
          <mat-icon>print</mat-icon>
          <span>Imprimir folio bins</span>
        </button> -->
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>
<div style="width: 100%; text-align: center;">
  <button *ngIf="tablaError" class="recargar_tabla" mat-raised-button title="Recargar tabla" color="primary"
    (click)="recargar()">
    <mat-icon>cached</mat-icon>
    Recargar tabla
  </button>
</div>


<div class="paginador" *ngIf="mostrarTabla">
  <button mat-icon-button matTooltip="Siguiente" (click)="siguiente()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <select class="numeroPagina" matTooltip="Items por página">
    <option value="20" selected>20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <button mat-icon-button matTooltip="Anterior" (click)="anterior()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</div>