.tituloTabla{
    font-size: 14px;
    color: rgb(52, 76, 143);
    float: left;
}
.buscador{
  float: right;
  display: block;
  opacity: 0.5;
  text-align: left !important;
}
.mat-icon-button{
float: right;
background-color: rgb(247, 247, 247);
}

.mat-icon-button:hover{
background-color: white;
}
mat-spinner{
  margin: 0 auto;
  margin-top: 4em;
}

.mat-icon-button:focus{
outline: none;
}

mat-paginator{
  background: transparent;
  float: left;
}
.ng-star-inserted{
    text-align: center !important;
    justify-content: center;
}

.left{
  text-align: left;
  width: 10em;
  margin-bottom: 0;
  align-self: center;
  margin: 0 auto;
}
h1{
  margin-bottom: 0;
}

