<!-- favoritos -->
<button class="addToFavorites mt-3 mr-3" (click)="agregarFavorito()">
  <mat-icon [ngClass]="{'active': esFavorito}">star</mat-icon>
</button>

<div class="row">
  <div class="col-12">
    <span>
      Pendientes
      <mat-slide-toggle (change)="cambioEstado($event)">
        Realizadas
      </mat-slide-toggle>
    </span>
  </div>
</div>
<br>

<h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Despacho a Packing</h1>
<mat-form-field class="buscador" *ngIf="mostrarTabla">
  <mat-placeholder>
    <mat-icon>search</mat-icon> Buscar...
  </mat-placeholder>
  <input matInput (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<div class="contenedorTabla">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="mostrarTabla">

  <ng-container matColumnDef="ot">
    <th mat-header-cell *matHeaderCellDef> OT </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha_ot">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.fechaProceso}} </td>
  </ng-container>

  <ng-container matColumnDef="productor">
    <th mat-header-cell *matHeaderCellDef> Productor</th>
    <td mat-cell *matCellDef="let element"><p class="left">{{element.productor.nombre}}</p></td>
  </ng-container>

  <ng-container matColumnDef="variedad">
    <th mat-header-cell *matHeaderCellDef> Variedad </th>
    <td mat-cell *matCellDef="let element"><p class="left">{{element.variedad.nombre}} </p></td>
  </ng-container>

  <ng-container matColumnDef="tipo_frio">
    <th mat-header-cell *matHeaderCellDef>Tipo Frío</th>
    <td mat-cell *matCellDef="let element"> {{element.tipoFrio.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="Linea">
    <th mat-header-cell *matHeaderCellDef>Línea </th>
    <td mat-cell *matCellDef="let element"> {{element.lineaMaquina}} </td>
  </ng-container>

  <ng-container matColumnDef="turno">
    <th mat-header-cell *matHeaderCellDef> Turno </th>
    <td mat-cell *matCellDef="let element"> {{element.turno}} </td>
  </ng-container>

  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="despacho_packing_OT(element)" *ngIf="!mostrar">
          <mat-icon><i class="fas fa-truck"></i></mat-icon>
          <span>Asignar bins al proceso</span>
        </button>
        <button mat-menu-item (click)="despacho_packing_OTVerDetalle(element)" *ngIf="mostrar">
          <mat-icon><i class="fas fa-arrow-alt-circle-left"></i></mat-icon>
          <span>Ver Detalle</span>
        </button>
        <button mat-menu-item (click)="cerrar(element)">
          <mat-icon><i class="fas fa-arrow-alt-circle-left"></i></mat-icon>
          <span>{{mensaje}}</span>
        </button>
        <!-- <button mat-menu-item (click)="anular_packing_OT()" *ngIf="!mostrar">
          <mat-icon><i class="fas fa-times"></i></mat-icon>
          <span>Eliminar</span>
        </button> -->
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>
<div style="width: 100%; text-align: center;">
  <button *ngIf="tablaError" class="recargar_tabla" mat-raised-button title="Recargar tabla" color="primary"
    (click)="recargar()">
    <mat-icon>cached</mat-icon>
    Recargar tabla
  </button>
</div>

<div class="paginador">

  <button mat-icon-button matTooltip="Siguiente">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <select class="numeroPagina" matTooltip="Items por página">
    <option value="20" selected>20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <button mat-icon-button matTooltip="Anterior">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

</div>