<p><i class="fas fa-trash-alt"></i> {{mensaje}}</p>
<hr>
<div class="contenedorBtn2">
  <button mat-raised-button class="cancelar" (click)="No()"> Cancelar </button>
  <button mat-raised-button class="eliminar" (click)="Si()">Si, cerrar </button>
</div>