<div>
  <button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<br>
<div mat-dialog-title class="encabezado">
  <p class="ml-1">Línea: {{linea}}</p>

  <mat-form-field appearance="fill">
    <mat-label>Guía:</mat-label>
    <input matInput disabled="true">
    {{guia2}}
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cantidad:</mat-label>
    <input matInput disabled="true">
    1
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Especie/variedad:</mat-label>
    <input matInput disabled="true">
    {{especie}}/{{variedad}}
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cámara:</mat-label>
    <input matInput disabled="true">
    {{camara}}
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Huerto: </mat-label>
    <input matInput disabled="true">
    {{huerto}}
  </mat-form-field>

</div>

<div mat-dialog-content>
  <table style="width:100%">
    <tr>
      <th>
        <mat-checkbox (change)="checkTodo($event)"></mat-checkbox>
      </th>
      <th>Bins</th>
    </tr>
    <tr *ngFor="let bins of listaBins">
      <th>
        <mat-checkbox (change)="checkSeleccionados($event)" [(ngModel)]="bins.check"></mat-checkbox>
      </th>
      <td>{{ bins.folio }}</td>
    </tr>
  </table>
</div>
<mat-spinner *ngIf="!asignarDialog" [diameter]="50"></mat-spinner>
<div mat-dialog-actions>
  <p class="d-inline">Total bins: {{ listaBins.length }}</p>
  <div class="btn_imprimir">
    <button color="primary" mat-button (click)="asignarFolios()">
      <mat-icon>check</mat-icon> Asignar folios
    </button>
  </div>
</div>