<div class="col-md-12 text-center mt-3">
  <div *ngIf="menuBusqueda.length == 0">
    <p> Sin Resultados. </p>
    <button mat-button color="primary" (click)="salir()">Salir</button>
  </div>
  <div *ngIf="buscando">
    <div>
      <h1 class="tituloBusqueda">Busqueda</h1> <button mat-button color="primary" (click)="salir()">Salir</button>
    </div>
    <hr>
    <button *ngFor="let menu of menuBusqueda" class="style_prevu_kit" (click)="ir(menu.url)">
      <i class="fas fa-apple-alt"></i>
      <span class="d-block Favs"> {{menu.nombre}} </span>
    </button>
  </div>
</div>