
/*BOTONES FAVORITOS CENTRAL*/
.style_prevu_kit{
  display:inline-block;
  border:0;
  width:140px;
  height:140px;
  margin: 0.2em;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
  background-color: rgb(248,248,248);
  cursor: pointer;
  outline: none;
}

.style_prevu_kit:hover {
  color: white;
  background-color: #202F58;
  box-shadow: 0px 0px 50px #3d3d3d 0.5;
  z-index: 2;
  -webkit-transition: all 100ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.2);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 200ms ease-in;
  transform: scale(1.2);
}
.style_prevu_kit:hover i{
  color: white;
}

#titleFav{
  color: white;
}

.style_prevu_kit i{
  color: #444444;
  font-size: 2em;
  position: relative;
  top: -0.5em;
}


.tituloBusqueda{
  color: #3d3d3d;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.Favs{
  font-size: 0.75em;
  padding: 0.2em;
  position: absolute;
  text-align: center !important;
  top: 7em;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 1000px) {

.tituloBusqueda{
  margin-top: 2em;
}
}

@media (max-width: 750px) {

.tituloBusqueda{
  margin-top: 1em;
}
}

@media (max-width: 430px) {
  .style_prevu_kit{
  width:120px;
  height:100px;
}
.iconFav{
  font-size: 1.5em;
}
.Favs{
  font-size: 0.6em;
  top: 5.5em;
}
.tituloBusqueda{
  color: #3d3d3d;
  font-size: 1em;
  margin-top: 0;
}
}
