<!-- INFORMACION DE RECEPCION -->
<div class="pantallaRecepcion">
  <div><i class="fas fa-chevron-circle-right mr-2"></i><strong>Información de Recepción</strong></div>
  <hr>
  <div class="row mt-1">
    <div class="col-xl-2 col-l-3">
      <mat-form-field class="rutTest" appearance="fill">
        <mat-label class="labelInput">Rut productor</mat-label>
        <input #rutInput matInput maxlength="9" [ngModelOptions]="{standalone: true}" [disabled]="editandoRecepcion"
          (change)="formatoRut($event.target.value)" [(ngModel)]="rut">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Productores</mat-label>
        <mat-select [(ngModel)]="productorIntencion" (selectionChange)="selectProductoresInt($event)"
          [disabled]="editandoRecepcion">
          <mat-option *ngFor="let productorIntencion of productorIntenciones"
            [value]="productorIntencion.id + '-' + productorIntencion.codProductor ">{{productorIntencion.id}}
            {{productorIntencion.codProductor}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="textoTitulos">
        <p>Productor:</p>
        <p class="mostrarProductor"> {{ productor }} </p>
      </div>
    </div>

    <div class="col-xl-2 col-l-3">
      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Huerto</mat-label>
        <mat-select [(ngModel)]="huerto" (selectionChange)="selectHuerto($event.value)" #inputHuerto
          [disabled]="editandoRecepcion">
          <mat-option *ngFor="let huerto of huertos" [value]="huerto.id">{{huerto.id}}-{{huerto.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="textoTitulos">
        <p>CSG:</p>
        <p class="mostrarCSG">{{csg}}</p> <!-- Aqui se muestra el codigo CSG-->
      </div>
    </div>

    <div class="col-xl-2 col-l-3">
      <mat-radio-group *ngIf="false" [(ngModel)]="modoPesaje" (change)="especievariedadOption($event)" disabled="true">
        <mat-label class="textoTitulos d-block">Modo pesaje</mat-label>
        <mat-radio-button value=1 class="d-inline ml-2">Especie </mat-radio-button>
        <mat-radio-button value=2 class="d-inline ml-2">Variedad</mat-radio-button>
      </mat-radio-group>     
      <mat-label class="textoTitulos d-block">Modo pesaje: Variedad</mat-label>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="textoTitulos col-12">
      <p>Nº Recepción: {{idGuia}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-2 col-l-3">
      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Guía SII</mat-label>
        <input [disabled]="editandoRecepcion" matInput [(ngModel)]="guiaProductor">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Frigorífico</mat-label>
        <mat-select [(ngModel)]="frigorifico" (selectionChange)="selFrigorifico($event.value)"
          [disabled]="editandoRecepcion">
          <mat-option (onSelectionChange)="obtenerFrigo(frigorifico.nombre)" *ngFor="let frigorifico of frigorificos"
            [value]="frigorifico.id">{{frigorifico.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xl-2 col-l-3">
      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Fecha Cosecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fechaCosecha" [disabled]="editandoRecepcion">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Fecha Despacho</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaDespacho" [disabled]="editandoRecepcion">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Fecha Recepción</mat-label>
        <input matInput [matDatepicker]="picker3" disabled="true" [(ngModel)]="fechaRecepcion">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- Información del camion -->
    <div class="col-xl-2 col-l-3">
      <p class="ml-3"><strong>Información del Camión</strong></p>
      <div class="col-xl-2 col-l-3">
        <mat-form-field appearance="fill">
          <mat-label class="labelInput">Rut chofer</mat-label>
          <input matInput [(ngModel)]="chofer" (change)="verificarChofer()" [disabled]="editandoRecepcion">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label class="labelInput">Nombre Chofer</mat-label>
          <input matInput [(ngModel)]="nombreChofer" (change)="agregarChofer()" [disabled]='!this.choferNoEncontrado'>
        </mat-form-field>
      </div>

      <div class="col-xl-2 col-l-3">
        <mat-form-field appearance="fill">
          <mat-label class="labelInput">Patente Camión</mat-label>
          <input #patente matInput [(ngModel)]="patenteCamion" (change)="patenteUpper()" [disabled]="editandoRecepcion">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label class="labelInput">Patente Carro/Rampla</mat-label>
          <input type="text" (change)="patenteUpper()" matInput (input)="validaPatente($event.target.value)"
            [disabled]="editandoRecepcion" [(ngModel)]="patenteCarro">
        </mat-form-field>
      </div>
    </div>

    <!-- Solo se muestra este Pesaje (por romana() Si se escoge ESPECIE -->
    <div class="col-xl-3 col-l-3">
      <mat-card class="pesoPorEspecie text-center">
        <mat-form-field appearance="fill">
          <mat-label>Seccion</mat-label>
          <mat-select [(ngModel)]="seccion" (selectionChange)="selSeccion($event)" [disabled]="editandoRecepcion">
            <mat-option [value]="seccion.id" *ngFor="let seccion of secciones">{{seccion.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Balanza</mat-label>
          <mat-select [(ngModel)]="balanza" (selectionChange)="selBalanza($event)">
            <mat-option [value]="balanza.id" *ngFor="let balanza of balanzas">{{balanza.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="mostrarPeso=='1'">
          <mat-label>Peso entrada</mat-label>
          <input #ingresopeso [(ngModel)]="ingresoPeso" matInput type="number" (input)="cambioPeso($event)">
        </mat-form-field>

        <table *ngIf="mostrarPeso=='1'">
          <tr>
            <td class="text-left">
              <mat-radio-button value="1" (change)="cambioModoPesaje($event.value)" checked>Camión</mat-radio-button>
            </td>
            <th>
              <input [(ngModel)]="pesoCamion" disabled="true" name="pesoCamion" type="number" class="inputPeso">
            </th>
          </tr>
          <tr>
            <td class="text-left">
              <mat-radio-button value="2" (change)="cambioModoPesaje($event.value)">Carro</mat-radio-button>
            </td>
            <th>
              <input [(ngModel)]="pesoCarro" name="pesoCarro" type="number" class="inputPeso" disabled="true">
            </th>
          </tr>
          <tr>
            <th></th>
            <th><input [(ngModel)]="pesoBrutoTotal" [disabled]=true type="number" class="inputPeso totalPesoEspecie"
                name="pesoBruto" placeholder="Total"></th>
          </tr>
          <tr>
            <th></th>
            <th>
              <button mat-raised-button color="primary" (click)="actualizarPesoBruto()" [disabled]="!validadorCampos()"
                *ngIf="this.editandoRecepcion">Actualizar Peso</button>
            </th>
          </tr>
        </table>
      </mat-card>
    </div>
  </div>

  <div class="col-l-12 mb-2">
    <button mat-raised-button color="primary" (click)="guardarCabeceraRecepcion()" [disabled]="!validadorCampos()"
      *ngIf="!actualizarEncabezado">Guardar recepción
      <mat-icon>done</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="guardarCabeceraRecepcion()" [disabled]="!validadorCampos()"
      *ngIf="actualizarEncabezado">Actualizar recepción
      <mat-icon>cached</mat-icon>
    </button>
  </div>

  <!-- <div class="detalle" *ngIf="encabezadoGuardado"> -->
  <div class="detalle">
    <!-- PESTAÑAS RECEPCION, ENVASE SALIDA Y DESTARE -->
    <mat-tab-group mat-align-tabs="start" (selectedIndexChange)="tabs($event)" [selectedIndex]="selected.value">
      <!-- TAB DETALLE RECEPCION -->
      <mat-tab [disabled]="!muestraTabs" label="Recepción">
        <div class="row">
          <div class="col-12 ml-1">
            <!-- DATOS PARA GUIA DE RECEPCION  -->
            <!-- *ngIf="!totalValida "  -->
            <p class="titulosTablas">Guía recepción líneas</p>
            <button [disabled]="!muestraTabs" color="warn" class="btn_nuevalinea" (click)="agregarNuevaLinea()"
              mat-button>Agregar nueva línea
              <mat-icon>add</mat-icon>
            </button>
            <div class="contenedorRecepcion">
              <!-- TABLA GUIA DE RECEPCION -->
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="especie">
                  <th mat-header-cell *matHeaderCellDef> Especie </th>
                  <td mat-cell *matCellDef="let element">{{element.especieNombre}}</td>
                </ng-container>
                <ng-container matColumnDef="variedad">
                  <th mat-header-cell *matHeaderCellDef> Variedad </th>
                  <td mat-cell *matCellDef="let element">{{element.variedadNombre}}</td>
                </ng-container>
                <ng-container matColumnDef="sdp">
                  <th mat-header-cell *matHeaderCellDef> SDP</th>
                  <td mat-cell *matCellDef="let element">{{element.sdp}}</td>
                </ng-container>
                <ng-container matColumnDef="pesobruto">
                  <th mat-header-cell *matHeaderCellDef> Peso Bruto </th>
                  <td mat-cell *matCellDef="let element">{{ element.pesoBruto | number:'1.00-2' }}</td>
                </ng-container>
                <ng-container matColumnDef="cant_env">
                  <th mat-header-cell *matHeaderCellDef> Cantidad envases </th>
                  <td mat-cell *matCellDef="let element">{{ element.cantEnvases }}</td>
                </ng-container>
                <ng-container matColumnDef="env">
                  <th mat-header-cell *matHeaderCellDef> Env. cosecha </th>
                  <td mat-cell *matCellDef="let element">{{element.envaseCosecha.nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="neto">
                  <th mat-header-cell *matHeaderCellDef> NETO </th>
                  <td mat-cell *matCellDef="let element">{{element.calculoNeto | number:'1.00-2' }}</td>
                </ng-container>
                <ng-container matColumnDef="promedio">
                  <th mat-header-cell *matHeaderCellDef> Promedio </th>
                  <td mat-cell *matCellDef="let element">{{element.promedio | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="linea">
                  <th mat-header-cell *matHeaderCellDef> Línea </th>
                  <td mat-cell *matCellDef="let element">{{element.linea}}</td>
                </ng-container>
                <ng-container matColumnDef="icons">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button [disabled]="validaIngresaLinea" mat-icon-button [matMenuTriggerFor]="menu" class="menuIcon">
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <!-- <button mat-menu-item>
                      <mat-icon><i class="fas fa-tags"></i></mat-icon>
                      <span>Abrir lote</span>
                    </button> -->
                      <button mat-menu-item (click)="modificarPesoBruto(element)" *ngIf="mostrarPeso === '2'">
                        <mat-icon><i class="fas fa-weight"></i></mat-icon>
                        <span>Modificar peso bruto</span>
                      </button>
                      <button *ngIf="mostrarPeso === '2'" mat-menu-item (click)="editarVariedadPesa(element)">
                        <mat-icon><i class="fas fa-weight"></i></mat-icon>
                        <span>Editar</span>
                      </button>
                      <button mat-menu-item (click)="eliminarLineaDetalle(element)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar línea</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <button [disabled]="!muestraTabs" (click)="crearReporte()" color="primary" class="mt-3" mat-button
              printSectionId="print-section-transitoria" ngxPrint>
              <mat-icon>print</mat-icon> Imprimir transitoria
            </button>
          </div>
        </div>
      </mat-tab>
      <!-- TAB ENVASE ENTRADA -->
      <mat-tab [disabled]="!muestraTabs" label="Envase entrada">
        <div class="row mt-1">
          <div class="col-12 ml-1">
            <div class="contenedorEnvaseSalida">
              <p class="titulosTablas">Detalle de entrada de envases</p>
              <mat-card class="cardRecepcionLinea">
                <mat-form-field appearance="fill" class="selectSmall">
                  <mat-label name="Env. Cosecha">Env. Cosecha</mat-label>
                  <mat-select (selectionChange)="selecionEnvaseEntrada($event.value)" [(ngModel)]="envaseEntrada">
                    <mat-option *ngFor="let env of arr_envases;let ind = index" [value]="env.id">{{env.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>P. Env.</mat-label>
                  <input [(ngModel)]="pesoEnvaseDetEntrada" (change)="validarTaraEntrada($event.target.value)" matInput
                    disabled="false">
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Unifrutti</mat-label>
                  <input matInput type="number" [(ngModel)]="cantUnidetEnvaseEntrada"
                    (keyup)="recalcularDetEnvEnt($event)">
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Otros</mat-label>
                  <input [(ngModel)]="cantOtroDetEnvaseEntrada" type="number" (keyup)="recalcularDetEnvEnt($event)"
                    matInput>
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Total</mat-label>
                  <input matInput disabled="true" type="number"
                    [value]="(cantUnidetEnvaseEntrada + cantOtroDetEnvaseEntrada) | number:'1.00-2'">
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Kilos Env.</mat-label>
                  <input matInput disabled="true" [value]="totalKilosEnvasesDetEntrada | number:'1.00-2'">
                </mat-form-field>
                <!-- <button matButton class="buttonAdd m-1" (click)="sumarEnvDetEntrada()">
                  <mat-icon color="warn" title="Añadir"><i class="fas fa-plus-square"></i></mat-icon>
                </button> -->
                <button mat-raised-button color="primary" (click)="agregarDetalleEnvaseEntrada()"
                  [disabled]="validaIngresaLinea || !encabezadoGuardadoEnvaseSalida">
                  <mat-icon>add</mat-icon>
                  Agregar envase
                </button>
              </mat-card>

              <!-- TABLA -->
              <table mat-table [dataSource]="dataSourceEnvasesEntrada" class="mat-elevation-z8">
                <ng-container matColumnDef="1">
                  <th mat-header-cell *matHeaderCellDef> Env. cosecha </th>
                  <td mat-cell *matCellDef="let element">{{ element.envaseCosecha.nombre }}</td>
                </ng-container>
                <ng-container matColumnDef="2">
                  <th mat-header-cell *matHeaderCellDef> P. Env. </th>
                  <td mat-cell *matCellDef="let element">{{ element.tara | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="3">
                  <th mat-header-cell *matHeaderCellDef> Unifrutti </th>
                  <td mat-cell *matCellDef="let element">{{ element.cantEnvasesUni | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="4">
                  <th mat-header-cell *matHeaderCellDef> Otros</th>
                  <td mat-cell *matCellDef="let element">{{ element.cantEnvasesOtros | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="5">
                  <th mat-header-cell *matHeaderCellDef> Total </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.cantEnvasesUni + element.cantEnvasesOtros | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="6">
                  <th mat-header-cell *matHeaderCellDef> Kilos env. </th>
                  <td mat-cell *matCellDef="let element">
                    {{ (element.tara * (element.cantEnvasesUni + element.cantEnvasesOtros )) | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="icons">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button [disabled]="validaIngresaLinea" mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button *ngIf="element.delete" mat-menu-item (click)="eliminarEnvasesEntrada(element)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
              </table>
            </div>
          </div>
        </div>
      </mat-tab>
      <!-- TAB ENVASE SALIDA -->
      <mat-tab [disabled]="!muestraTabs" label="Envase salida">
        <div class="row mt-1">
          <div class="col-12 ml-1">
            <!-- CABECERA ENVASE SALIDA -->
            <div class="contenedorEnvaseSalida">
              <p class="titulosTablas">Detalle de salida de envases</p>
              <!-- Este numero de guía es de Unifrutti, es igual para todas las lineas -->
              <mat-form-field appearance="fill" class="selectSmall ml-1">
                <mat-label>Nº Guía Unifrutti</mat-label>
                <input [disabled]="encabezadoGuardadoEnvaseSalida" matInput type="number" [(ngModel)]="nGuiaUnifrutti">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Huerto</mat-label>
                <mat-select [disabled]="encabezadoGuardadoEnvaseSalida" [(ngModel)]="huerto">
                  <mat-option *ngFor="let huerto of huertos" [value]="huerto.id">{{huerto.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label name="Env. Cosecha">Glosa</mat-label>
                <mat-select [disabled]="encabezadoGuardadoEnvaseSalida" (selectionChange)="selecionGlosa($event.value)"
                  [(ngModel)]="glosaGlob">
                  <mat-option (onSelectionChange)="obtenerGlosa(glosa)" *ngFor="let glosa of glosas;let ind = index"
                    [value]="glosa.id">{{glosa.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <mat-form-field appearance="fill" class="selectSmall ml-1">
                <mat-label>Glosa</mat-label>
                <input [disabled]="encabezadoGuardadoEnvaseSalida" matInput [(ngModel)]="glosa">
              </mat-form-field> -->
              <button mat-raised-button color="primary" (click)="guardarEncabezadoEnvSalida()"
                [disabled]="encabezadoGuardadoEnvaseSalida">Guardar Encabezado</button>

              <!-- DETALLE DE ENVASE SALIDA -->
              <mat-card class="cardRecepcionLinea">
                <mat-form-field appearance="fill" class="selectSmall">
                  <mat-label name="Env. Cosecha">Env. Cosecha</mat-label>
                  <mat-select (selectionChange)="selecionEnvaseSalida($event.value)" [(ngModel)]="envaseSalida">
                    <mat-option *ngFor="let env of arr_envases;let ind = index" [value]="env.id">{{env.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>P. Env.</mat-label>
                  <input [(ngModel)]="pesoEnvaseDetSalida" (change)="validarTaraEnvaseSalida($event.target.value)"
                    matInput disabled="false">
                  <mat-hint>{{envaseSalidaMinimo}}-{{envaseSalidaMaximo}}</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Unifrutti</mat-label>
                  <input matInput type="number" [(ngModel)]="cantUnidetEnvaseSalida"
                    (keyup)="recalcularDetEnvSal($event)">
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Otros</mat-label>
                  <input [(ngModel)]="cantOtroDetEnvaseSalida" type="number" (keyup)="recalcularDetEnvSal($event)"
                    matInput>
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Total</mat-label>
                  <input matInput disabled="true" type="number"
                    [value]="(cantUnidetEnvaseSalida + cantOtroDetEnvaseSalida) | number:'1.00-2'">
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Kilos Env.</mat-label>
                  <input matInput disabled="true" [value]="totalKilosEnvasesDetSalida | number:'1.00-2'">
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="agregarDetalleEnvaseSalida()"
                  [disabled]="validaIngresaLinea || !encabezadoGuardadoEnvaseSalida">
                  <mat-icon>add</mat-icon>
                  Agregar envase
                </button>
                <!-- <button matButton class="buttonAdd m-1" (click)="sumarEnvDetSalida()" [disabled]="!encabezadoGuardadoEnvaseSalida">
                  <mat-icon color="warn" title="Añadir envase salida"><i class="fas fa-plus-square"></i></mat-icon>
                </button> -->
              </mat-card>

              <!-- TABLA ENVASES SALIDA-->
              <table mat-table [dataSource]="dataSourceEnvasesSalida" class="mat-elevation-z8">
                <ng-container matColumnDef="1">
                  <th mat-header-cell *matHeaderCellDef> Env. cosecha </th>
                  <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
                </ng-container>
                <ng-container matColumnDef="2">
                  <th mat-header-cell *matHeaderCellDef> P. Env. </th>
                  <td mat-cell *matCellDef="let element">{{ element.tara | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="3">
                  <th mat-header-cell *matHeaderCellDef> Unifrutti </th>
                  <td mat-cell *matCellDef="let element">{{ element.cantEnvasesUni | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="4">
                  <th mat-header-cell *matHeaderCellDef> Otros</th>
                  <td mat-cell *matCellDef="let element">{{ element.cantEnvasesOtros | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="5">
                  <th mat-header-cell *matHeaderCellDef> Total </th>
                  <td mat-cell *matCellDef="let element">{{ element.cantEnvases | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="6">
                  <th mat-header-cell *matHeaderCellDef> Kilos enva. </th>
                  <td mat-cell *matCellDef="let element">{{ (element.tara * element.cantEnvases) | number:'1.00-2' }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="7">
                  <th mat-header-cell *matHeaderCellDef> Nº Guía</th>
                  <td mat-cell *matCellDef="let element"> {{ element.num_guia }}</td>
                </ng-container>
                <ng-container matColumnDef="icons">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button [disabled]="validaIngresaLinea" mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <!-- <button mat-menu-item (click)="ckuTabla(element)">
                      <mat-icon>check</mat-icon>
                      <span>CKU</span>
                    </button>
                    <button mat-menu-item (click)="imprimirFolio()">
                      <mat-icon>print</mat-icon>
                      <span>Imprimir folio bins</span>
                    </button> -->
                      <button mat-menu-item (click)="eliminarEnvasesSalida(element)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
              </table>
            </div>
            <button color="primary" class="mt-3" mat-button (click)="guiaDespacho(1)">
            <mat-icon>done</mat-icon> Generar guía SII
          </button>

            <button color="primary" class="mt-3" mat-button [disabled]="!habilitaInformeSII" (click)="guiaDespacho(1)"
              printSectionId="print-section-guia" ngxPrint>
              <mat-icon>print</mat-icon> Guía SII
            </button>
            <button color="primary" class="mt-3" mat-button (click)="anularGuia()">
              <mat-icon>close</mat-icon> Anular guía SII
            </button>
          </div>
        </div>
      </mat-tab>
      <!-- TAB DESTARE -->
      <mat-tab [disabled]="!muestraTabs" label="Destare">
        <div class="row mt-1">
          <div class="col-12 ml-1">
            <!-- DATOS PARA GUIA DE RECEPCION  -->
            <div class="contenedorDestare">
              <p class="titulosTablas" *ngIf="mostrarPeso!='1'">Control de tara de salida</p>
              <mat-card class="cardRecepcionLinea" *ngIf="mostrarPeso!='1'" style="display:none;">
                <!-- en pesaje por especie no va -->
                <mat-form-field appearance="fill" class="selectSmall">
                  <mat-label>Especie</mat-label>
                  <mat-select (selectionChange)="selEspecieDestare($event.value)" #refEspecie [(ngModel)]="especie">
                    <mat-option *ngFor="let especie of especies ; let i = index" [value]="i"> {{especie.especie}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- en pesaje por especie no va -->
                <mat-form-field appearance="fill" class="selectSmall">
                  <mat-label>Variedad</mat-label>
                  <mat-select (selectionChange)="selVariedadDestare($event.value)" #refVariedad [(ngModel)]="variedad">
                    <mat-option [value]="variedad.variedadNombre" *ngFor="let variedad of variedades ">
                      {{ variedad.variedadNombre }} </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Peso Tara</mat-label>
                  <input [(ngModel)]="pesoDestareVariedad" matInput>
                </mat-form-field>
                <button matButton class="buttonAdd m-1" [disabled]="ValidarSinLineas()"
                  (click)="agregarDestareVariedad()">
                  <mat-icon color="warn" title="Añadir"><i class="fas fa-plus-square"></i></mat-icon>
                </button>
              </mat-card>
              <mat-card class="cardRecepcionLinea" *ngIf="mostrarPeso=='1'" style="display:none;">
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Peso Tara</mat-label>
                  <input [(ngModel)]="pesoDestarePorEspecie" matInput>
                </mat-form-field>
                <button matButton class="buttonAdd m-1" [disabled]="ValidarSinLineas()"
                  (click)="agregarDestareEspecie()">
                  <mat-icon color="warn" title="Añadir"><i class="fas fa-plus-square"></i></mat-icon>
                </button>
              </mat-card>
              <!-- TABLA -->
              <table mat-table [dataSource]="dataSourceDestare" class="mat-elevation-z8">
                <ng-container matColumnDef="1">
                  <th mat-header-cell *matHeaderCellDef> Especie</th>
                  <td mat-cell *matCellDef="let element"> {{element.especie}} </td>
                </ng-container>
                <ng-container matColumnDef="2">
                  <th mat-header-cell *matHeaderCellDef> Variedad </th>
                  <td mat-cell *matCellDef="let element"> {{element.variedad}} </td>
                </ng-container>
                <ng-container matColumnDef="3">
                  <th mat-header-cell *matHeaderCellDef> Cant. Envases </th>
                  <td mat-cell *matCellDef="let element"> {{element.cantidadEnvases | number:'1.00-2'}} </td>
                </ng-container>
                <ng-container matColumnDef="4">
                  <th mat-header-cell *matHeaderCellDef> Peso tara </th>
                  <td mat-cell *matCellDef="let element"> {{element.pesoDestare | number:'1.00-2'}} </td>
                </ng-container>
                <ng-container matColumnDef="icons">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="menuIcon">
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon><i class="fas fa-tags"></i></mat-icon>
                        <span>Abrir lote</span>
                      </button>
                      <button mat-menu-item (click)="modificarPesoBruto( element )">
                        <mat-icon><i class="fas fa-weight"></i></mat-icon>
                        <span>Modificar peso bruto</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar línea</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
              </table>
            </div>
            <button style="display:none;" color="primary" class="mt-3" mat-button (click)="recepcionFinal()"
              printSectionId="print-section-final" ngxPrint>
              <mat-icon>print</mat-icon> Recepción Final
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!-- PESOS DE ENTRADA Y SALIDA -->
    <div class="row mt-5 ml-2 mb-5">
      <div class="col-xl-2 col-l-3">
        <p class="entradaSalida"><strong>Entrada</strong></p>
        <p class="textosEntradaSalida">Peso bruto</p>
        <p class="ESdatos">{{ calculosGenerales.PesoBrutoEntrada | number:'1.00-2'}}</p>
        <p class="textosEntradaSalida">Peso envases</p>
        <p class="ESdatos">{{calculosGenerales.PesoEnvasesEntrada | number:'1.00-2'}}</p>
        <p class="textosEntradaSalida">Peso E/S</p>
        <p class="ESdatos">{{ calculosGenerales.PesoNetoEntrada | number:'1.00-2'}}</p>
      </div>

      <div class="col-xl-2 col-l-3">
        <p class="entradaSalida"><strong>Salida</strong></p>
        <p class="textosEntradaSalida">Peso bruto tara</p>
        <p class="ESdatos">{{ calculosGenerales.PesoBrutoSalida | number:'1.00-2'}}</p>
        <p class="textosEntradaSalida">Peso envases</p>
        <p class="ESdatos">{{calculosGenerales.PesoEnvasesSalida | number:'1.00-2'}}</p>
        <p class="textosEntradaSalida">Peso E/S</p>
        <p class="ESdatos">{{ calculosGenerales.PesoNetoSalida | number:'1.00-2'}}</p>
      </div>

      <div class="col-xl-4 mt-2">
        <p><strong>Peso promedio</strong></p>
        <p class="pesoPromedioFinal">{{ calculosGenerales.PesoPromedio }} Kgs.</p>
      </div>
    </div>

    <!-- OBSERVACIONES -->

    <div><i class="fas fa-chevron-circle-right mr-2"></i><strong>Observaciones</strong></div>
    <hr>
    <div>
      <div class="row">
        <div class="col-6">
          <textarea name="observaciones" class="observaciones" [(ngModel)]="observaciones"></textarea>
        </div>
      </div>
    </div>

  </div>
  <!-- boton flotante para terminar -->

</div>

<!-- /////////////////////////// DOCUMENTO /////////////////////////////////// -->
<div style="display:none">
  <div id="print-section-final"
    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">
    <div>
      <img src="http://www.comitedecitricos.cl/images/stories/associated/logo_unifrutti.png" alt=""
        style="width: 170px; position: absolute; top: 30px;">
      <table style="margin-left: 180px; width: 730px; margin-top: 60px; font-size: 14px;">
        <tr>
          <td>UNIFRUTTI TRADERS SpA</td>
          <td style="text-align: center;">GUIA RECEPCIÓN FRUTA A PROCESO</td>
          <td style="text-align: right;">FECHA: {{fechaRecepcion.toLocaleDateString()}}</td>
        </tr>
        <tr>
          <td>CENTRAL: 20</td>
          <td style="text-align: center;">CONTROL DE ENVASES (TRANSITORIA)</td>
          <td style="text-align: right;">GUIA: {{ idGuia}}</td>
        </tr>
      </table>
    </div>
    <br>
    <hr style="border:1px dashed gray; width: 90%">
    <div align="center">
      <table style="width: 780px; margin-top: 60px; font-size: 14px;">
        <tr>
          <td>RUT PRODUCTOR: <strong>{{this.rutReference.nativeElement.value}} {{this.productor}}</strong> </td>
        </tr>
        <tr>
          <td>HUERTO: <strong>{{ productorIntencion }} - UNI AGRO TENO, CURICO, TENO.</strong> </td>
        </tr>
        <tr>
          <td>PROCEDENCIA: <strong>DE HUERTO</strong> </td>
          <td style="text-align: right;">DESTINO: <strong>FRÍO TENO</strong> </td>
        </tr>
      </table>
    </div>

    <hr style="border:1px dashed gray; width: 90%">
    <div align="">
      <div style="display:flex; justify-content:center">
        <table style="width: 780px; margin-top: 60px; font-size: 14px;" border="1">
          <tr>
            <td>TIPO ENVASE: </td>
            <td>{{ reporte().nombreEnvaseLinea }}</td>
          </tr>
          <tr>
            <td>ENVASES UNIFRUTTI </td>
            <td>{{ reporte().totalUniReporte }}</td>
          </tr>
          <tr>
            <td>ENVASES OTROS</td>
            <td>{{ reporte().totalOtrosReporte }}</td>
          </tr>
          <tr>
            <td>TOTAL ENVASES</td>
            <td> {{ reporte().totalUniReporte + reporte().totalOtrosReporte }} </td>
          </tr>
          <tr>
            <td>PESO BRUTO ENTRADA</td>
            <td> {{ pesoBruto }} </td>
          </tr>
          <tr>
            <td>PESO ENVASES</td>
            <td> {{ reporte().pesoEnvasesReporte }} </td>
          </tr>
          <tr>
            <td>PESO ENTRADA:</td>
            <td> {{ pesoBruto - reporte().pesoEnvasesReporte}} </td>
          </tr>
        </table>
        <table style="width: 780px; margin-top: 60px; font-size: 14px;" border="1">
          <tr>
            <td>TIPO ENVASE: {{ reporte().nombreEnvaseSalida }}</td>
            <td></td>
          </tr>
          <tr>
            <td>ENVASES UNIFRUTTI </td>
            <td>{{ reporte().totalUniSalida }}</td>
          </tr>
          <tr>
            <td>ENVASES OTROS</td>
            <td>{{ reporte().totalOtroSalida }}</td>
          </tr>
          <tr>
            <td>TOTAL ENVASES</td>
            <td>{{ reporte().totalUniSalida + reporte().totalOtroSalida }}</td>
          </tr>
          <tr>
            <td>PESO BRUTO ENTRADA</td>
            <td> {{ pesoBruto }} </td>
          </tr>
          <tr>
            <td>PESO ENVASES</td>
            <td>{{ reporte().pesoEnvasesReporteSalida }}</td>
          </tr>
          <tr>
            <td>PESO ENTRADA:</td>
            <td>{{ pesoBruto - reporte().pesoEnvasesReporteSalida }}</td>
          </tr>
        </table>
      </div>
      <br>
    </div>
    <p style="font-size:14px;"><strong>PESO NETO:
        {{ (pesoBruto - reporte().pesoEnvasesReporte) - (pesoBruto - reporte().pesoEnvasesReporteSalida) }}</strong></p>
    <hr style="border:1px dashed gray; width: 90%">
    <div class="lineas">
      <div align="center">
        <table style="width: 780px; margin-top: 20px; font-size: 14px;">
          <tr>
            <td>ESPECIE: {{ especie }}</td>
            <td style="text-align: right;">USO EXCLUSIVO CKU</td>
          </tr>
        </table>
      </div>

      <div align="center">
        <table style="width: 780px; font-size: 14px; margin-top: 2em;">
          <tr>
            <td style="text-align: center; border: 1px solid gray;">NUMERO GUIA</td>
            <td style="text-align: center; border: 1px solid gray;">VARIEDAD</td>
            <td style="text-align: center; border: 1px solid gray;">BULTOS</td>
            <td style="text-align: center; border: 1px solid gray;">PESO NETO</td>
            <td style="text-align: center; border: 1px solid gray;">KG PROM BULTOS</td>
            <td style="text-align: center; border: 1px solid gray;">FOLIO CKU</td>
            <td style="text-align: center; border: 1px solid gray;">TIPO DUCHA</td>
            <td style="text-align: center; border: 1px solid gray;">PRE-FRIO</td>
            <td style="text-align: center; border: 1px solid gray;">APTITUD</td>
            <td style="text-align: center; border: 1px solid gray;">COND. CKU</td>
          </tr>
          <tr *ngFor=" let ln of ELEMENT_DATA_">
            <td style="text-align: center; border: 1px solid gray;"> {{idGuia}} - {{ ln.linea }} </td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.variedad}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.cantEnvases}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.calculoNeto}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.promedio}}</td>
            <td style="text-align: center; border: 1px solid gray;"> {{ ln.folioCKU }}</td>
            <td style="text-align: center; border: 1px solid gray;"> 0 </td>
            <td style="text-align: center; border: 1px solid gray;"> 0 </td>
            <td style="text-align: center; border: 1px solid gray;">0</td>
            <td style="text-align: center; border: 1px solid gray;"> 0 </td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: right;">TOTAL:</td>
            <td style="text-align: center; border: 1px solid gray;">{{ sumaBultos() }}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ sumaPesoNeto() }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <div style="margin-top: 60px; font-size: 14px;">
      <p style="margin-left: 10%;">
        OBSERVACIONES: {{ observaciones }}
      </p>
      <hr style="border:1px dashed gray; width: 90%">
      <br>
      <hr style="border:1px dashed gray; width: 90%">
      <br>
      <hr style="border:1px dashed gray; width: 90%">
    </div>
    <br>
    <div align="center">
      <table style="width: 780px; margin-top: 60px; font-size: 14px;">
        <tr>
          <td>PATENTE CAMIÓN: <strong>{{patenteCamion}}</strong></td>
        </tr>
        <tr>
          <td>PATENTE CARRO/RAMPLA: <strong>{{patenteCarro}}</strong></td>
        </tr>
      </table>
    </div>

    <div align="center">
      <table style="width: 780px; margin-top: 60px; font-size: 14px;">
        <tr>
          <td style="border-bottom: 1px solid gray; text-align:center; width: 25em !important; margin: 40px;">PALL TENO
          </td>
          <td> </td>
          <td style="border-bottom: 1px solid gray; text-align:center; width: 25em !important; margin: 40px;">
            {{ chofer }} {{nombreChofer}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>

<!-- /////////////////////////// TRANSITORIA /////////////////////////////// -->
<div style="display:none">
  <div id="print-section-transitoria"
    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <div>
      <!-- <img src="http://www.comitedecitricos.cl/images/stories/associated/logo_unifrutti.png" alt="" -->
      <!-- style="width: 170px; position: absolute; top: 30px;"> -->
      <table style="width: 780px; margin-top: 60px; font-size: 14px;">
        <tr>
          <td>UNIFRUTTI TRADERS SpA</td>
          <td style="text-align: center;">GUIA RECEPCIÓN FRUTA A PROCESO</td>
          <td style="text-align: right;">FECHA: {{fechaRecepcion.toLocaleDateString()}}</td>
        </tr>
        <tr>
          <td>PLANTA:{{nombrePlanta}}</td>
          <td style="text-align: center;">CONTROL DE ENVASES (TRANSITORIA)</td>
          <td style="text-align: right;">HORA: {{fechaRecepcion.getHours()}}:{{fechaRecepcion.getMinutes()}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td style="text-align: right;">GUIA: {{ idGuia }}</td>
        </tr>
      </table>
    </div>
    <br>
    <hr style="border:1px dashed gray; width: 90%">
    <div align="center">
      <table style="width: 780px; margin-top: 60px; font-size: 14px;">
        <tr>
          <td>RUT PRODUCTOR: <strong>{{this.rutReference.nativeElement.value}} {{this.productor}}</strong>
          </td>
          <td style="text-align: right;"></td>
        </tr>
        <tr>
          <td>PRODUCTOR: {{ productorIntencion }}<strong></strong> </td>
          <td style="text-align: right;"></td>
        </tr>
        <tr>
          <td>HUERTO: {{huerto}} - {{nombreHuerto}} <strong></strong> </td>
          <td style="text-align: right;">GUIA SII: <strong>{{guiaProductor}}</strong> </td>
        </tr>
      </table>
    </div>
    <hr style="border:1px dashed gray; width: 90%">
    <div align="center">
      <table style="width: 780px; margin-top: 20px; font-size: 14px;">
        <tr>
          <td>PROCEDENCIA: <strong>DE HUERTO</strong> </td>
          <td style="text-align: right;">DESTINO: <strong>FRÍO TENO</strong> </td>
        </tr>
      </table>
    </div>
    <hr style="border:1px dashed gray; width: 90%">
    <div align="left">
      <p style="width: 100%; text-align: center;">ENVASES</p>
      <table style="width: 500px; font-size: 14px;">
        <tr>
          <th></th>
          <th>TIPO</th>
          <th>UNIF</th>
          <th>OTROS</th>
          <th>TOTAL</th>
        </tr>
        <tr>
          <td style="text-align: left;">ENTRADA</td>
          <!-- <td style="text-align: center; border: 1px solid gray;">{{ reporte().nombreEnvaseLinea }}</td>
                <td style="text-align: center; border: 1px solid gray;">{{ reporte().totalUniReporte }}</td>
                <td style="text-align: center; border: 1px solid gray;">{{ reporte().totalOtrosReporte }}</td>
                <td style="text-align: center; border: 1px solid gray;">{{ reporte().totalUniReporte + reporte().totalOtrosReporte }}</td> -->
        </tr>
        <tr *ngFor=" let ln of arrEnvasesEntrada">
          <td></td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.envaseCosecha.nombre}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.cantEnvasesUni}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.cantEnvasesOtros}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.cantEnvases}}</td>
        </tr>
        <br>
        <tr>
          <td style="text-align: left;">SALIDA</td>
          <!-- <td style="text-align: center; border: 1px solid gray;">-</td>
                <td style="text-align: center; border: 1px solid gray;">0</td>
                <td style="text-align: center; border: 1px solid gray;">0</td>
                <td style="text-align: center; border: 1px solid gray;">0</td> -->
        </tr>
        <tr *ngFor=" let ln of arrEnvasesSalida">
          <td></td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.nombre}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.cantEnvasesUni}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.cantEnvasesOtros}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.cantEnvases}}</td>
        </tr>
        <tr *ngIf="arrEnvasesSalida.length == 0">
          <td></td>
          <td style="text-align: center; border: 1px solid gray;"> </td>
          <td style="text-align: center; border: 1px solid gray;"> </td>
          <td style="text-align: center; border: 1px solid gray;"> </td>
          <td style="text-align: center; border: 1px solid gray;"> </td>
        </tr>
      </table>
    </div>
    <br>
    <hr style="border:1px dashed gray; width: 90%">
    <div align="center">
      <table style="width: 780px; margin-top: 20px; font-size: 14px;">
        <tr>
          <td>ESPECIE: MANZANAS</td>
          <td style="text-align: right;">USO EXCLUSIVO CKU</td>
        </tr>
      </table>
    </div>

    <!-- {{ arrEnvasesEntrada | json }} -->
    <div align="center">
      <table style="width: 780px; font-size: 14px; margin-top: 2em;">
        <tr>
          <td style="text-align: center; border: 1px solid gray;">NUMERO GUIA</td>
          <td style="text-align: center; border: 1px solid gray;">VARIEDAD</td>
          <td style="text-align: center; border: 1px solid gray;">BULTOS</td>
          <td style="text-align: center; border: 1px solid gray;">FOLIO CKU</td>
          <td style="text-align: center; border: 1px solid gray;">TIPO DUCHA</td>
          <td style="text-align: center; border: 1px solid gray;">PRE-FRIO</td>
          <td style="text-align: center; border: 1px solid gray;">TIPO FRIO</td>
          <td style="text-align: center; border: 1px solid gray;">COND. CKU</td>
        </tr>
        <tr *ngFor=" let ln of ELEMENT_DATA_">
          <td style="text-align: center; border: 1px solid gray;">{{idGuia}} - {{ ln.linea }}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.variedadNombre}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.cantEnvases}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.folioCKU}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.tipoDucha}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ ln.preFrio?'si':'' }}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.tipoFrio}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.condicion}}</td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: right;">TOTAL:</td>
          <td style="text-align: center; border: 1px solid gray;">{{ sumaBultos() }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div style="margin-top: 60px; font-size: 14px;">
      <p style="margin-left: 10%;">
        OBSERVACIONES: {{ observaciones }}
      </p>
      <hr style="border:1px dashed gray; width: 90%">
      <br>
      <hr style="border:1px dashed gray; width: 90%">
      <br>
      <hr style="border:1px dashed gray; width: 90%">
    </div>
    <br>
    <div align="center">
      <table style="width: 780px; margin-top: 60px; font-size: 14px;">
        <tr>
          <td>NOMBRE CHOFER: <strong>{{ chofer }} {{nombreChofer}} </strong></td>
        </tr>
        <tr>
          <td>PATENTE CAMIÓN: <strong>{{patenteCamion}}</strong></td>
        </tr>
        <tr>
          <td>PATENTE CARRO/RAMPLA: <strong>{{patenteCarro}}</strong></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- /////////////////////////// GUIA DESPACHO ///////////////////////////// -->
<div style="display:none">
  <div id="print-section-guia">
    <div style="margin-top: 190px;">
      <table style="font-size: 11px; margin-left: 90px; font-family: 'Courier New', Courier, monospace">
        <tr>
          <td style="width: 350px;"><strong>{{informeSII.Planta}}</strong></td>
          <td style="width: 360px;"><strong>{{informeSII.Fecha}}</strong></td>
          <td style="width: 180px;"></td>
        </tr>
        <tr>
          <td style="width: 350px;"><strong>{{informeSII.RazonSocialProductor}}</strong> </td>
          <td style="width: 360px;"></td>
          <td style="width: 180px;"></td>
        </tr>
        <tr>
          <td style="width: 350px; margin-bottom: 0;"><strong>{{informeSII.RutRazonSocialProductor}}</strong></td>
          <td style="width: 360px;"><strong>AGRÍCOLA</strong></td>
          <td style="width: 180px;"><strong>DESPACHO</strong></td>
        </tr>
        <tr>
          <td style="width: 350px; margin-bottom: 0;"><strong>{{informeSII.DireccionProductor}}</strong></td>
          <td style="width: 360px;"><strong>{{informeSII.ComunaProductor}}</strong></td>
          <td style="width: 180px;"><strong>{{telefonoInforme}}</strong></td>
        </tr>
      </table>
    </div>

    <div align="center" style="margin-top: 40px; height: 500px;">
      <table style="font-size: 14px; margin-left: 20px; font-family: 'Courier New', Courier, monospace">
        <!--  <tr *ngFor="let detalle of dataSourceEnvasesSalida.data"> -->
        <tr *ngFor="let detalle of informeSII.listaDetalle">
          <td style="text-align:center; width: 150px;"><strong>{{detalle.CodEnvase }}</strong></td>
          <td style="width: 430px; word-wrap: break-word;"><strong>{{detalle.NomEnvase}}</strong></td>
          <td style="width: 50px; text-align: center;"><strong>1</strong></td>
          <td style="width: 65px; text-align: center;"><strong>{{detalle.Cantidad}}</strong></td>
          <td style="width: 80px; text-align: center;"><strong>{{detalle.Precio}}</strong></td>
        </tr>
      </table>
    </div>

    <div style="margin-top: 29px;">
      <table style="font-size: 11px; margin-left: 125px; font-family: 'Courier New', Courier, monospace">
        <tr>
          <td style="width: 400px;"></td>
          <td style="width: 185px;"><strong>{{informeSII.Patente}}</strong></td>
          <td style="width: 55px;"><strong>{{hora}}</strong></td>
        </tr>
        <tr>
          <td style="width: 400px;"><strong>{{informeSII.Despachador}}</strong></td>
          <td style="width: 185px;"><strong>{{informeSII.NombreChofer}}</strong></td>
          <td style="width: 55px;"></td>
        </tr>
        <tr>
          <td style="width: 400px; margin-bottom: 0;"><strong>{{informeSII.Glosa}}</strong></td>
          <td style="width: 185px;"></td>
          <td style="width: 55px;"></td>
        </tr>
      </table>
    </div>

    <div style="margin-top: 80px;">
      <table style="font-size: 11px; margin-left: 60px; font-family: 'Courier New', Courier, monospace">
        <tr>
          <td style=" width: 220px;"><strong>{{informeSII.NombreChofer}}</strong></td>
          <td style="width: 195px;"><strong>{{informeSII.RutChofer}}</strong></td>
        </tr>
        <tr>
          <td style="width: 220px;"></td>
          <td style="width: 50px;"></td>
        </tr>
        <tr>
          <td style="width: 220px;"><strong>{{informeSII.Planta}}</strong></td>
          <td style="width: 50px;"></td>
        </tr>
      </table>
    </div>
  </div>
</div>