<button mat-icon-button class="btnClose" (click)="close()">
  <mat-icon>close</mat-icon>
</button>
<br>
<div class="col-12 mt-2">
  <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Nuevo cambio de Condición</h1>
</div>
<hr>
<!-- INFORMACION encabezado -->
<div class="row text-center">
  <div class="col-6 text-center">
    <mat-form-field appearance="fill">
      <mat-label>Frigorífico</mat-label>
      <mat-select>
        <mat-option value="option">205 Santa Clara SA</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="guia">
      <mat-label>Guía</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" class="linea">
      <mat-label>Línea</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cámara</mat-label>
      <mat-select>
        <mat-option value="option">Cámara 1</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Bultos</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-checkbox (change)="verFolios($event)">Ver folios</mat-checkbox>
  </div>

  <div class="col-6">
    <div class="folios">
      <table style="width:100%" *ngIf="!mostrar">
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <th>Folio</th>
          <th>Condición</th>
        </tr>
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <td>23312</td>
          <td>Normal</td>
        </tr>
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <td>23312</td>
          <td>Normal</td>
        </tr>
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <td>23312</td>
          <td>Normal</td>
        </tr>
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <td>23312</td>
          <td>Normal</td>
        </tr>
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <td>23312</td>
          <td>Normal</td>
        </tr>
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <td>23312</td>
          <td>Normal</td>
        </tr>
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <td>23312</td>
          <td>Normal</td>
        </tr>
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <td>23312</td>
          <td>Normal</td>
        </tr>
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <td>23312</td>
          <td>Normal</td>
        </tr>
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <td>23312</td>
          <td>Normal</td>
        </tr>
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <td>23312</td>
          <td>Normal</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<hr>
<div class="row condicion">
  <div class="col-6 offset-3 text-center">
    <p class="origen">Origen : <strong>1 NORMAL</strong></p>
    <p class="destino d-inline">Destino:</p>
    <mat-form-field appearance="fill" class="d-inline selectDestino">
      <mat-select>
        <mat-option value="option">NORMAL</mat-option>
        <mat-option value="option">CORTO PERIOD</mat-option>
        <mat-option value="option">MEDIANO PERI</mat-option>
        <mat-option value="option">LARGO PERIOD</mat-option>
        <mat-option value="option">RECHAZO 1</mat-option>
        <mat-option value="option">RECHAZO ANTG</mat-option>
        <mat-option value="option">PREAC-C/PQA</mat-option>
        <mat-option value="option">PREAC-S/PQA</mat-option>
      </mat-select>
    </mat-form-field>
    <p class="rechazo d-inline">Rechazo: <strong>1</strong></p>
  </div>
</div>
 
<div mat-dialog-actions class="justify-content-center text-center">
  <button mat-fab (click)="guardarCondicion()" cdkFocusInitial title="Aceptar" class="btn-check">
    <mat-icon>check</mat-icon>
  </button>
</div>