
.btnClose{
background-color: transparent;
border: none;
color: gray;
cursor: pointer;
outline: none;
float: right;
}

.btnClose .mat-icon{
  font-size: 1em;
}
.folios{
  max-height: 200px;
  overflow: scroll !important;
}
.tituloTabla{
    font-size: 14px;
    color: rgb(52, 76, 143);
    float: left;
    font-weight: 600;
    margin-bottom: 0 !important;
}
table, th, td {
  border: 1px solid rgb(209, 209, 209);
  text-align: center;
}
th{
  background: rgba(212, 222, 226, 0.4);
  justify-content: center;
}
:host ::ng-deep.mat-form-field-infix{
border-top: 0;
/* padding: 0 0 15px 0 !important; */
}
:host ::ng-deep.mat-stepper-vertical{
    background-color: transparent;
}
  
:host ::ng-deep.mat-vertical-content{
    padding: 0 !important ;
}

:host ::ng-deep.mat-form-field-appearance-fill{
    margin: 5px !important;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
    padding: .15em .15em 0 .15em
}
:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.25em 0;
  width: 14em;
  font-size: 14px;
}

.guia{
  width: 9em;
  margin-right: 0.5em;
}
.linea{
  width: 3.5em;
}
.selectDestino{
  width: 10em;
}
:host ::ng-deep.mat-form-field-wrapper {
    margin: 0 0 -1em 0 !important;
}

:host ::ng-deep.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  margin-top: -1.5em;
  margin-left: -1.4em;
  outline: none;
}

:host ::ng-deep.mat-tab-labels{
  background-color: rgba(187, 190, 199, 0.2);
}
.mat-icon-button{
float: right;
background-color: rgb(247, 247, 247);
}

.mat-icon-button:hover{
background-color: white;
}

.mat-icon-button:focus{
outline: none;
}
.btn-check{
  background-color:  #689F38 !important;
  margin-top: 2em;
} 
.inputDestino{
  border: none;
  border-bottom: 1px solid rgb(218, 218, 218);
  width: 4em;
  text-align: center;
}
.condicion{
  font-size: 14px;
  text-align: center;
}