<button mat-icon-button class="btnClose" (click)="cerrar()">
  <mat-icon>close</mat-icon>
</button>

<h1 mat-dialog-title>Añadir folios</h1>

<mat-form-field>
  <mat-label>Frigorífico</mat-label>
  <mat-select>
    <mat-option [value]="1">
      1
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Cámara</mat-label>
  <mat-select>
    <mat-option [value]="1">
      1
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="folios">
  <mat-label class="labelInput">Ingresar folios</mat-label>
  <input matInput>
</mat-form-field>

<!-- TABLA  -->
<!-- <div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="folio">
      <th mat-header-cell *matHeaderCellDef> Folio </th>
      <td mat-cell *matCellDef="let element">{{element.folio}}</td>
    </ng-container>
    <ng-container matColumnDef="especie">
      <th mat-header-cell *matHeaderCellDef> Especie </th>
      <td mat-cell *matCellDef="let element">{{element.especie}}</td>
    </ng-container>
    <ng-container matColumnDef="variedad">
      <th mat-header-cell *matHeaderCellDef> Variedad </th>
      <td mat-cell *matCellDef="let element">{{element.variedad}}</td>
    </ng-container>
    <ng-container matColumnDef="origen">
      <th mat-header-cell *matHeaderCellDef> Origen </th>
      <td mat-cell *matCellDef="let element">{{element.origen}}</td>
    </ng-container>
    <ng-container matColumnDef="rec_destino">
      <th mat-header-cell *matHeaderCellDef> Recibidor destino </th>
      <td mat-cell *matCellDef="let element">{{element.rec_destino}}</td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div> -->

<app-tabla_folios></app-tabla_folios>

<div class="text-right mt-2">
  <button mat-fab matTooltip="Agregar folios" color="warn" class="btn-add" (click)="anadirFolios()">
    <mat-icon>check</mat-icon>
  </button>
</div>