<div>
  <button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <br>
  <h2 class="tituloDialog d-inline">Importar parámetros</h2>
</div>

<div class="row mt-3">
  <div class="col-12">
    <button mat-raised-button color="primary">Parámetro 1</button>
    <button mat-raised-button color="primary">Parámetro 2</button>
    <button mat-raised-button color="primary">Parámetro 3</button>
    <button mat-raised-button color="primary">Parámetro 4</button>
    <button mat-raised-button color="primary">Parámetro 5</button>
  </div>
</div>
