<div class="contenedor">
  <app-encabezado [cku]="cku"></app-encabezado>

  <div class="col-12 mb-3 mt-2">
    <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i>Totales</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-xl-2 col-l-3">
      <p class="ml-5"><strong>Entrada</strong></p>
      <mat-form-field appearance="fill">
        <mat-label>Peso bruto</mat-label>
        <input type="text" matInput disabled="true" name="pesoBruto"
          [ngModel]="cabecera.pesoBrutoCamion + cabecera.pesoBrutoCarro">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Peso envases</mat-label>
        <input type="text" matInput disabled="true" name="pesoEnvases" [ngModel]="cabecera.pesoEnvasesIn">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Peso E/S</mat-label>
        <input type="text" matInput disabled="true" name="pesoES"
          [ngModel]="(cabecera.pesoBrutoCamion + cabecera.pesoBrutoCarro) - cabecera.pesoEnvasesIn">
      </mat-form-field>
    </div>

    <div class="col-xl-2 col-l-3">
      <p class="ml-5"><strong>Salida</strong></p>
      <mat-form-field appearance="fill">
        <mat-label>Peso bruto</mat-label>
        <input type="text" matInput disabled="true" name="pesoBruto" [ngModel]="cabecera.pesoTaraTotal">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Peso envases</mat-label>
        <input type="text" matInput disabled="true" name="pesoBruto" [ngModel]="cabecera.pesoEnvasesOut">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Peso E/S</mat-label>
        <input type="text" matInput disabled="true" name="pesoBruto"
          [ngModel]="cabecera.pesoTaraTotal + cabecera.pesoEnvasesOut">
      </mat-form-field>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12 ml-1">
      <!-- DATOS PARA GUIA DE RECEPCION  -->
      <div class="contenedorDestare">
        <mat-card color="primary" class="titleEnvases">Control de Tara de salida</mat-card>
        <mat-card class="cardRecepcionLinea">
          <mat-form-field *ngIf="bit_modo_pesaje" appearance="fill" class="selectSmall">
            <mat-label>Especie</mat-label>
            <mat-select name="especieSel" disabled="true" [(ngModel)]="lineaDestare.especie.id">
              <mat-option *ngFor="let especie of especies" [value]="especie.id"
                (onSelectionChange)="seleccionEspecie(especie)">{{especie.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="bit_modo_pesaje" appearance="fill" class="selectSmall">
            <mat-label>Variedad</mat-label>
            <mat-select name="variedadSel" disabled="true" [(ngModel)]="lineaDestare.variedad.id">
              <mat-option *ngFor="let variedad of variedades" [value]="variedad.id"
                (onSelectionChange)="obtenerVariedad(variedad)">{{variedad.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="selectxSmall">
            <mat-label>Peso tara</mat-label>
            <input matInput type="number" [(ngModel)]="pesoBrutoIngresado">
          </mat-form-field>
          <!-- <button matButton class="buttonAdd" (click)="agregarLinea()" matTooltip="Destarar">
            Destarar
            <mat-icon color="warn"><strong>add</strong></mat-icon>
          </button> -->

          <!-- <button mat-raised-button color="primary" (click)="agregarLinea()" matTooltip="Destarar"> -->
          <button mat-raised-button color="primary" (click)="agregarLineas()" matTooltip="Destarar">
            <i class="fas fa-weight"></i>
            Destarar
          </button>

          <button *ngIf="lineaDestare.especie.id" (click)="cancelarLinea()" class="btn_cancelar ml-5" mat-button>
            Cancelar
          </button>
        </mat-card>

        <!-- TABLA GUIA DE RECEPCION -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="1">
            <th mat-header-cell *matHeaderCellDef>Especie</th>
            <td mat-cell *matCellDef="let element">{{element.especie.nombre}}</td>
          </ng-container>
          <ng-container matColumnDef="2">
            <th mat-header-cell *matHeaderCellDef>Variedad</th>
            <td mat-cell *matCellDef="let element">{{element.variedad.nombre}}</td>
          </ng-container>
          <ng-container matColumnDef="3">
            <th mat-header-cell *matHeaderCellDef>Peso tara</th>
            <td mat-cell *matCellDef="let element">{{element.pesoTara}}</td>
          </ng-container>
          <ng-container matColumnDef="4">
            <th mat-header-cell *matHeaderCellDef>Envases</th>
            <td mat-cell *matCellDef="let element">{{element.numEnvasesCont}}</td>
          </ng-container>
          <ng-container matColumnDef="icons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button [disabled]="!bit_modo_pesaje" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="destararLinea(element)">
                  <i class="fas fa-weight"></i>
                  <span>Destarar Línea</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
        </table>
      </div>
    </div>
  </div>

  <button color="primary" class="mt-3" mat-button (click)="recepcionFinal()" printSectionId="print-section-final"
    ngxPrint>
    <mat-icon>print</mat-icon> Recepción Final
  </button>
</div>

<!-- botones flotantes -->
<div class="btn-plus2">
  <button mat-fab color="primary" title="Volver" class="btn-volver" [routerLink]="[ '/pantallacku']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="btn-plus">
  <button mat-fab title="Guardar cambios" class="btn-add" color="warn" (click)="guardar()">
    <mat-icon>check</mat-icon>
  </button>
</div>

<div style="display:none">
  <div id="print-section-final"
    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">
    <div>
      <table style="width: 780px; margin-top: 60px; font-size: 14px;">
        <tr>
          <td>UNIFRUTTI TRADERS SpA</td>
          <td style="text-align: center;">GUIA RECEPCIÓN FRUTA A PROCESO</td>
          <td style="text-align: right;">FECHA: {{ cabecera.fechaCosecha | date: 'dd-MM-yyyy'}}</td>
        </tr>
        <tr>
          <td>CENTRAL: {{ nombrePlanta }}</td>
          <td style="text-align: center;">CONTROL DE ENVASES (DEFINITIVA)</td>
          <td style="text-align: right;">HORA: {{ horaActual | date: 'HH:mm' }}</td>
        </tr>
        <tr>
          <td>FRIGORÍFICO:</td>
          <td></td>
          <td style="text-align: right;">GUIA:</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td style="text-align: right; font-weight: bold; font-size: 26px; color: #202F58;">{{ cabecera.id }}</td>
        </tr>
      </table>
    </div>
    <br>
    <hr style="border:0.5px solid gray;">
    <div align="center">
      <table style="width: 780px; margin-top: 20px; font-size: 14px;">
        <tr>
          <td>RUT PRODUCTOR: <strong>{{ cabecera.empresa.id }} - {{ cabecera.empresa.nombre}}</strong> </td>
        </tr>
        <tr>
          <td>HUERTO: <strong>{{ cabecera.huerto.id }} - {{ cabecera.huerto.nombre }}</strong> </td>
        </tr>
        <tr>
          <td>PROCEDENCIA: <strong>DE HUERTO</strong> </td>
          <td style="text-align: right;">DESTINO: <strong>{{ cabecera.frigorifico.nombre }}</strong> </td>
        </tr>
      </table>
    </div>

    <hr style="border:0.5px solid gray;">
    <div align="">
      <div style="display:flex; justify-content:center">
        <table style="width: 780px; margin-top: 35px; font-size: 14px; border-collapse: collapse;" border="1">
          <tr>
            <td>TIPO ENVASE: </td>
            <td>{{ reporte().nombreEnvaseLinea }}</td>
          </tr>
          <tr>
            <td>ENVASES UNIFRUTTI </td>
            <td>{{ reporte().totalUniReporte | number:'1.00-2' }}</td>
          </tr>
          <tr>
            <td>ENVASES OTROS</td>
            <td>{{ reporte().totalOtrosReporte | number:'1.00-2' }}</td>
          </tr>
          <tr>
            <td>TOTAL ENVASES</td>
            <td> {{ reporte().totalUniReporte + reporte().totalOtrosReporte | number:'1.00-2' }} </td>
          </tr>
          <tr>
            <td>PESO BRUTO ENTRADA</td>
            <td> {{ cabecera.pesoBrutoCamion | number:'1.00-2' }} </td>
          </tr>
          <tr>
            <td>PESO ENVASES</td>
            <td> {{ cabecera.pesoEnvasesIn | number:'1.00-2' }} </td>
          </tr>
          <tr>
            <td>PESO ENTRADA:</td>
            <td> {{ cabecera.pesoBrutoCamion -  cabecera.pesoEnvasesIn | number:'1.00-2' }} </td>
          </tr>
        </table>
        <table style="width: 780px; margin-top: 35px; font-size: 14px; border-collapse: collapse;" border="1">
          <tr>
            <td>TIPO ENVASE</td>
            <td> {{ reporte().nombreEnvaseLinea }}</td>
          </tr>
          <tr>
            <td>ENVASES UNIFRUTTI</td>
            <td>{{ reporte().totalUniSalida | number:'1.00-2'}}</td>
          </tr>
          <tr>
            <td>ENVASES OTROS</td>
            <td>{{ reporte().totalOtroSalida | number:'1.00-2' }}</td>
          </tr>
          <tr>
            <td>TOTAL ENVASES</td>
            <td>{{ reporte().totalUniSalida + reporte().totalOtroSalida | number:'1.00-2' }}</td>
          </tr>
          <tr>
            <td>PESO BRUTO SALIDA</td>
            <td> {{ cabecera.pesoTaraTotal | number:'1.00-2' }} </td>
          </tr>
          <tr>
            <td>PESO ENVASES</td>
            <td>{{ cabecera.pesoEnvasesOut | number:'1.00-2'}}</td>
          </tr>
          <tr>
            <td>PESO SALIDA:</td>
            <td>{{ cabecera.pesoTaraTotal - cabecera.pesoEnvasesOut | number:'1.00-2' }}</td>
          </tr>
        </table>
      </div>
      <br>
    </div>
    <p style="font-size:14px;"><strong>PESO NETO:
        {{ cabecera.pesoNeto | number:'1.00-2' }}
      </strong>
    </p>
    <hr style="border:0.5px solid gray;">
    <div class="lineas">
      <div align="center">
        <table style="width: 780px; margin-top: 20px; font-size: 14px;">
          <tr>
            <td>ESPECIE: {{ especieInforme }} </td>
            <td style="text-align: right;">USO EXCLUSIVO CKU</td>
          </tr>
        </table>
      </div>
      <div align="center">
        <table style="width: 780px; font-size: 14px; margin-top: 2em; border-collapse: collapse;">
          <tr>
            <td style="text-align: center; border: 1px solid gray;">NUMERO GUIA</td>
            <td style="text-align: center; border: 1px solid gray;">VARIEDAD</td>
            <td style="text-align: center; border: 1px solid gray;">BULTOS</td>
            <td style="text-align: center; border: 1px solid gray;">PESO NETO</td>
            <td style="text-align: center; border: 1px solid gray;">KG PROM BULTOS</td>
            <td style="text-align: center; border: 1px solid gray;">FOLIO CKU</td>
            <td style="text-align: center; border: 1px solid gray;">TIPO DUCHA</td>
            <td style="text-align: center; border: 1px solid gray;">PRE-FRIO</td>
            <td style="text-align: center; border: 1px solid gray;">APTITUD</td>
            <td style="text-align: center; border: 1px solid gray;">COND. CKU</td>
          </tr>
          <tr *ngFor=" let ln of detalle">
            <td style="text-align: center; border: 1px solid gray;">{{ln.id}} - {{ ln.numLinea }}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.variedad.nombre}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.numEnvasesCont}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.KilosNetosOut }}</td>
            <td style="text-align: center; border: 1px solid gray;">
              {{ln.KilosNetosOut / ln.numEnvasesCont | number:'1.00-2'}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.folioCKU}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.tipoDucha.nombre}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.preFrio ? 'Si':'No'}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.aptitudNombre}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.condicion.nombre}}</td>
          </tr>º
          <tr>
            <td></td>
            <td style="text-align: right;">TOTAL:</td>
            <td style="text-align: center; border: 1px solid gray;">{{ sumaBultos() | number:'1.00-2' }}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ sumaPesoNeto() | number:'1.00-2' }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <br>
        <div align="start">
          PESO PROMEDIO GLOBAL: {{ sumaPesoNeto() / sumaBultos() }}
        </div>
      </div>
    </div>
    <div style="margin-top: 60px; font-size: 14px;">
      <p>
        OBSERVACIONES: {{ cabecera.glosa }}
      </p>
      <hr style="border:0.5px solid gray;">
      <br>
      <hr style="border:0.5px solid gray;">
      <br>
      <hr style="border:0.5px solid gray;">
    </div>
    <br>
    <div align="center">
      <table style="width: 780px; margin-top: 35px; font-size: 14px;">
        <tr>
          <td>PATENTE CAMIÓN: <strong>{{cabecera.patenteCamion}}</strong></td>
        </tr>
        <tr>
          <td>PATENTE CARRO/RAMPLA: <strong>{{cabecera.patenteCarro}}</strong></td>
        </tr>
      </table>
    </div>

    <div align="center">
      <table style="width: 780px; margin-top: 60px; font-size: 14px;">
        <tr>
          <td style="border-bottom: 1px solid gray; text-align:center; width: 25em !important; margin: 40px;">
            Recepción: {{ nombrePlanta }}
          </td>
          <td> </td>
          <td style="border-bottom: 1px solid gray; text-align:center; width: 25em !important; margin: 40px;">
            {{ cabecera.chofer.id }} - {{ cabecera.chofer.nombre }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>