table {
  width: 100%;
  min-width: 450px;
}

.mat-elevation-z8 {    
  -webkit-overflow-scrolling: auto;
}
.contenedor{
    font-size: 12px;
}

.buttonAdd .fa-plus-square{
  font-size: 17px;
}
.tituloTabla{
    font-size: 14px;
    color: rgb(52, 76, 143);
    float: left;
    font-weight: 600;
    margin-bottom: 0 !important;
}
:host ::ng-deep.mat-vertical-stepper-header{
  padding: 14px 14px 14px 24px !important;
}

:host ::ng-deep.mat-form-field-infix{
border-top: 0;
/* padding: 0 0 15px 0 !important; */
}

:host ::ng-deep.mat-stepper-vertical{
    background-color: transparent;
}
  
:host ::ng-deep.mat-vertical-content{
    padding: 0 !important ;
}

:host ::ng-deep.mat-form-field-appearance-fill{
    margin: 5px !important;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
    
}
:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.25em 0;
  width: 11em;

}

:host ::ng-deep.mat-form-field-wrapper {
    margin: 0 0 -1em 0 !important;
}

/* :host ::ng-deep.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  margin-top: -1.5em;
  margin-left: -1.4em;
  outline: none;
} */

:host ::ng-deep.mat-tab-labels{
  background-color: rgba(187, 190, 199, 0.2);
}

.selectSmall{
  width: 8.7em;
}

.selectxSmall{
  width: 10em;
}

.titleGuia, .titleEnvases{
padding:6px;  
background-color: rgba(126, 144, 196, 0.2);
font-weight: 600;
}

.textoTitulos{
  margin: 0.5em;
  font-weight: 400;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary{
    background-color: rgba(187, 190, 199, 0.2);
    margin: 5px;
}

.buttonAdd{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

mat-raised-button .fa-weight{
  margin: 0 auto;
  position: relative;
  font-size: 24px;
  color: white;
  padding-right: 10px;
}

mat-menu-item .fa-weight{
  margin: 0 auto;
  top: 4px;
  color: gray;
  position: relative;
  font-size: 24px;
  padding-right: 15px;
}


.contenedorRecepcion, .contenedorEnvaseSalida{
    margin: 0px auto;
}
.fa-weight{
  margin-top: -5px;
}
@media (max-width: 1400px) {
:host ::ng-deep.mat-form-field-wrapper{
  width: 85%;
}
}