
.row{
    width: 100%;
    padding: 0;
}
.imgLogin{
    background-image: url(/assets/img/loginkiwi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    height: 100vh;
    left: 0;
    width: 100%;
}
.infoLogin{
    text-align:center;
}
.logoUni{
    width: 30vh;
    float: left;
    margin-left: 1em;
    margin-top: 1em;
}
 
.logoLogin{
    margin-top: 22vh;
    width: 10em;
    margin-bottom: 1em;
}

.eye{
    cursor: pointer;
}

/* .inputLogin{
width: 17em;
border-radius: 3px;
border: 0.4px solid gray;
margin-top: 0.8em;
} */

.widthInputs{
    width: 17em;  
}

mat-form-field{
    margin-bottom: -20px !important;
}


.enter{
margin-top: 1em;
color: white;
background-color: #202F58;
border: #202F58;
border-radius: 3px;
width: 12em;
cursor: pointer;
}

.enterText{
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registry{
background: transparent;
border: none;
color: #202F58;
font-weight:500;
font-size: 0.9em;
margin-top: 0.8em;
cursor: pointer;
}

.msgError{
    color: rgb(161, 0, 0);
    font-size: 12px;
}

.eye{
    color: gray;
    font-size: 18px;
}

@media (max-width: 1000px) {
  .logoLogin{
      width: 9em;
  }
}
@media (max-width: 800px) {
  .logoLogin{
      width: 8em;
  }
}
@media (max-width: 620px) {
  .logoLogin{
      width: 7em;
  }
  .widthInputs{
    width: 14em;
    
}
}
@media (max-width: 570px) {
  .logoUni{
      content: url(/assets/img/icon.png);
      width: 10vh;
}
}
@media (max-width: 500px) {
  .logoLogin{
      width: 6em;
  }
  .widthInputs{
    width: 10em;
    
}
.enter{
width: 10em;
}
}
@media (max-width: 430px) {
  .logoLogin{
      width: 5em;
}
}


