<!-- INFORMACION DE RECEPCION -->
<div class="pantallaRecepcion">
  <div><i class="fas fa-chevron-circle-right mr-2"></i><strong>Información de Recepción</strong></div>
  <hr>
  <div class="row mt-1">
    <div class="col-xl-2 col-l-3">
      <mat-form-field class="rutTest" appearance="fill">
        <mat-label class="labelInput">Rut productor</mat-label>
        <input #rutInput matInput maxlength="9" [ngModelOptions]="{standalone: true}" [disabled]="editaCabecera"
          (change)="obtenerProductor($event.target.value)" [(ngModel)]="cabecera.empresa.id">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Productores</mat-label>
        <mat-select [(ngModel)]="cabecera.zonaProductor.id" (selectionChange)="seleccionaIntencion($event.value)"
          [disabled]="editaCabecera">
          <mat-option *ngFor="let intencion of intencionesProductor"
            [value]="intencion.id + '-' + intencion.codProductor ">
            {{intencion.id}} {{intencion.codProductor}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="textoTitulos">
        <p>Productor:</p>
        <p class="mostrarProductor"> {{ cabecera.empresa.nombre }} </p>
      </div>
    </div>

    <div class="col-xl-2 col-l-3">
      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Huerto</mat-label>
        <mat-select [disabled]="editaCabecera" [(ngModel)]="cabecera.huerto.id"
          (selectionChange)="seleccionHuerto($event.value)" #inputHuerto>
          <mat-option (onSelectionChange)="seleccionHuerto(huerto)" *ngFor="let huerto of huertos" [value]="huerto.id">
            {{huerto.id}}-{{huerto.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="textoTitulos">
        <p>CSG: <strong>{{this.cabecera.huerto.codCSG}}</strong></p>
      </div>
    </div>

    <div class="col-xl-2 col-l-3">
      <mat-radio-group [disabled]="editaCabecera" [(ngModel)]="cabecera.idPesa"
        (change)="especieVariedadOpcion($event.value)">
        <mat-label class="textoTitulos d-block">Modo pesaje</mat-label>
        <mat-radio-button value=1 class="d-inline ml-2" checked>Especie </mat-radio-button>
        <mat-radio-button value=2 class="d-inline ml-2">Variedad</mat-radio-button>
      </mat-radio-group>
      <!-- <mat-label class="textoTitulos d-block">Modo pesaje: Especie</mat-label> -->
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="textoTitulos col-12">
      <p>Nº Recepción: <strong>{{cabecera.id}}</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-2 col-l-3">
      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Guía SII</mat-label>
        <input [disabled]="editaCabecera" matInput [(ngModel)]="cabecera.idGuiaProductor" min="0" type="number">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Frigorífico</mat-label>
        <mat-select [disabled]="editaCabecera" [(ngModel)]="cabecera.frigorifico.id"
          (selectionChange)="seleccionFrigorifico($event.value)">
          <mat-option *ngFor="let frigorifico of frigorificos" [value]="frigorifico.id">{{frigorifico.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xl-2 col-l-3">
      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Fecha Cosecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="cabecera.fechaCosecha" [disabled]="editaCabecera">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Fecha Despacho</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="cabecera.fechaDespacho" [disabled]="editaCabecera">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Fecha Recepción</mat-label>
        <input matInput [matDatepicker]="picker3" disabled="true" [(ngModel)]="cabecera.fechaRecepcion">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-xl-2 col-l-3">
      <p class="ml-3"><strong>Información del Camión</strong></p>
      <div class="col-xl-2 col-l-3">
        <mat-form-field appearance="fill">
          <mat-label #rutchofer class="labelInput">Rut chofer</mat-label>
          <input [disabled]="editaCabecera" matInput [(ngModel)]="cabecera.chofer.id"
            (ngModelChange)="validaRutEntrada($event)" (change)="obtenerChofer()">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label class="labelInput">Nombre Chofer</mat-label>
          <input matInput [(ngModel)]="nombreChofer" maxlength="13" (change)="agregarChofer()"
            [disabled]='!choferEncontrado'>
        </mat-form-field>
      </div>
      <div class="col-xl-2 col-l-3">
        <mat-form-field appearance="fill">
          <mat-label class="labelInput">Patente Camión</mat-label>
          <input matInput [(ngModel)]="cabecera.patenteCamion" (ngModelChange)="patenteMayusculas($event,1)"
            [disabled]="editaCabecera">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label class="labelInput">Patente Carro/Rampla</mat-label>
          <input matInput [(ngModel)]="cabecera.patenteCarro" type="text" [disabled]="editaCabecera"
            (ngModelChange)="patenteMayusculas($event,2)" (input)="validaPatente($event.target.value)">
        </mat-form-field>
      </div>
    </div>

    <div class="col-xl-3 col-l-3">
      <mat-card class="pesoPorEspecie text-center">
        <mat-form-field appearance="fill">
          <mat-label>Seccion</mat-label>
          <mat-select [(ngModel)]="cabecera.codSeccion" (selectionChange)="seleccionSeccion($event)"
            [disabled]="editaCabecera">
            <mat-option [value]="seccion.id" *ngFor="let seccion of secciones">{{seccion.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Balanza</mat-label>
          <mat-select [(ngModel)]="balanza" (selectionChange)="seleccionBalanza($event)">
            <mat-option [value]="balanza.id" *ngFor="let balanza of balanzas">{{balanza.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="cabecera.idPesa=='1'" appearance="fill">
          <mat-label>Peso entrada</mat-label>
          <input #ingresopeso [(ngModel)]="ingresoPeso" matInput min="0" type="number" (input)="cambioPeso($event)">
        </mat-form-field>

        <table *ngIf="cabecera.idPesa=='1'">
          <tr>
            <td class="text-left">
              <mat-radio-button value="1" (change)="cambioModoPesaje($event.value)" checked>Camión</mat-radio-button>
            </td>
            <th><input [(ngModel)]="cabecera.pesoBrutoCamion" disabled="true" name="pesoCamion" type="number"
                class="inputPeso">
            </th>
          </tr>
          <tr>
            <td class="text-left">
              <mat-radio-button value="2" (change)="cambioModoPesaje($event.value)">Carro</mat-radio-button>
            </td>
            <th><input [(ngModel)]="cabecera.pesoBrutoCarro" name="pesoCarro" type="number" class="inputPeso"
                disabled="true">
            </th>
          </tr>
          <tr>
            <th></th>
            <th><input [(ngModel)]="cabecera.pesoBrutoTotal" [disabled]="true" type="number"
                class="inputPeso totalPesoEspecie" name="pesoBruto" placeholder="Total"></th>
          </tr>
          <tr>
            <th></th>
            <th>
              <button *ngIf="editaCabecera" mat-raised-button color="warn" [disabled]="!validadorCampos()">Actualizar
                Peso</button>
            </th>
          </tr>
        </table>
      </mat-card>
    </div>
  </div>

  <div class="col-l-12 mb-2">
    <button mat-raised-button color="primary" (click)="guardarCabeceraRecepcion()" [disabled]="!validadorCampos()"
      *ngIf="!editaCabecera">Crear recepción
      <mat-icon>done</mat-icon>
    </button>
    <button mat-raised-button color="warn" (click)="guardarCabeceraRecepcion()" [disabled]="!validadorCampos()"
      *ngIf="editaCabecera">Actualizar recepción
      <mat-icon>cached</mat-icon>
    </button>
  </div>

  <div class="detalle">
    <mat-tab-group mat-align-tabs="start" (selectedIndexChange)="tabs($event)">
      <!-- TAB RECEPCION -->
      <mat-tab [disabled]="!muestraTabs" label="Recepción">
        <div class="row">
          <div class="col-12 ml-1">
            <p class="titulosTablas">Guía recepción líneas</p>
            <button [disabled]="!muestraTabs || validaIngresaLinea" color="warn" class="btn_nuevalinea" (click)="agregarDetalle()"
              mat-button>Agregar nueva línea
              <mat-icon>add</mat-icon>
            </button>
            <div class="contenedorRecepcion">
              <table *ngIf="!cargaDetalle" mat-table [dataSource]="dataSourceDetalle" class="mat-elevation-z8">
                <ng-container matColumnDef="especie">
                  <th mat-header-cell *matHeaderCellDef>Especie</th>
                  <td mat-cell *matCellDef="let element">{{ element.especie.nombre }}</td>
                </ng-container>
                <ng-container matColumnDef="variedad">
                  <th mat-header-cell *matHeaderCellDef>Variedad</th>
                  <td mat-cell *matCellDef="let element">{{ element.variedad.nombre }}</td>
                </ng-container>
                <ng-container matColumnDef="sdp">
                  <th mat-header-cell *matHeaderCellDef>SDP</th>
                  <td mat-cell *matCellDef="let element">{{ element.sdp }}</td>
                </ng-container>
                <ng-container matColumnDef="pesobruto">
                  <th mat-header-cell *matHeaderCellDef>Peso Bruto</th>
                  <td mat-cell *matCellDef="let element">{{ element.pesoBruto | number:'1.00-2' }}</td>
                </ng-container>
                <ng-container matColumnDef="cant_env">
                  <th mat-header-cell *matHeaderCellDef>Cantidad envases</th>
                  <td mat-cell *matCellDef="let element">{{ element.numEnvasesCont }}</td>
                </ng-container>
                <ng-container matColumnDef="env">
                  <th mat-header-cell *matHeaderCellDef>Env. cosecha</th>
                  <td mat-cell *matCellDef="let element">{{ element.envaseCosecha.nombre }}</td>
                </ng-container>
                <ng-container matColumnDef="neto">
                  <th mat-header-cell *matHeaderCellDef>NETO</th>
                  <td mat-cell *matCellDef="let element">{{ element.KilosNetosOut | number:'1.00-2' }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="promedio">
                  <th mat-header-cell *matHeaderCellDef>Promedio</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.KilosNetosOut/ element.numEnvasesCont | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="linea">
                  <th mat-header-cell *matHeaderCellDef>Línea</th>
                  <td mat-cell *matCellDef="let element">{{ element.numLinea }}</td>
                </ng-container>
                <ng-container matColumnDef="icons">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button [disabled]="validaIngresaLinea" mat-icon-button [matMenuTriggerFor]="menu" class="menuIcon">
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="modificarPesoBruto(element)">
                        <mat-icon><i class="fas fa-weight"></i></mat-icon>
                        <span>Modificar peso bruto</span>
                      </button>
                      <button mat-menu-item (click)="editarVariedadPesa(element)">
                        <mat-icon><i class="fas fa-weight"></i></mat-icon>
                        <span>Editar</span>
                      </button>
                      <button mat-menu-item (click)="eliminarLineaDetalle(element)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar línea</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnasVisiblesDetalle"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasVisiblesDetalle;"></tr>
              </table>
              <mat-spinner *ngIf="cargaDetalle" style="margin: 0 auto;" [diameter]="50"></mat-spinner>
            </div>
            <button [disabled]="!muestraTabs" (click)="crearReporte()" color="primary" class="mt-3" mat-button
              printSectionId="print-section-transitoria" ngxPrint>
              <mat-icon>print</mat-icon> Imprimir transitoria
            </button>
          </div>
        </div>
      </mat-tab>
      <!-- TAB ENVASES ENTRADA -->
      <mat-tab [disabled]="!muestraTabs" label="Envase entrada">
        <div class="row mt-1">
          <div class="col-12 ml-1">
            <div class="contenedorEnvaseSalida">
              <p class="titulosTablas">Detalle de entrada de envases</p>
              <mat-card class="cardRecepcionLinea">
                <mat-form-field appearance="fill" class="selectSmall">
                  <mat-label name="Env. Cosecha">Env. Cosecha</mat-label>
                  <mat-select [(ngModel)]="envaseEntradaAsignar.envase.id"
                    (selectionChange)="seleccionEnvaseEntrada($event.value)">
                    <mat-option *ngFor="let env of envases;let ind = index" [value]="env.id">{{env.id}}-{{env.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Peso</mat-label>
                  <input #pesoEnvaseEntrada [(ngModel)]="envaseEntradaAsignar.envase.peso" type="number" min="0"
                    (change)="validarTaraEntrada($event.target.value)" matInput disabled="false"
                    (input)="recalcularDetEnvEnt()">
                  <mat-hint>{{envaseEntradaAsignar.envase.pesoMinimo}}-{{envaseEntradaAsignar.envase.pesoMaximo}}
                  </mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Unifrutti</mat-label>
                  <input matInput [(ngModel)]="envaseEntradaAsignar.envase.cantidadEmpresa" type="number" min="0"
                    (input)="recalcularDetEnvEnt()">
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Otros</mat-label>
                  <input matInput [(ngModel)]="envaseEntradaAsignar.envase.cantidadOtro" type="number" min="0"
                    (input)="recalcularDetEnvEnt()">
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Total envases</mat-label>
                  <input matInput disabled="true" type="number"
                    [value]="(envaseEntradaAsignar.envase.cantidadEmpresa + envaseEntradaAsignar.envase.cantidadOtro) | number:'1.00-2'">
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Kilos envase</mat-label>
                  <input matInput disabled="true" [value]="envaseEntradaAsignar.envase.totalPeso | number:'1.00-2'">
                </mat-form-field>
                <button [disabled]="validaIngresaLinea || !ingresoEnvaseEntrada" mat-raised-button color="primary"
                  (click)="agregarDetalleEnvaseEntrada()">
                  <mat-icon>add</mat-icon>
                  Agregar envase
                </button>
              </mat-card>

              <!-- TABLA -->
              <table *ngIf="!cargaEnvaseEntrada" mat-table [dataSource]="dataSourceEnvasesEntrada"
                class="mat-elevation-z8">
                <ng-container matColumnDef="1">
                  <th mat-header-cell *matHeaderCellDef>Envase cosecha</th>
                  <td mat-cell *matCellDef="let element">{{ element.envaseCosecha.nombre }}</td>
                </ng-container>
                <ng-container matColumnDef="2">
                  <th mat-header-cell *matHeaderCellDef>Peso envase</th>
                  <td mat-cell *matCellDef="let element">{{ element.pesoEnvase | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="3">
                  <th mat-header-cell *matHeaderCellDef>Unifrutti</th>
                  <td mat-cell *matCellDef="let element">{{ element.cantidadEmpresa | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="4">
                  <th mat-header-cell *matHeaderCellDef>Otros</th>
                  <td mat-cell *matCellDef="let element">{{ element.cantidadOtros | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="5">
                  <th mat-header-cell *matHeaderCellDef>Total envases</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.cantidadEmpresa + element.cantidadOtros | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="6">
                  <th mat-header-cell *matHeaderCellDef>Kilos envases</th>
                  <td mat-cell *matCellDef="let element">
                    {{ (element.pesoEnvase * (element.cantidadEmpresa + element.cantidadOtros )) | number:'1.00-2'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="icons">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button [disabled]="validaIngresaLinea" mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="eliminarEnvasesEntrada(element)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnasVisiblesEntrada"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasVisiblesEntrada;"></tr>
              </table>
              <mat-spinner *ngIf="cargaEnvaseEntrada" style="margin: 0 auto;" [diameter]="50"></mat-spinner>
            </div>
          </div>
        </div>
      </mat-tab>
      <!-- TAB ENVASE SALIDA -->
      <mat-tab [disabled]="!muestraTabs" label="Envase salida">
        <div class="row mt-1">
          <div class="col-12 ml-1">
            <!-- CABECERA ENVASE SALIDA -->
            <div class="contenedorEnvaseSalida">
              <p class="titulosTablas">Detalle de salida de envases</p>
              <mat-form-field appearance="fill" class="selectSmall ml-1">
                <mat-label>Nº Guía Unifrutti</mat-label>
                <input [disabled]="encabezadoGuardadoEnvaseSalida" matInput type="number" min="0"
                  [(ngModel)]="envaseSalidaCabecera.id">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Huerto</mat-label>
                <mat-select [disabled]="encabezadoGuardadoEnvaseSalida" [(ngModel)]="envaseSalidaCabecera.huerto.id">
                  <mat-option *ngFor="let huerto of huertos" [value]="huerto.id">{{huerto.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label name="Env. Cosecha">Glosa</mat-label>
                <mat-select [disabled]="encabezadoGuardadoEnvaseSalida" (selectionChange)="selecionGlosa($event.value)"
                  [(ngModel)]="envaseSalidaCabecera.glosa.id">
                  <mat-option *ngFor="let glosa of glosas;let ind = index" [value]="glosa.id">{{glosa.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <button mat-raised-button color="primary" (click)="guardarEncabezadoEnvSalida()"
                [disabled]="encabezadoGuardadoEnvaseSalida">Guardar Encabezado</button>

              <!-- DETALLE DE ENVASE SALIDA -->
              <mat-card class="cardRecepcionLinea">
                <mat-form-field appearance="fill" class="selectSmall">
                  <mat-label name="Env. Cosecha">Env. Cosecha</mat-label>
                  <mat-select [(ngModel)]="envaseSalidaAsignar.envase.id"
                    (selectionChange)="selecionEnvaseSalida($event.value)">
                    <mat-option *ngFor="let env of envases;let ind = index" [value]="env.id">{{env.id}}-{{env.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>P. Env.</mat-label>
                  <input #pesoEnvaseSalida [(ngModel)]="envaseSalidaAsignar.envase.peso" min="0" type="number"
                    (input)="recalcularDetEnvSal()" (change)="validarTaraEnvaseSalida($event.target.value)" matInput
                    disabled="false">
                  <mat-hint>{{envaseSalidaAsignar.envase.pesoMinimo}}-{{envaseSalidaAsignar.envase.pesoMaximo}}
                  </mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Unifrutti</mat-label>
                  <input matInput type="number" [(ngModel)]="envaseSalidaAsignar.envase.cantidadEmpresa" min="0"
                    (input)="recalcularDetEnvSal()">
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Otros</mat-label>
                  <input [(ngModel)]="envaseSalidaAsignar.envase.cantidadOtro" type="number" min="0"
                    (input)="recalcularDetEnvSal()" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Total</mat-label>
                  <input matInput disabled="true" type="number"
                    [value]="(envaseSalidaAsignar.envase.cantidadEmpresa + envaseSalidaAsignar.envase.cantidadOtro) | number:'1.00-2'">
                </mat-form-field>
                <mat-form-field appearance="fill" class="selectxSmall">
                  <mat-label>Kilos Env.</mat-label>
                  <input matInput disabled="true" [value]="envaseSalidaAsignar.envase.totalPeso | number:'1.00-2'">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="agregarDetalleEnvaseSalida()"
                  [disabled]="validaIngresaLinea || !ingresoEnvaseSalida || !encabezadoGuardadoEnvaseSalida">
                  <mat-icon>add</mat-icon>
                  Agregar envase
                </button>
              </mat-card>

              <table *ngIf="!cargaEnvaseSalida" mat-table [dataSource]="dataSourceEnvasesSalida"
                class="mat-elevation-z8">
                <ng-container matColumnDef="1">
                  <th mat-header-cell *matHeaderCellDef>Env. cosecha</th>
                  <td mat-cell *matCellDef="let element">{{ element.envaseCosecha.nombre }}</td>
                </ng-container>
                <ng-container matColumnDef="2">
                  <th mat-header-cell *matHeaderCellDef>P. Env.</th>
                  <td mat-cell *matCellDef="let element">{{ element.pesoTara | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="3">
                  <th mat-header-cell *matHeaderCellDef>Unifrutti</th>
                  <td mat-cell *matCellDef="let element">{{ element.cantidadEmpresa | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="4">
                  <th mat-header-cell *matHeaderCellDef>Otros</th>
                  <td mat-cell *matCellDef="let element">{{ element.cantidadOtros | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="5">
                  <th mat-header-cell *matHeaderCellDef> Total </th>
                  <td mat-cell *matCellDef="let element">{{ element.cantidadTotal | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="6">
                  <th mat-header-cell *matHeaderCellDef>Kilos enva.</th>
                  <td mat-cell *matCellDef="let element">
                    {{ (element.pesoTara * element.cantidadTotal) | number:'1.00-2' }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="7">
                  <th mat-header-cell *matHeaderCellDef>Nº Guía</th>
                  <td mat-cell *matCellDef="let element"> {{ element.envasesINOUT.id }}</td>
                </ng-container>
                <ng-container matColumnDef="icons">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button [disabled]="validaIngresaLinea" mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="eliminarEnvasesSalida(element)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnasVisiblesSalida"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasVisiblesSalida;"></tr>
              </table>
              <mat-spinner *ngIf="cargaEnvaseSalida" style="margin: 0 auto;" [diameter]="50"></mat-spinner>
            </div>
            <button color="primary" class="mt-3" mat-button [disabled]="!habilitaInformeSII" (click)="guiaDespacho(1)"
              printSectionId="print-section-guia" ngxPrint>
              <mat-icon>print</mat-icon> Guía SII
            </button>
            <button color="primary" class="mt-3" mat-button (click)="anularGuia()">
              <mat-icon>close</mat-icon> Anular guía SII
            </button>
          </div>
        </div>
      </mat-tab>
      <!-- TAB DESTARE  -->
      <mat-tab [disabled]="!muestraTabs" label="Destare">
        <div class="row mt-1">
          <div class="col-12 ml-1">
            <div class="contenedorDestare">
              <p class="titulosTablas">Control de tara de salida</p>
              <!-- TABLA -->
              <table *ngIf="!cargaDestare" mat-table [dataSource]="dataSourceDestare" class="mat-elevation-z8">
                <ng-container matColumnDef="1">
                  <th mat-header-cell *matHeaderCellDef>Especie</th>
                  <td mat-cell *matCellDef="let element">{{element.especie.nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="2">
                  <th mat-header-cell *matHeaderCellDef>Variedad</th>
                  <td mat-cell *matCellDef="let element">{{element.variedad.nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="3">
                  <th mat-header-cell *matHeaderCellDef>Cant. Envases</th>
                  <td mat-cell *matCellDef="let element">{{element.numEnvasesCont | number:'1.00-2'}}</td>
                </ng-container>
                <ng-container matColumnDef="4">
                  <th mat-header-cell *matHeaderCellDef>Peso tara</th>
                  <td mat-cell *matCellDef="let element">{{element.pesoTara | number:'1.00-2'}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnasVisiblesDestare"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasVisiblesDestare;"></tr>
              </table>
              <mat-spinner *ngIf="cargaDestare" style="margin: 0 auto;" [diameter]="50"></mat-spinner>

            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!-- PESOS DE ENTRADA Y SALIDA -->
    <div class="row mt-5 ml-2 mb-5">
      <div class="col-xl-2 col-l-3">
        <p class="entradaSalida"><strong>Entrada</strong></p>
        <p class="textosEntradaSalida">Peso bruto</p>
        <p class="ESdatos">{{ calculosGenerales.PesoBrutoEntrada | number:'1.00-2'}}</p>
        <p class="textosEntradaSalida">Peso envases</p>
        <p class="ESdatos">{{calculosGenerales.PesoEnvasesEntrada | number:'1.00-2'}}</p>
        <p class="textosEntradaSalida">Peso E/S</p>
        <p class="ESdatos">{{ calculosGenerales.PesoNetoEntrada | number:'1.00-2'}}</p>
      </div>
      <div class="col-xl-2 col-l-3">
        <p class="entradaSalida"><strong>Salida</strong></p>
        <p class="textosEntradaSalida">Peso bruto tara</p>
        <p class="ESdatos">{{ calculosGenerales.PesoBrutoSalida | number:'1.00-2'}}</p>
        <p class="textosEntradaSalida">Peso envases</p>
        <p class="ESdatos">{{calculosGenerales.PesoEnvasesSalida | number:'1.00-2'}}</p>
        <p class="textosEntradaSalida">Peso E/S</p>
        <p class="ESdatos">{{ calculosGenerales.PesoNetoSalida | number:'1.00-2'}}</p>
      </div>
      <div class="col-xl-4 mt-2">
        <p><strong>Peso promedio</strong></p>
        <p class="pesoPromedioFinal">{{ calculosGenerales.PesoPromedio }} Kgs.</p>
      </div>
    </div>

    <!-- OBSERVACIONES -->
    <div><i class="fas fa-chevron-circle-right mr-2"></i><strong>Observaciones</strong></div>
    <hr>
    <div>
      <div class="row">
        <div class="col-6">
          <textarea name="observaciones" class="observaciones" [(ngModel)]="cabecera.glosa"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////// REPORTES ///////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////// -->


<!-- //////////////////////////////////////// TRANSITORIA /////////////////////////////////////// -->
<div style="display:none">
  <div id="print-section-transitoria"
    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <div>
      <!-- <img src="http://www.comitedecitricos.cl/images/stories/associated/logo_unifrutti.png" alt="" -->
      <!-- style="width: 170px; position: absolute; top: 30px;"> -->
      <table style="width: 780px; margin-top: 60px; font-size: 14px;">
        <tr>
          <td>UNIFRUTTI TRADERS SpA</td>
          <td style="text-align: center;">GUIA RECEPCIÓN FRUTA A PROCESO</td>
          <td style="text-align: right;">FECHA: {{cabecera.fechaRecepcion | date:"dd/MM/yyyy"}}</td>
        </tr>
        <tr>
          <td>PLANTA: {{nombrePlanta}}</td>
          <td style="text-align: center;">CONTROL DE ENVASES (TRANSITORIA)</td>
          <td style="text-align: right;">HORA: {{cabecera.fechaRecepcion | date:"HH:mm"}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td style="text-align: right;">GUIA: {{ cabecera.id }}</td>
        </tr>
      </table>
    </div>
    <br>
    <hr style="border:1px dashed gray; width: 90%">
    <div align="center">
      <table style="width: 780px; margin-top: 60px; font-size: 14px;">
        <tr>
          <td>RUT PRODUCTOR: <strong>{{ cabecera.empresa.id }} {{cabecera.empresa.nombre}}</strong>
          </td>
          <td style="text-align: right;"></td>
        </tr>
        <tr>
          <td>PRODUCTOR: {{ cabecera.zonaProductor.codProductor }}<strong></strong> </td>
          <td style="text-align: right;"></td>
        </tr>
        <tr>
          <td>HUERTO: {{cabecera.huerto.id}} - {{cabecera.huerto.nombre}} <strong></strong> </td>
          <td style="text-align: right;">GUIA SII: <strong>{{cabecera.idGuiaProductor}}</strong> </td>
        </tr>
      </table>
    </div>
    <hr style="border:1px dashed gray; width: 90%">
    <div align="center">
      <table style="width: 780px; margin-top: 20px; font-size: 14px;">
        <tr>
          <td>PROCEDENCIA: <strong>DE HUERTO</strong> </td>
          <td style="text-align: right;">DESTINO: <strong>FRÍO TENO</strong> </td>
        </tr>
      </table>
    </div>
    <hr style="border:1px dashed gray; width: 90%">
    <div align="left">
      <p style="width: 100%; text-align: center;">ENVASES</p>
      <table style="width: 500px; font-size: 14px;">
        <tr>
          <th></th>
          <th>TIPO</th>
          <th>UNIF</th>
          <th>OTROS</th>
          <th>TOTAL</th>
        </tr>
        <tr>
          <td style="text-align: left;">ENTRADA</td>
          <!-- <td style="text-align: center; border: 1px solid gray;">{{ reporte().nombreEnvaseLinea }}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ reporte().totalUniReporte }}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ reporte().totalOtrosReporte }}</td>
          <td style="text-align: center; border: 1px solid gray;">
            {{ reporte().totalUniReporte + reporte().totalOtrosReporte }}
          </td> -->
        </tr>
        <tr *ngFor=" let ln of dataSourceEnvasesEntrada.data">
          <td></td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.envaseCosecha.nombre}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.cantidadEmpresa}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.cantidadOtros}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.cantidadEmpresa + ln.cantidadOtros}}</td>
        </tr>
        <br>
        <tr>
          <td style="text-align: left;">SALIDA</td>
          <!-- <td style="text-align: center; border: 1px solid gray;">-</td>
          <td style="text-align: center; border: 1px solid gray;">0</td>
          <td style="text-align: center; border: 1px solid gray;">0</td>
          <td style="text-align: center; border: 1px solid gray;">0</td> -->
        </tr>
        <tr *ngFor=" let ln of dataSourceEnvasesSalida.data">
          <td></td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.envaseCosecha.nombre}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.cantidadEmpresa}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.cantidadOtros}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.cantidadTotal}}</td>
        </tr>
        <tr *ngIf="dataSourceEnvasesSalida.data.length == 0">
          <td></td>
          <td style="text-align: center; border: 1px solid gray;"> </td>
          <td style="text-align: center; border: 1px solid gray;"> </td>
          <td style="text-align: center; border: 1px solid gray;"> </td>
          <td style="text-align: center; border: 1px solid gray;"> </td>
        </tr>
      </table>
    </div>
    <br>
    <hr style="border:1px dashed gray; width: 90%">
    <div align="center">
      <table style="width: 780px; margin-top: 20px; font-size: 14px;">
        <tr>
          <td>ESPECIE: MANZANAS</td>
          <td style="text-align: right;">USO EXCLUSIVO CKU</td>
        </tr>
      </table>
    </div>

    <!-- {{ arrEnvasesEntrada | json }} -->
    <div align="center">
      <table style="width: 780px; font-size: 14px; margin-top: 2em;">
        <tr>
          <td style="text-align: center; border: 1px solid gray;">NUMERO GUIA</td>
          <td style="text-align: center; border: 1px solid gray;">VARIEDAD</td>
          <td style="text-align: center; border: 1px solid gray;">BULTOS</td>
          <td style="text-align: center; border: 1px solid gray;">FOLIO CKU</td>
          <td style="text-align: center; border: 1px solid gray;">TIPO DUCHA</td>
          <td style="text-align: center; border: 1px solid gray;">PRE-FRIO</td>
          <td style="text-align: center; border: 1px solid gray;">TIPO FRIO</td>
          <td style="text-align: center; border: 1px solid gray;">COND. CKU</td>
        </tr>
        <tr *ngFor=" let ln of detalleRepecion">
          <td style="text-align: center; border: 1px solid gray;">{{cabecera.id}} - {{ ln.numLinea }}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.variedad.nombre}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.numEnvasesCont}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.folioCKU}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.tipoDucha.nombre}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.preFrio?'SI':'NO'}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.tipoFrio.nombre}}</td>
          <td style="text-align: center; border: 1px solid gray;">{{ln.condicion.nombre}}</td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: right;">TOTAL:</td>
          <td style="text-align: center; border: 1px solid gray;">{{ totalEnvasesDetalle() }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div style="margin-top: 60px; font-size: 14px;">
      <p style="margin-left: 10%;">
        OBSERVACIONES: {{ cabecera.glosa }}
      </p>
      <hr style="border:1px dashed gray; width: 90%">
      <br>
      <hr style="border:1px dashed gray; width: 90%">
      <br>
      <hr style="border:1px dashed gray; width: 90%">
    </div>
    <br>
    <div align="center">
      <table style="width: 780px; margin-top: 60px; font-size: 14px;">
        <tr>
          <td>NOMBRE CHOFER: <strong>{{ cabecera.chofer.id }} {{ cabecera.chofer.nombre}} </strong></td>
        </tr>
        <tr>
          <td>PATENTE CAMIÓN: <strong>{{cabecera.patenteCamion}}</strong></td>
        </tr>
        <tr>
          <td>PATENTE CARRO/RAMPLA: <strong>{{cabecera.patenteCarro}}</strong></td>
        </tr>
      </table>
    </div>
  </div>
</div>