<!-- 
<h1 class="titulo"><i class="fas fa-angle-double-right"></i> Listado de Contenedores</h1>
<hr> -->
<mat-form-field class="buscador">
  <mat-placeholder>
    <mat-icon>search</mat-icon> Buscador
  </mat-placeholder>
  <input matInput (keyup)="filtrar($event.target.value)">
</mat-form-field>

<!-- TABLA  -->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="tipo" checkboxPosition="before">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo contenedor </th>
    <td mat-cell *matCellDef="let element">{{element.tipo}}</td>
  </ng-container>

  <ng-container matColumnDef="especie" checkboxPosition="before">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Especie </th>
    <td mat-cell *matCellDef="let element">{{element.especie}}</td>
  </ng-container>

  <ng-container matColumnDef="variedad" checkboxPosition="before">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Variedad </th>
    <td mat-cell *matCellDef="let element">{{element.variedad}}</td>
  </ng-container>

  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
  
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Borrar</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; ">
  </tr>
</table>

<!-- <mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner> -->

<!-- PAGINADOR DE TABLA -->
<div class="paginador">

  <button mat-icon-button matTooltip="Siguiente">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <select class="numeroPagina" matTooltip="Items por página">
    <option value="20" selected>20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <button mat-icon-button matTooltip="Anterior">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

</div>
<!-- boton flotante para añdir contenedor nuevo -->
<div class="btn-plus">
  <button mat-fab title="Añadir contenedor" color="warn" class="btn-add" (click)="agregarContenedor()">
    <mat-icon>add</mat-icon>
  </button>
</div>