<button class="addToFavorites mt-3 mr-3" (click)="agregarFavorito()">
  <mat-icon [ngClass]="{'active': esFavorito}">star</mat-icon>
</button>

<div class="row">
  <div class="col-12" *ngIf="cargandoFrigo">
    <mat-form-field>
      <mat-label>Frigorífico</mat-label>
      <mat-select [(ngModel)]="frigorifico" (selectionChange)="selFrigorifico($event.value)">
        <mat-option *ngFor="let frigorifico of frigorificos" [value]="frigorifico.id">{{frigorifico.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="ml-5">Pendientes<mat-slide-toggle (change)="onToggleChange2()" [ngClass]="{'active': isActive}">
        Cerradas
      </mat-slide-toggle></span>
  </div>
  <div class="col-12" *ngIf="!cargandoFrigo">
    <p class="tituloTabla"><strong>Cargando Frigoríficos...</strong></p>
  </div>
</div>
<!-- slider toggle -->
<h1 class="tituloTabla" *ngIf="mostrarTabla && cargandoFrigo"><i class="fas fa-angle-double-right"></i> Listado
  Recepciones pendientes
</h1>
<h1 class="tituloTabla" *ngIf="!mostrarTabla"><i class="fas fa-angle-double-right"></i> Listado Recepciones cerradas
</h1>

<!-- BUSCADOR -->
<mat-form-field class="buscador" *ngIf="mostrarTabla && cargandoFrigo">
  <mat-placeholder>
    <mat-icon>search</mat-icon> Buscar...
  </mat-placeholder>
  <input matInput (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<mat-form-field class="buscador" *ngIf="!mostrarTabla">
  <mat-placeholder>
    <mat-icon>search</mat-icon> Buscar...
  </mat-placeholder>
  <input matInput (keyup)="applyFilter2($event.target.value)">
</mat-form-field>

<!-- TABLA  -->
<div class="contenedorTabla" *ngIf="mostrarTabla && cargandoFrigo">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="guia">
      <th mat-header-cell *matHeaderCellDef>Guía Recepción</th>
      <td mat-cell *matCellDef="let element">{{element.num_guia_recepcion}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha recepción</th>
      <td mat-cell *matCellDef="let element">{{element.dat_fecha_recepcion}}</td>
    </ng-container>
    <ng-container matColumnDef="cod_productor">
      <th mat-header-cell *matHeaderCellDef>Razón Social</th>
      <td mat-cell *matCellDef="let element">{{element.des_razonSocial_Productor}}</td>
    </ng-container>
    <ng-container matColumnDef="huerto">
      <th mat-header-cell *matHeaderCellDef>Huerto desc.</th>
      <td mat-cell *matCellDef="let element">{{element.des_nombre_huerto}}</td>
    </ng-container>
    <ng-container matColumnDef="cod_especie">
      <th mat-header-cell *matHeaderCellDef>Especie</th>
      <td mat-cell *matCellDef="let element">{{element.des_nombre_especie}}</td>
    </ng-container>
    <ng-container matColumnDef="guia_productor">
      <th mat-header-cell *matHeaderCellDef>Guía productor</th>
      <td mat-cell *matCellDef="let element">{{element.num_guia_productor}}</td>
    </ng-container>
    <ng-container matColumnDef="patente">
      <th mat-header-cell *matHeaderCellDef>Patente(s)</th>
      <td mat-cell *matCellDef="let element">{{element.des_nombre_patente}}</td>
    </ng-container>
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <!-- FLAG PARA QUE NO SE PUEDAN EDITAR LAS POR VARIEDAD -->
        <!-- <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="!element.EsPorEspecie">  -->
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="arregloPermisos.PR01">
            <mat-icon>print</mat-icon>
            <span>Imprimir transitoria</span>
          </button>
          <button mat-menu-item (click)="envSalida()" *ngIf="arregloPermisos.ENVSAL">
            <mat-icon><i class="fas fa-sign-out-alt"></i></mat-icon>
            <span>Envase salida</span>
          </button>
          <button mat-menu-item (click)="destare(element)" *ngIf="element.TieneCKU && element.TieneTarjas">
            <i class="fas fa-weight"></i>
            <span>Destarar</span>
          </button>
          <!-- <button mat-menu-item (click)="trazabilidad()">
          <mat-icon><i class="fas fa-route"></i></mat-icon>
          <span>Trazabilidad</span>
        </button> -->
          <button mat-menu-item (click)="editarRecepcion(element)">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<!-- <mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner> -->

<!-- TABLA 2 -->
<div class="contenedorTabla" *ngIf="!mostrarTabla">
  <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
    <!-- <ng-container matColumnDef="temporada">
    <th mat-header-cell *matHeaderCellDef> Temporada </th>
    <td mat-cell *matCellDef="let element"> {{element.temporada}} </td>
  </ng-container> -->
    <ng-container matColumnDef="guia">
      <th mat-header-cell *matHeaderCellDef>Guía recepción</th>
      <td mat-cell *matCellDef="let element">{{element.num_guia_recepcion}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha recepción</th>
      <td mat-cell *matCellDef="let element">{{element.dat_fecha_recepcion}}</td>
    </ng-container>
    <ng-container matColumnDef="cod_productor">
      <th mat-header-cell *matHeaderCellDef>Razón social</th>
      <td mat-cell *matCellDef="let element">{{element.des_razonSocial_Productor}}</td>
    </ng-container>
    <ng-container matColumnDef="huerto">
      <th mat-header-cell *matHeaderCellDef>Huerto desc.</th>
      <td mat-cell *matCellDef="let element">{{element.des_nombre_huerto}}</td>
    </ng-container>
    <ng-container matColumnDef="cod_especie">
      <th mat-header-cell *matHeaderCellDef>Especie</th>
      <td mat-cell *matCellDef="let element">{{element.des_nombre_especie}}</td>
    </ng-container>
    <ng-container matColumnDef="guia_productor">
      <th mat-header-cell *matHeaderCellDef>Guía productor</th>
      <td mat-cell *matCellDef="let element">{{element.num_guia_productor}}</td>
    </ng-container>
    <ng-container matColumnDef="patente">
      <th mat-header-cell *matHeaderCellDef>Patente(s)</th>
      <td mat-cell *matCellDef="let element">{{element.des_nombre_patente}}</td>
    </ng-container>
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="recepcionFinal(element)">
            <!-- printSectionId="print-section-final" ngxPrint -->
            <mat-icon>print</mat-icon>
            <span>Re imprimir recepción final</span>
          </button>
          <!-- <button mat-menu-item (click)="trazabilidad()">
          <mat-icon><i class="fas fa-route"></i></mat-icon>
          <span>Trazabilidad</span>
        </button> -->
          <!-- <button mat-menu-item (click)="trazabilidad()">
        <mat-icon><i class="fas fa-route"></i></mat-icon>
        <span>Trazabilidad</span>
      </button> -->
          <button mat-menu-item (click)="editarRecepcion(element)">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>

<div class="paginador" *ngIf="cargandoFrigo">
  <button mat-icon-button matTooltip="Siguiente" (click)="siguiente()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <select class="numeroPagina" matTooltip="Items por página">
    <option value="20" selected>20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <button mat-icon-button matTooltip="Anterior" (click)="anterior()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</div>
<!-- <h2>{{pagina}}</h2> -->
<div class="btn-plus">
  <!-- <button *ngIf="arregloPermisos.ADD" mat-fab title="Añadir Recepción" color="warn" class="btn-add" (click)="agregar()">
    <mat-icon>add</mat-icon>
  </button> -->
  <button mat-fab matTooltip="Añadir recepción por especie" color="warn" class="btn-add mr-2" (click)="agregar()">
    <mat-icon>add</mat-icon>
  </button>
  <!-- <button mat-fab matTooltip="Añadir recepción por variedad" color="primary" class="btn-add"
    (click)="agregarVariedad()">
    <mat-icon>note_add</mat-icon>
  </button> -->
</div>

<div style="display:none; font-family: Georgia, 'Times New Roman', Times, serif;">
  <div id="print-section-final"
    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">
    <div>
      <table style="width: 780px; margin-top: 60px; font-size: 14px; ">
        <tr>
          <td>UNIFRUTTI TRADERS SpA</td>
          <td style="text-align: center;">GUIA RECEPCIÓN FRUTA A PROCESO</td>
          <td style="text-align: right;">FECHA: {{ cabecera.fechaCosecha | date: 'dd-MM-yyyy'}}</td>
        </tr>
        <tr>
          <td>CENTRAL: {{ nombrePlanta }}</td>
          <td style="text-align: center;">CONTROL DE ENVASES (DEFINITIVA)</td>
          <td style="text-align: right;">HORA: {{ horaActual | date: 'HH:mm' }}</td>
        </tr>
        <tr>
          <td>FRIGORÍFICO:</td>
          <td></td>
          <td style="text-align: right;">GUIA:</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td style="text-align: right; font-weight: bold; font-size: 26px; color: #202F58;">{{ cabecera.id }}</td>
        </tr>
      </table>
    </div>
    <br>
    <hr style="border:0.5px solid gray;">
    <div align="center">
      <table style="width: 780px; margin-top: 20px; font-size: 14px;">
        <tr>
          <td>RUT PRODUCTOR: <strong>{{ cabecera.empresa.id }} - {{ cabecera.empresa.nombre}}</strong> </td>
        </tr>
        <tr>
          <td>HUERTO: <strong>{{ cabecera.huerto.id }} - {{ cabecera.huerto.nombre }}</strong> </td>
        </tr>
        <tr>
          <td>PROCEDENCIA: <strong>DE HUERTO</strong> </td>
          <td style="text-align: right;">DESTINO: <strong>{{ cabecera.frigorifico.nombre }}</strong> </td>
        </tr>
      </table>
    </div>

    <hr style="border:0.5px solid gray;">
    <div align="">
      <div style="display:flex; justify-content:center">
        <table style="width: 780px; margin-top: 35px; font-size: 14px; border-collapse: collapse;" border="1">
          <tr>
            <td>TIPO ENVASE: </td>
            <td>{{ reporte().nombreEnvaseLinea }}</td>
          </tr>
          <tr>
            <td>ENVASES UNIFRUTTI </td>
            <td>{{ reporte().totalUniReporte | number:'1.00-2' }}</td>
          </tr>
          <tr>
            <td>ENVASES OTROS</td>
            <td>{{ reporte().totalOtrosReporte | number:'1.00-2' }}</td>
          </tr>
          <tr>
            <td>TOTAL ENVASES</td>
            <td> {{ reporte().totalUniReporte + reporte().totalOtrosReporte | number:'1.00-2' }} </td>
          </tr>
          <tr>
            <td>PESO BRUTO ENTRADA</td>
            <td> {{ cabecera.pesoBrutoCamion | number:'1.00-2' }} </td>
          </tr>
          <tr>
            <td>PESO ENVASES</td>
            <td> {{ cabecera.pesoEnvasesIn | number:'1.00-2' }} </td>
          </tr>
          <tr>
            <td>PESO ENTRADA:</td>
            <td> {{ cabecera.pesoBrutoCamion -  cabecera.pesoEnvasesIn | number:'1.00-2' }} </td>
          </tr>
        </table>
        <table style="width: 780px; margin-top: 35px; font-size: 14px; border-collapse: collapse;" border="1">
          <tr>
            <td>TIPO ENVASE</td>
            <td> {{ reporte().nombreEnvaseLinea }}</td>
          </tr>
          <tr>
            <td>ENVASES UNIFRUTTI</td>
            <td>{{ reporte().totalUniSalida | number:'1.00-2'}}</td>
          </tr>
          <tr>
            <td>ENVASES OTROS</td>
            <td>{{ reporte().totalOtroSalida | number:'1.00-2' }}</td>
          </tr>
          <tr>
            <td>TOTAL ENVASES</td>
            <td>{{ reporte().totalUniSalida + reporte().totalOtroSalida | number:'1.00-2' }}</td>
          </tr>
          <tr>
            <td>PESO BRUTO SALIDA</td>
            <td> {{ cabecera.pesoTaraTotal | number:'1.00-2' }} </td>
          </tr>
          <tr>
            <td>PESO ENVASES</td>
            <td>{{ cabecera.pesoEnvasesOut | number:'1.00-2'}}</td>
          </tr>
          <tr>
            <td>PESO SALIDA:</td>
            <td>{{ cabecera.pesoTaraTotal - cabecera.pesoEnvasesOut | number:'1.00-2' }}</td>
          </tr>
        </table>
      </div>
      <br>
    </div>
    <p style="font-size:14px;"><strong>PESO NETO:
        {{ cabecera.pesoNeto | number:'1.00-2' }}
      </strong>
    </p>
    <hr style="border:0.5px solid gray;">
    <div class="lineas">
      <div align="center">
        <table style="width: 780px; margin-top: 20px; font-size: 14px;">
          <tr>
            <td>ESPECIE: {{ especieInforme }} </td>
            <td style="text-align: right;">USO EXCLUSIVO CKU</td>
          </tr>
        </table>
      </div>
      <div align="center">
        <table style="width: 780px; font-size: 14px; margin-top: 2em; border-collapse: collapse;">
          <tr>
            <td style="text-align: center; border: 1px solid gray;">NUMERO GUIA</td>
            <td style="text-align: center; border: 1px solid gray;">VARIEDAD</td>
            <td style="text-align: center; border: 1px solid gray;">BULTOS</td>
            <td style="text-align: center; border: 1px solid gray;">PESO NETO</td>
            <td style="text-align: center; border: 1px solid gray;">KG PROM BULTOS</td>
            <td style="text-align: center; border: 1px solid gray;">FOLIO CKU</td>
            <td style="text-align: center; border: 1px solid gray;">TIPO DUCHA</td>
            <td style="text-align: center; border: 1px solid gray;">PRE-FRIO</td>
            <td style="text-align: center; border: 1px solid gray;">APTITUD</td>
            <td style="text-align: center; border: 1px solid gray;">COND. CKU</td>
          </tr>
           <tr *ngFor=" let ln of detalle">
            <td style="text-align: center; border: 1px solid gray;">{{ln.id}} - {{ ln.numLinea }}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.variedad.nombre}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.numEnvasesCont}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.kilosNetosIn | number:'1.00-2' }}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ ln.kilosNetosIn / ln.numEnvasesCont }}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.folioCKU}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.tipoDucha.nombre}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.preFrio ? 'Si':'No'}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.aptitudNombre}}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ln.condicion.nombre}}</td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: right;">TOTAL:</td>
            <td style="text-align: center; border: 1px solid gray;">{{ sumaBultos() | number:'1.00-2' }}</td>
            <td style="text-align: center; border: 1px solid gray;">{{ sumaPesoNeto() | number:'1.00-2' }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <br>
        <div align="start">
          PESO PROMEDIO GLOBAL: {{ sumaPesoNeto() / sumaBultos() }}
        </div>
      </div>
    </div>
    <div style="margin-top: 60px; font-size: 14px;">
      <p>
        OBSERVACIONES: {{ cabecera.glosa }}
      </p>
      <hr style="border:0.5px solid gray;">
      <br>
      <hr style="border:0.5px solid gray;">
      <br>
      <hr style="border:0.5px solid gray;">
    </div>
    <br>
    <div align="center">
      <table style="width: 780px; margin-top: 35px; font-size: 14px;">
        <tr>
          <td>PATENTE CAMIÓN: <strong>{{cabecera.patenteCamion}}</strong></td>
        </tr>
        <tr>
          <td>PATENTE CARRO/RAMPLA: <strong>{{cabecera.patenteCarro}}</strong></td>
        </tr>
      </table>
    </div>

    <div align="center">
      <table style="width: 780px; margin-top: 60px; font-size: 14px;">
        <tr>
          <td style="border-bottom: 1px solid gray; text-align:center; width: 25em !important; margin: 40px;">
            Recepción: {{ nombrePlanta }}
          </td>
          <td> </td>
          <td style="border-bottom: 1px solid gray; text-align:center; width: 25em !important; margin: 40px;">
            {{ cabecera.chofer.id }} - {{ cabecera.chofer.nombre }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>