table {
  width: 100%;
  min-width: 450px;
}
body{
  font-size: 12px;
}
.tituloTabla{
  font-size: 14px;
  color: rgb(52, 76, 143);
  float: left;
}

mat-spinner{
  margin: 0 auto;
  margin-top: 4em;
}
.fa-weight{
  margin: 0 auto;
  top: 4px;
  position: relative;
  font-size: 24px;
  color: gray;
  padding-right: 15px;
}
.mat-icon-button{
float: right;
background-color: rgb(247, 247, 247);
}

.mat-icon-button:hover{
background-color: white;
}

.mat-icon-button:focus{
outline: none;
}

.buscador{
  float: right;
  display: block;
  opacity: 0.5;
  text-align: left !important;
}

table .ng-star-inserted{
    text-align: center;
 }
@media (max-width: 900px){
 td.mat-cell, td.mat-footer-cell, th.mat-header-cell  {
    width: 10px;
    font-size: 10px;
  }
 }

@media (max-width: 620px) {
  :host ::ng-deep.mat-paginator-range-label{
  display: none;
  }
  :host ::ng-deep.mat-paginator-navigation-next.mat-icon-button{
  width: 0;
  }
  :host ::ng-deep.mat-paginator-page-size-label{
  display: none;
  }
  :host ::ng-deep.th.mat-cell{
  padding-left: 15px;
  }
}
