[hidden] {
  display: none !important;
}  
  .tratamientos{
    font-size: 12px;
  }
  :host ::ng-deep.mat-tab-labels{
  background-color: rgba(187, 190, 199, 0.2);
}
.contenedorFactura mat-form-field{
  margin: 5px;
}
.btn-plusTratamiento {
  position: fixed;
  bottom: 45%;
  right: 1.5em;
}
.time{
  margin-left: 5px;
  width: 5em;
  background-color: transparent;
  border: none;
  outline:none;
}
mat-form-field{
  margin-bottom: 9px;
}
  :host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
      background-color: transparent;
      padding: .15em .15em 0 .15em
      
  }
  :host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
    padding: 0.25em 0 0.25em 0;
    width: 13em; 
  }
  
  :host ::ng-deep.mat-form-field-wrapper {
      margin: 0 0 -1em 0 !important;
  }
   :host ::ng-deep.mat-form-field-infix{
  border-top: 0;
  /* padding: 0 0 15px 0 !important; */
  }

.fa-chevron-circle-right{
    color:rgb(3, 122, 177);
    font-size: 1.4em;
}

.mat-elevation-z8 {    
    -webkit-overflow-scrolling: auto;
}
th.mat-header-cell ::ng-deep.mat-sort-header-container{
 justify-content: inherit;
}
::ng-deep td.mat-cell, ::ng-deep td.mat-footer-cell, ::ng-deep th.mat-header-cell{
   text-align: center !important;
   justify-content: center;
   align-content: center; 
}
.guardar mat-icon{
  /* margin-top: -7px; */
  margin-right: 2px;
}
.mat-icon-button{
  float: right;
  background-color: rgb(247, 247, 247);
  }
  .btn-plus3 {
    position: fixed;
    /* bottom: 2.5em; */
    top: 15.5em;
    right: 3.5em;
  }