<div class="tratamientos">
  <div><i class="fas fa-chevron-circle-right mr-2"></i><strong>Tratamientos</strong></div>
  <hr>
  <div class="row mt-1">
    <div class="col-4">
      <mat-form-field class="example-full-width">
        <mat-label class="labelInput">Solicitud interna nº</mat-label>
        <input matInput disabled="true" [(ngModel)]="numeroSolicitud">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label class="labelInput">Especie:</mat-label>
        <mat-select [(ngModel)]="especieSeleccion" (selectionChange)="cambio($event.value)" [disabled]="ejecutar">
          <mat-option *ngFor="let item of listadoEspecies" [value]="item.id">
            {{item.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label class="labelInput">Persona que solicita aplicación:</mat-label>
        <input matInput [(ngModel)]="usuario"  disabled="true">
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="fill">
        <mat-label class="labelInput"> Fecha solicitud de la aplicación</mat-label>
        <input matInput [matDatepicker]="picker10" [(ngModel)]="fechaSolicitud" [disabled]="ejecutar">
        <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
        <mat-datepicker #picker10></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label class="labelInput"> Fecha ejecución de la aplicación</mat-label>
        <input matInput [matDatepicker]="picker9" [(ngModel)]="fechaEjecucion" [disabled]="ejecutar">
        <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
        <mat-datepicker #picker9></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>search</mat-icon> Buscar proveedor...
        </mat-placeholder>
        <input matInput [(ngModel)]="rutProveedor" maxlength="10" (keyup)="buscarProveedor()" [disabled]="ejecutar">
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field class="example-full-width">
        <mat-label class="labelInput">Razón Social del proveedor</mat-label>
        <input matInput disabled [(ngModel)]="nombreRSocial">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label class="labelInput">País</mat-label>
        <mat-select [(ngModel)]="paisSeleccion" [disabled]="ejecutar">
          <mat-option *ngFor="let item of listadoPaises" [value]="item.id">
            {{item.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label class="labelInput">Tipo de tratamiento</mat-label>
        <mat-select [(ngModel)]="tipoTratamientoSelect" (selectionChange)="tipoTraSelect($event.value)"
          [disabled]="ejecutar">
          <mat-option *ngFor="let item of listadoTipotratamiento" [value]="item.id">
            {{item.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="btn-plus3">
      <button mat-fab color="primary" title="Guardar" [hidden]="ejecutar" class="btn-add guardar"
        (click)="guardarEncabezado()">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="Productos" *ngIf="!ocultaragregar">
      <br>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="ingrediente" checkboxPosition="before">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ingrediente Activo </th>
          <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="dosis" checkboxPosition="before">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dosis </th>
          <td mat-cell *matCellDef="let element">{{element.dosis}}</td>
        </ng-container>

        <ng-container matColumnDef="unidad" checkboxPosition="before">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad </th>
          <td mat-cell *matCellDef="let element">{{element.tipoUnidad.nombre}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>
    <!-- *ngIf="!ocultarPestana" -->
    <mat-tab label="Ejecutar" *ngIf="ejecutar">
      <div class="row mt-4">
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <mat-label class="labelInput">Número trabajo/folio:</mat-label>
            <input matInput [(ngModel)]="numFolio" type="number">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label class="labelInput"> Fecha de aplicación</mat-label>
            <input matInput [matDatepicker]="picker10" [(ngModel)]="fechaAplicacion">
            <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
            <mat-datepicker #picker10></mat-datepicker>
          </mat-form-field>
          <!-- <input type="time" class="time" name="time" [(ngModel)]="horaAplicacion" /> -->
          <br>
          <mat-form-field>
            <mat-label class="labelInput">Cámara:</mat-label>
            <mat-select [(ngModel)]="camaraseleccion" (selectionChange)="getCamara($event.value)">
              <mat-option *ngFor="let item of listadoCamaraSeccion" [value]="item.id">
                {{item.id}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label class="labelInput">Sección</mat-label>
            <input matInput disabled [(ngModel)]="seccionInput">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label class="labelInput">Volumen de la cámara</mat-label>
            <input matInput [(ngModel)]="volumenCamara" type="number">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label class="labelInput">Temperatura cámara</mat-label>
            <input matInput [(ngModel)]="temperatura" type="number">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label class="labelInput">Tipo de fruta</mat-label>
            <mat-select [(ngModel)]="tipoFrutaSeleccion" >
              <mat-option *ngFor="let item of listadoTipoFruta" [value]="item.id">
                {{item.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="col-4">
          <mat-form-field>
            <mat-label class="labelInput">Envases/Tipo/Número</mat-label>
            <mat-select [(ngModel)]="envaseTipoNumero" (selectionChange)="getEnvaseCosechaValor($event.value)">
              <mat-option *ngFor="let item of listadoEnvaseCosecha" [value]="item.id">
                {{item.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="text" placeholder="Operativo que supervisa tratamiento" matInput [(ngModel)]="cod_operativo"
              name="cod_operativo" [formControl]="myControl" [matAutocomplete]="autos"
              (keyup)="getUsuarioSearch($event.target.value)">
            <mat-autocomplete #autos="matAutocomplete" [displayWith]="displayFn"
              (optionSelected)="obtenerOperario($event)">
              <mat-option class="opciones" *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width mr-2">
            <mat-label class="labelInput">Rut persona empresa externa</mat-label>
            <input matInput [(ngModel)]="rutAplicador" maxlength="12"
              (change)="getAplicadorTratamiento($event.target.value)"
              (change)="getAplicadorTratamiento($event.target.value)">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width mr-2">
            <mat-label class="labelInput">Nombre persona externa</mat-label>
            <input matInput #focus [(ngModel)]="nombrePersonaExterna" [disabled]="ejecutarPost">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label class="labelInput">Licencia aplicador</mat-label>
            <input matInput [(ngModel)]="licenciaAplicador" (change)="postAplicadortratamiento()"
              [disabled]="ejecutarPost">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label class="labelInput"> Fecha cosecha (más antigua)</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="fechaCosechaAntigua">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label class="labelInput"> Fecha cosecha (más reciente)</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaCosechaReciente">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-4">

          <mat-form-field appearance="fill">
            <mat-label class="labelInput"> Llenado de cámara (primer ingreso)</mat-label>
            <input matInput [matDatepicker]="picker3" [(ngModel)]="fechaLlenadoCamraPrimero">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label class="labelInput"> Llenado de cámara (último ingreso)</mat-label>
            <input matInput [matDatepicker]="picker4" [(ngModel)]="fechaLlenadoCamaraUltimo">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>

          <!-- <mat-form-field appearance="fill">
            <mat-label class="labelInput"> Inicio tratamiento </mat-label>
            <input matInput [matDatepicker]="picker5" [(ngModel)]="fechaInicioTratamiento">
            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker>
          </mat-form-field> -->
          <br>
          <mat-form-field appearance="fill">
            <mat-label class="labelInput"> Término tratamiento </mat-label>
            <input matInput [matDatepicker]="picker6" [(ngModel)]="fechaTerminoTratamiento">
            <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
            <mat-datepicker #picker6></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label class="labelInput">Duración tratamiento</mat-label>
            <input matInput disabled>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label class="labelInput">Número del sello</mat-label>
            <input matInput [(ngModel)]="numeroSello" type="number">
          </mat-form-field>
        </div>
      </div>
      <div class="btn-plus">
        <button mat-fab matTooltip="Guardar Detalle" (click)="patchGuardarDetalle()" color="warn" class="btn-add mr-2">
          <mat-icon>check</mat-icon>
        </button>
      </div>


      <table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="producto" checkboxPosition="before">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
          <td mat-cell *matCellDef="let element">{{element.producto.nombre}}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="descripcion" checkboxPosition="before">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
          <td mat-cell *matCellDef="let element">{{element.cantidadReal}}</td>
        </ng-container> -->

        <ng-container matColumnDef="ingrediente" checkboxPosition="before">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ingrediente Activo </th>
          <td mat-cell *matCellDef="let element">{{element.ingredienteActivo.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="dosis" checkboxPosition="before">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dosis </th>
          <td mat-cell *matCellDef="let element">{{element.ingredienteActivo.dosis}}</td>
        </ng-container>

        <ng-container matColumnDef="unidad" checkboxPosition="before">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad </th>
          <td mat-cell *matCellDef="let element">{{element.tipoUnidad.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="icons">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="asignarProducto(element)">
                <mat-icon><i class="fas fa-vial"></i></mat-icon>
                <span>Asignar producto</span>
              </button>
              <button mat-menu-item (click)="eliminarProducto(element)" [disabled]="element.producto.nombre == ''">
                <mat-icon><i class="fas fa-trash-alt"></i></mat-icon>
                <span>Eliminar producto</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>

    </mat-tab>
    <!-- incion de la seccion stock cámara -->

    <mat-tab label="Stock Cámara" *ngIf="ejecutar">
      <div class="row mt-4">
        <div class="col-4">
          <mat-form-field>
            <mat-label class="labelInput">Cámara:</mat-label>
            <mat-select [(ngModel)]="camaraseleccion" (selectionChange)="getCamara($event.value)" disabled>
              <mat-option *ngFor="let item of listadoCamaraSeccion" [value]="item.id">
                {{item.id}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>

        </div>
      </div>

      <div class="col-4">

      </div>
      <table mat-table [dataSource]="dataSource4" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="Tipo" checkboxPosition="before">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
          <td mat-cell *matCellDef="let element">{{element.kilos}}</td>
        </ng-container>

        <ng-container matColumnDef="Especie" checkboxPosition="before">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Especie </th>
          <td mat-cell *matCellDef="let element">{{element.especie.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="Bultos" checkboxPosition="before">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Bultos </th>
          <td mat-cell *matCellDef="let element">{{element.bultos}}</td>
        </ng-container>

        <ng-container matColumnDef="KG" checkboxPosition="before">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> KG </th>
          <td mat-cell *matCellDef="let element">{{element.kilos}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
      </table>

    </mat-tab>

    <!-- fin de la seccion stock cámara-->
    <mat-tab label="Facturación" *ngIf="facturar">
      <div class="contenedorFactura">
        <br>
        <mat-form-field>
          <mat-label class="labelInput">Nº factura:</mat-label>
          <input matInput [(ngModel)]="nroFactura">
        </mat-form-field>

        <mat-form-field>
          <mat-label class="labelInput"> Fecha factura</mat-label>
          <input matInput [matDatepicker]="picker8" [(ngModel)]="fechaFactura">
          <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
          <mat-datepicker #picker8></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label class="labelInput">Monto neto factura:</mat-label>
          <input matInput [(ngModel)]="montoNetoFac">
        </mat-form-field>

        <mat-form-field>
          <mat-label class="labelInput">T/C:</mat-label>
          <input matInput [(ngModel)]="tipoCambio">
        </mat-form-field>

        <!-- <div class="btn-plus">
          <button mat-fab matTooltip="Facturar" (click)="facturar()" color="warn" class="btn-add" >
            <mat-icon>check</mat-icon>
          </button>
        </div> -->

        <!-- TABLA  -->
        <div class="contenedorTabla">
          <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Nº trabajo/folio</th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
            <ng-container matColumnDef="frigorifico">
              <th mat-header-cell *matHeaderCellDef>Frigorífico</th>
              <td mat-cell *matCellDef="let element">{{element.frigorifico.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="camara">
              <th mat-header-cell *matHeaderCellDef>Cámara </th>
              <td mat-cell *matCellDef="let element">{{element.camara.id}}</td>
            </ng-container>
            <ng-container matColumnDef="m3">
              <th mat-header-cell *matHeaderCellDef> M3 </th>
              <td mat-cell *matCellDef="let element">{{element.camara.metroscubico}}</td>
            </ng-container>
            <ng-container matColumnDef="fechaEjecucion">
              <th mat-header-cell *matHeaderCellDef> Fecha de aplicación </th>
              <td mat-cell *matCellDef="let element">{{element.fechaEjecucion | date: "dd/MM/yyyy"}}</td>
            </ng-container>
            <ng-container matColumnDef="especie">
              <th mat-header-cell *matHeaderCellDef> Especie </th>
              <td mat-cell *matCellDef="let element">{{element.especie.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="nro_bins">
              <th mat-header-cell *matHeaderCellDef> Nº bins/cajas </th>
              <td mat-cell *matCellDef="let element">{{element.cantBinsTratamiento}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
          </table>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>

  <br>


</div>

<div class="btn-plus2">
  <button mat-fab color="primary" title="Volver" class="btn-volver" [routerLink]="[ '/listado_tratamientos']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>