:host ::ng-deep.mat-dialog-container{
    font-size: 0.8em;
    position: relative;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.25em 0 !important;
}

label {
     margin-bottom: 0rem; 
}

.sinArchivo{
    color: #202F58;
    font-size: 11px;
    margin-top: 3px;
}

.fa-upload{
    color: white;
    font-size: 1em;
}

.fa-search{
    color: grey;
    font-size: 11px;
    margin-left: 2px;
}

.btnClose{
  background-color: transparent;
  border: none;
  color: gray;
  cursor: pointer;
  outline: none;
  right: 0;
  position: absolute;
}

.btnClose .mat-icon{
    font-size: 1em;
}
.btn-check{
  background-color:  #689F38 !important;
  color: white;
}
.tituloDialog{
  font-size: 18px;
  font-weight: 600;
  padding-top: 1em;
}