<button mat-icon-button class="btnClose" (click)="close()">
  <mat-icon>close</mat-icon>
</button>

<div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Productor">
      <th mat-header-cell *matHeaderCellDef> Productor </th>
      <td mat-cell *matCellDef="let element">{{element.Productor}}</td>
    </ng-container>
    <ng-container matColumnDef="VariedadRotulada">
      <th mat-header-cell *matHeaderCellDef> Variedad Rotulada </th>
      <td mat-cell *matCellDef="let element">{{element.VariedadRotulada}}</td>
    </ng-container>
    <ng-container matColumnDef="Categoria">
      <th mat-header-cell *matHeaderCellDef> Categoría </th>
      <td mat-cell *matCellDef="let element">{{element.Categoria}}</td>
    </ng-container>
    <ng-container matColumnDef="Calibre">
      <th mat-header-cell *matHeaderCellDef> Calibre</th>
      <td mat-cell *matCellDef="let element">{{element.Calibre}}</td>
    </ng-container>
    <ng-container matColumnDef="Cajas">
        <th mat-header-cell *matHeaderCellDef> Cajas</th>
        <td mat-cell *matCellDef="let element">{{element.Cajas}}</td>
      </ng-container>
    <ng-container matColumnDef="CondicionAnterior">
      <th mat-header-cell *matHeaderCellDef> Condición Anterior </th>
      <td mat-cell *matCellDef="let element">{{element.CondicionAnterior}}</td>
    </ng-container>
    <ng-container matColumnDef="CondicionActual">
      <th mat-header-cell *matHeaderCellDef> Condición Actual </th>
      <td mat-cell *matCellDef="let element">{{element.CondicionActual}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>