<div class="col-md-12 text-center mt-3">
  <!-- <div *ngIf="buscando">

    <h1 class="titleFavoritos">Busqueda</h1>
    <hr>
    <div *ngIf="menuBusqueda.length == 0">
      <p> Sin Resultados. </p>
    </div>
    <button *ngFor="let menu of menuBusqueda" class="style_prevu_kit" (click)="frutagranel()">
      <i class="fas fa-apple-alt"></i>
      <span class="d-block Favs"> {{menu.nombre}} </span>
    </button>

  </div> -->

  <h1 class="tituloParametros">Parámetros de Módulo Logística</h1>
  <hr>
  <button class="style_prevu_kit" (click)="parametros_contenedores()"><i class="fas fas fa-users-cog"></i><span
      class="d-block Favs">Contenedores</span></button>
</div>