<h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Consulta cambio de Condición</h1>

<mat-form-field class="buscador d-block">
  <mat-placeholder>
    <mat-icon>search</mat-icon>Buscar...
  </mat-placeholder>
  <input matInput (keyup)="filtrar($event.target.value)">
</mat-form-field>

<div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="guia">
      <th mat-header-cell *matHeaderCellDef>Guía</th>
      <td mat-cell *matCellDef="let element">{{element.guia}}</td>
    </ng-container>
    <ng-container matColumnDef="linea">
      <th mat-header-cell *matHeaderCellDef>Línea</th>
      <td mat-cell *matCellDef="let element">{{element.linea}}
      </td>
    </ng-container>
    <ng-container matColumnDef="productor">
      <th mat-header-cell *matHeaderCellDef>Productor</th>
      <td mat-cell *matCellDef="let element">{{element.productor}}</td>
    </ng-container>
    <ng-container matColumnDef="origen">
      <th mat-header-cell *matHeaderCellDef>Origen</th>
      <td mat-cell *matCellDef="let element">{{element.origen}}</td>
    </ng-container>
    <ng-container matColumnDef="destino">
      <th mat-header-cell *matHeaderCellDef>Destino</th>
      <td mat-cell *matCellDef="let element">{{element.destino}}</td>
    </ng-container>
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="ver()">
            <mat-icon><i class="fas fa-info-circle"></i></mat-icon>
            <span>Ver más</span>
          </button>
          <button mat-menu-item (click)="consultarOT()">
            <mat-icon><i class="fas fa-file-alt"></i></mat-icon>
            <span>Consultar OT</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky : true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

<div class="paginador">

  <button mat-icon-button matTooltip="Siguiente">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <select class="numeroPagina" matTooltip="Items por página">
    <option value="20" selected>20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <button mat-icon-button matTooltip="Anterior">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

</div>

<div class="btn-plus">
  <button mat-fab title="Nuevo cambio condición" color="warn" class="btn-add" (click)="nuevoCambio()">
    <mat-icon>add</mat-icon>
  </button>
</div>