<h1 class="tituloTabla">
  <i class=" fas fa-angle-double-right"></i>
  Nuevo registro de cambios
</h1>
<br>
<div class="encabezado">
  <!-- <mat-form-field class="mr-2">
    <mat-label class="labelInput">Responsable: {{usuario}}</mat-label>
    <input matInput disabled>
  </mat-form-field> -->

  <mat-form-field class="mr-2">
    <mat-label class="labelInput">Nº cambio condicion</mat-label>
    <input matInput disabled [(ngModel)]="nro">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Condición destino</mat-label>
    <mat-select [(ngModel)]="condicion" [disabled]="nro > 0">
      <mat-option *ngFor="let condicion of condiciondestino" [value]="condicion.id">
        {{condicion.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field class="mr-2">
    <mat-label class="labelInput">Usuario</mat-label>
    <input matInput>
  </mat-form-field> -->

  <mat-form-field class="mr-3">
    <mat-label class="labelInput"> Fecha</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="fecha" [disabled]="nro > 0">
    <mat-datepicker-toggle matSuffix [for]="picker">{{fecha}}</mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="mr-1">
      <mat-label class="labelInput">Hora</mat-label>
    <input matInput [(ngModel)]="hora" [disabled]="nro > 0">
  </mat-form-field>

  <button *ngIf="!guardado" mat-raised-button color="warn" class="mr-2" (click)="postGuardarEncabezado()"> Guardar
    encabezado </button>
  <button *ngIf="guardado" mat-raised-button color="primary" (click)="asignarFolios()">Asignar folios</button>
</div>

<mat-form-field class="labelInput2">
  <mat-label class="labelInput">Observación</mat-label>
  <textarea matInput [disabled]="nro > 0" [(ngModel)]="observacion"></textarea>
  <!-- <input matInput > -->
</mat-form-field>

<!-- TABLA  -->
<div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="FolioPallet">
      <th mat-header-cell *matHeaderCellDef> Folio </th>
      <td mat-cell *matCellDef="let element">{{element.FolioPallet}}</td>
    </ng-container>
    <ng-container matColumnDef="NumGuia">
      <th mat-header-cell *matHeaderCellDef> Condición Pallet </th>
      <td mat-cell *matCellDef="let element">{{element.Condicion}}</td>
    </ng-container>
    <ng-container matColumnDef="Productor">
      <th mat-header-cell *matHeaderCellDef> Productor </th>
      <td mat-cell *matCellDef="let element">{{element.Productor}}</td>
    </ng-container>
    <ng-container matColumnDef="Variedad">
      <th mat-header-cell *matHeaderCellDef> Variedad Rotulada</th>
      <td mat-cell *matCellDef="let element">{{element.Variedad}}</td>
    </ng-container>
    <ng-container matColumnDef="Especie">
      <th mat-header-cell *matHeaderCellDef> Especie </th>
      <td mat-cell *matCellDef="let element">{{element.Especie}}</td>
    </ng-container>
    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="mostrarInformacion(element)">
            <mat-icon>edit</mat-icon>
            <span>Ver detalle</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>
<!-- <div style="width: 100%; text-align: center;">
    <button *ngIf="tablaError" class="recargar_tabla" mat-raised-button title="Recargar tabla" color="primary">
        <mat-icon>cached</mat-icon>
        Recargar tabla
    </button>
</div> -->

<div class="paginador">
  <button mat-icon-button matTooltip="Siguiente">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <select class="numeroPagina" matTooltip="Items por página">
    <option value="20" selected>20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <button mat-icon-button matTooltip="Anterior">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</div>

<div class="btn-plus2">
  <button mat-fab color="primary" title="Volver" class="btn-volver"
    [routerLink]="[ '/control_de_calidad_fruta_embalada']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<!-- <div class="btn-plus">
  <button mat-fab matTooltip="Guardar cambios" color="warn" class="btn-add">
    <mat-icon>check</mat-icon>
  </button>
</div> -->