<div class="col-12 mt-2">
  <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Despacho a packing por OT </h1>
</div>
<hr>
<!-- INFORMACION encabezado -->
<div class="row">
  <div class="col-xl-2 col-l-3">
    <mat-form-field appearance="fill">
      <mat-label>OT</mat-label>
      <input matInput disabled="true">{{ot}}
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Productor</mat-label>
      <input matInput disabled="true" >{{productor}}
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Frigorífico  origen</mat-label>
      <input matInput disabled="true">{{frigoOrigen}}
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Packing</mat-label>
      <input matInput disabled="true">{{packing}}
    </mat-form-field>
    
    <!-- <mat-form-field appearance="fill">
      <mat-label>Frigorífico destino</mat-label>
      <input matInput disabled="true">{{frigoDestino}}
    </mat-form-field> -->
  </div>

  <div class="col-xl-2 col-l-3">
    <mat-form-field appearance="fill">
      <mat-label>Asignación</mat-label>
      <input matInput disabled="true" >{{asignacion}}
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Línea</mat-label>
      <input matInput disabled="true">{{linea}}
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Turno</mat-label>
      <input matInput disabled="true">{{turno}}
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tipo frío</mat-label>
      <input matInput disabled="true">{{tipo_frio}}
    </mat-form-field>
  </div>
</div>

<!-- tabla -->
<div class="contenedorTabla" disabled="true">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

  <ng-container matColumnDef="Guia">
    <th mat-header-cell *matHeaderCellDef> Guía </th>
    <td mat-cell *matCellDef="let element" > {{element.Guia}} </td>
  </ng-container>

  <ng-container matColumnDef="Linea">
    <th mat-header-cell *matHeaderCellDef> Línea </th>
    <td mat-cell *matCellDef="let element"> {{element.Linea}} </td>
  </ng-container>

  <ng-container matColumnDef="FechaRecepcion">
    <th mat-header-cell *matHeaderCellDef> Fecha recepción </th>
    <td mat-cell *matCellDef="let element"> {{element.FechaRecepcion}} </td>
  </ng-container>

  <ng-container matColumnDef="Camara">
    <th mat-header-cell *matHeaderCellDef> Camara </th>
    <td mat-cell *matCellDef="let element"> {{element.Camara}} </td>
  </ng-container>

  <ng-container matColumnDef="Envase">
    <th mat-header-cell *matHeaderCellDef>Envase</th>
    <td mat-cell *matCellDef="let element"> {{element.Envase}} </td>
  </ng-container>

  <ng-container matColumnDef="Condicion">
    <th mat-header-cell *matHeaderCellDef>Condición </th>
    <td mat-cell *matCellDef="let element"> {{element.Condicion}} </td>
  </ng-container>

  <ng-container matColumnDef="Desp">
    <th mat-header-cell *matHeaderCellDef> Desp. </th>
    <td mat-cell *matCellDef="let element"> {{element.Desp}} </td>
  </ng-container>

  <ng-container matColumnDef="ADespachar">
    <th mat-header-cell *matHeaderCellDef> A despachar </th>
    <td mat-cell *matCellDef="let element">{{element.ADespachar}}</td>
    <!-- <input value={{element.ADespachar}} matInput type="number"> -->
  </ng-container>

  <ng-container matColumnDef="Kilos">
    <th mat-header-cell *matHeaderCellDef> Kilos </th>
    <td mat-cell *matCellDef="let element"> {{element.Kilos}} </td>
  </ng-container>
  
  <ng-container matColumnDef="icons" *ngIf="!detalle" >
    <th mat-header-cell *matHeaderCellDef>Opciones
      <!-- <mat-icon color="warn"><strong>add</strong></mat-icon> -->
     </th>
    <td mat-cell *matCellDef="let element" >
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu" >
        <!-- <button mat-menu-item (click)="asignar_folio_despachar()">
          <mat-icon><i class="fas fa-truck"></i></mat-icon>
          <span>Asignar folios a despachar</span>
        </button> -->
        <button mat-menu-item (click)="asignar_bins(element)" *ngIf="!mostrar">
          <mat-icon><i class="fas fa-arrow-alt-circle-left"></i></mat-icon>
          <span>Asignar bins</span>
        </button>
        <button mat-menu-item (click)="eliminar_bins(element)" *ngIf="!mostrar">
          <mat-icon><i class="fas fa-times"></i></mat-icon>
          <span>Eliminar Bins</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<div class="paginador">

  <button mat-icon-button matTooltip="Siguiente">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <select class="numeroPagina" matTooltip="Items por página">
    <option value="20" selected>20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <button mat-icon-button matTooltip="Anterior">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

</div>


<!-- botones flotantes (volver y guardar) -->
<div class="btn-plus2">
  <button mat-fab color="primary" title="Volver" class="btn-volver" (click)="volverDespachoPacking()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<!-- <div class="btn-plus3">
  <button mat-fab matTooltip="Cerrar OT" class="btn-add" color="warn" (click)="cerrar()">
    <mat-icon>close</mat-icon>
  </button>
</div> -->

<!-- <div class="btn-plus">
  <button mat-fab matTooltip="Guardar cambios" class="btn-add" color="warn" (click)="cerrar()">
    <mat-icon>check</mat-icon>
  </button>
</div> -->