<!-- <div>
  <button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div> -->

<h1 mat-dialog-title>Control de pesos por variedad</h1>
<!-- SLIDE PARA ELEGIR TIPO DE PESAJE -->
<div *ngIf="mostrarPeso === '2' && !editando">
  <span>Por Romana<mat-slide-toggle (change)="onToggleChange($event)" [ngClass]="{'active': isActive}">Por pesas
    </mat-slide-toggle></span>
  <hr>

  <!-- PESAJE POR ROMANA -->
  <div mat-dialog-content class="text-center" *ngIf="controldepeso">
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Nº Recepción</mat-label>
          <input matInput disabled="true" [value]="idGuia">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Especie</mat-label>
          <mat-select [disabled]='editando' (selectionChange)="selEspecie($event.value)" #refEspecie
            [(ngModel)]="especie">
            <mat-option *ngFor="let especie of especies" [value]="especie.id"> {{especie.nombre}} </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>SDP</mat-label>
          <mat-select [disabled]='editando' [(ngModel)]="sdp">
            <mat-option *ngFor="let sdp of arr_sdp" value="">{{sdp.id}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-6 text-center">
        <mat-form-field>
          <mat-label>Produtor</mat-label>
          <input matInput disabled="true" [value]="productorNombre">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Variedades</mat-label>
          <mat-select (selectionChange)="selVariedad($event.value)" #refVariedad [(ngModel)]="variedad">
            <mat-option [value]="variedad.id" *ngFor="let variedad of variedades "> {{ variedad.nombre }} </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Fecha cosecha</mat-label>
          <input [disabled]='editando' matInput [ngModel]="fechaCosecha | date:'dd/M/yyyy'">
        </mat-form-field>
        <br>
      </div>
    </div>

    <!-- tipo contenedor  -->
    <div class="row mt-2">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>Tipo contenedor</mat-label>
          <mat-select [disabled]='editando' (selectionChange)="selContenedor($event.value)"
            [(ngModel)]="tipoContenedor">
            <mat-option [value]="contenedor.id" *ngFor="let contenedor of tipoContenedores "> {{ contenedor.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- tabla envases -->
    <table style="width:100%">
      <tr>
        <th></th>
        <th>Tipo</th>
        <th>Envase</th>
        <th>Config.</th>
        <th>Tara</th>
        <th>Cant. Unifrutti</th>
        <th>Cant. Otros</th>
        <th>Total</th>
      </tr>
      <tr *ngFor="let detCont of detContenedores">
        <th>
          <mat-checkbox [(ngModel)]="detCont.check"></mat-checkbox>
        </th>
        <td>{{detCont.tipo}}</td>
        <td>{{detCont.envaseCosecha.nombre}}</td>
        <td>{{detCont.cantidad}}</td>
        <td><input [disabled]='editando' value="43" [(ngModel)]="detCont.tara" class="inputValoresEnvases"></td>
        <td><input [disabled]='editando' [(ngModel)]="detCont.cantEnvasesUni" type='number' class="inputValoresEnvases">
        </td>
        <td><input [disabled]='editando' [(ngModel)]="detCont.cantEnvasesOtros" type='number'
            class="inputValoresEnvases"></td>
        <td>{{ (detCont.cantEnvasesUni) + (detCont.cantEnvasesOtros)  }}</td>
      </tr>
    </table>
    <hr>

    <mat-radio-group class="mt-1" [(ngModel)]="elementoPesado">
      <mat-radio-button value="1" class="mr-2">Camión</mat-radio-button>
      <mat-radio-button value="2">Carro</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-form-field class="mt-1">
      <mat-label>Peso desde Romana</mat-label>
      <input [(ngModel)]="pesoVariedadRomanaCamionCarro" (keyup)="sumaPeso($event.target.value)" matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Peso bruto</mat-label>
      <input matInput disabled="true" type="number" [(ngModel)]="pesoBrutoVariedadRomana">
    </mat-form-field>
  </div>
</div>



<!-- PESAJE POR PESAS -->
<div mat-dialog-content class="justify-content-center text-center" *ngIf="!controldepeso || mostrarPeso === '1'">
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Nº Recepción:</mat-label>
        <input matInput disabled="true" [value]="idGuia">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Especie</mat-label>
        <mat-select [disabled]='editando' (selectionChange)="selEspecie($event.value)" #refEspecie
          [(ngModel)]="especie">
          <mat-option *ngFor="let especie of especies" [value]="especie.id"> {{especie.nombre}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>SDP</mat-label>
        <mat-select [disabled]='editando' [(ngModel)]="sdp">
          <mat-option *ngFor="let sdp of arr_sdp" value="">{{sdp.id}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-6 text-center">
      <mat-form-field>
        <mat-label>Produtor: </mat-label>
        <input matInput disabled="true" [value]="productorNombre">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Variedad</mat-label>
        <mat-select [disabled]='editando' (selectionChange)="selVariedad($event.value)" #refVariedad
          [(ngModel)]="variedad">
          <mat-option [value]="variedad.id" *ngFor="let variedad of variedades "> {{ variedad.nombre }} </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Fecha cosecha</mat-label>
        <input [disabled]='editando' matInput [(ngModel)]="fechaCosechaEspecie">
      </mat-form-field>
      <br>
    </div>
  </div>

  <!-- select de tipo de contenedor -->
  <div class="row mt-2">
    <div class="col-12">
      <mat-form-field appearance="fill">
        <mat-label>Tipo contenedores</mat-label>
        <mat-select [disabled]='editando' (selectionChange)="selContenedor($event.value)" [(ngModel)]="tipoContenedor">
          <mat-option [value]="contenedor.id" *ngFor="let contenedor of tipoContenedores "> {{ contenedor.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- tabla con tipos de envases -->
  <table style="width:100%">
    <tr>
      <th></th>
      <th>Tipo</th>
      <th>Envase</th>
      <th>Config.</th>
      <th>Tara</th>
      <th>Cant. Unifrutti</th>
      <th>Cant. Otros</th>
      <th>Total</th>
    </tr>
    <tr *ngFor="let detCont of detContenedores">
      <th>
        <!-- <mat-checkbox [(ngModel)]="detCont.check"></mat-checkbox> -->

      </th>
      <td>{{detCont.esContenedor? 'contenedor':'envase'}}</td>
      <td>{{detCont.envaseCosecha.nombre}}</td>
      <td>{{detCont.cantidad}}</td>
      <td *ngIf="detCont.esContenedor"><input [disabled]='editando' value="43" [(ngModel)]="detCont.tara"
          class="inputValoresEnvases" (keyup)="actualizarTotal(detCont)" (change)="validarTara($event,detCont)"></td>
      <td *ngIf="!detCont.esContenedor"><input [disabled]='editando' value="43" [(ngModel)]="detCont.tara"
          class="inputValoresEnvases" (change)="validarTara($event,detCont)"></td>
      <td *ngIf="detCont.esContenedor"><input [disabled]='editando' [(ngModel)]="detCont.cantEnvasesUni" type='number'
          class="inputValoresEnvases" (change)="validarTara($event,detCont)" (keyup)="actualizarTotal(detCont)"></td>
      <td *ngIf="!detCont.esContenedor"><input [disabled]='editando' [(ngModel)]="detCont.cantEnvasesUni" type='number'
          class="inputValoresEnvases" (change)="validarTara($event,detCont)"></td>
      <td *ngIf="detCont.esContenedor"><input [disabled]='editando' [(ngModel)]="detCont.cantEnvasesOtros" type='number'
          class="inputValoresEnvases" (change)="actualizar_total()" (keyup)="actualizarTotal(detCont)"></td>
      <td *ngIf="!detCont.esContenedor"><input [disabled]='editando' [(ngModel)]="detCont.cantEnvasesOtros"
          type='number' class="inputValoresEnvases" (change)="actualizar_total()"></td>
      <td>{{ (detCont.cantEnvasesUni) + (detCont.cantEnvasesOtros)  }}</td>
    </tr>

  </table>

  <div *ngIf="mostrarPeso === '2'">
    <!-- Cantidad de contenedores a pesar -->
    <div class="text-center mt-3">
      <p class="cantidadPesaje">Cantidad a pesar:</p>
      <input class="kilosPesaje" [(ngModel)]="cantidadPesar" type="number"
        (keyup)="cantidadPesarChange($event.target.value)">
      <p class="binsPesados">Total pesados: <strong
          style="color: #2969CB;">{{ restoPesajeBins }}/{{ totalBinsPesar }}</strong></p>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Impresora</mat-label>
      <mat-select [(ngModel)]="impresoraSeleccion">
        <mat-option *ngFor="let impresora of impresoras; let ind = index" [value]="ind">{{impresora.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <hr>
    <p *ngIf="sobranteFaltante">Envases en el ultimo Bins: {{ envasesSobrantesFaltantes }}</p>
    <p *ngIf="!sobranteFaltante">Envases a piso: {{ envasesSobrantesFaltantes }}</p>
    <!-- Tabla donde se ingresan/modifican cantidad de contenedores y envases por pesaje -->
    <table style="width:100%">
      <tr>
        <th></th>
        <th>Tipo</th>
        <th>Envase</th>
        <th>Config.</th>
        <th>Tara</th>
        <th>Cant. Unifrutti</th>
        <th>Cant. Otros</th>
        <th>Total</th>
      </tr>
      <tr *ngFor="let detCont of tipoContenedores_detalle">
        <th>
          <mat-checkbox [(ngModel)]="detCont.check"></mat-checkbox>
        </th>
        <td>{{detCont.esContenedor? 'contenedor':'envase'}}</td>
        <td>{{detCont.envaseCosecha.nombre}}</td>
        <td>{{detCont.cantidad}}</td>
        <td><input [(ngModel)]="detCont.tara" class="inputValoresEnvases" (keyup)="actualizarTotalDetalle(detCont)"
            (change)="validarTara($event,detCont)"></td>
        <td><input [(ngModel)]="detCont.cantEnvasesUni" type='number' class="inputValoresEnvases"
            (keyup)="actualizarTotalDetalle(detCont)"></td>
        <td><input [(ngModel)]="detCont.cantEnvasesOtros" type='number' class="inputValoresEnvases"
            (keyup)="actualizarTotalDetalle(detCont)"></td>
        <td>{{ (detCont.cantEnvasesUni) + (detCont.cantEnvasesOtros)  }}</td>
      </tr>
    </table>

    <div class="row mt-2">
      <div class="col-12">
        <button mat-icon-button class="btn-calculo" (click)="addPesaje()" [disabled]="!validadorAddPesaje()">
          <i class="fas fa-calculator"></i>
        </button>Añadir pesaje
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-6">
        <mat-form-field style="width:6em">
          <mat-label>Peso bruto balanza:</mat-label>
          <input matInput style="font-size:25px; font-weight:600" [(ngModel)]="pesoBrutoBalanza"
            (keyup)="calculoPesoPromedio()" [disabled]="cantidadPesar <= 0 ">
        </mat-form-field>
        <strong><span>KG.</span></strong>
      </div>
      <div class="col-6">
        <mat-form-field style="width:6em;">
          <mat-label>Promedio pesaje</mat-label>
          <input matInput class="result-promedios" [(ngModel)]="promedioPesaje">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions class="justify-content-center">
  <!-- [disabled]="!validarCampos()" -->
  <button mat-fab (click)="guardar()" cdkFocusInitial color="warn" title="Aceptar">
    <mat-icon>check</mat-icon>
  </button>
</div>