<!-- INFORMACION DE PRODUCTOR -->
<div class="col-12 mt-2">
  <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Información del Productor </h1>
</div>
<hr>

<div class="row">
  <div class="col-xl-2 col-l-3">
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label>Rut: {{cabecera.des_rut_productor}}</mat-label>
      <input #rutInput matInput maxlength="9" [ngModelOptions]="{standalone: true}" (change)="formatoRut()"
        [(ngModel)]="rut" disabled="true">
    </mat-form-field>
    <p class="textoMostrado">Productor: {{cabecera.des_RazonSocial_Productor}}</p>
  </div>
  <div class="col-xl-2 col-l-3">
    <p class="textoMostrado">Huerto: {{cabecera.des_Nombre_Huerto}} </p>
    <p class="textoMostrado">CSG: {{cabecera.cod_CSG}}</p>
  </div>
  <div class="col-xl-2 col-l-3">
    <mat-radio-group disabled="true" #radioGroup="matRadioGroup">
      <mat-label class="textoTitulos d-block">Modo pesaje</mat-label>
      <!-- <mat-radio-button *ngFor="let op of radioOpciones" [checked]="cabecera.bit_modo_pesaje" name="ops">
        {{op.nombre}}
      </mat-radio-button> -->
      <mat-radio-button [checked]="cabecera.bit_modo_pesaje" class="d-inline ml-2">Especie </mat-radio-button>
      <mat-radio-button [checked]="!cabecera.bit_modo_pesaje" class="d-inline ml-2">Variedad</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<br>

<!-- INFORMACION GUIA -->
<div class="col-12">
  <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i>Información Guía</h1>
</div>
<hr>
<div class="row">
  <div class="col-xl-2 col-l-3">
    <p class="textoMostrado">Nº Guía recepción: {{cabecera.num_Guia_Recepcion}}</p>
    <mat-form-field appearance="fill">
      <!-- <mat-label>Guía SII: {{ckuEnt.num_GuiaSII}}</mat-label> -->
      <mat-label>Guía SII: {{cabecera.num_Guia_Productor}}</mat-label>
      <input matInput disabled="true">
    </mat-form-field>
    <p class="textoMostrado">Frigorífico: {{cabecera.des_frigorifico}}</p>
  </div>

  <!-- Fechas -->
  <div class="col-xl-2 col-l-3">
    <mat-form-field appearance="fill" class="fechas">
      <mat-label>Cosecha: {{cabecera.dat_Fecha_Cosecha }}</mat-label>
      <input matInput [matDatepicker]="picker" disabled="true">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="fechas">
      <mat-label>Despacho: {{cabecera.dat_fecha_Despacho }}</mat-label>
      <input matInput [matDatepicker]="picker2" disabled="true">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="fechas">
      <mat-label>Recepción: {{cabecera.dat_Fecha_Recepcion}}</mat-label>
      <input matInput [matDatepicker]="picker3" disabled="true">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
  </div>
</div>