.tituloTabla{
    font-size: 14px;
    color: rgb(52, 76, 143);
    float: left;
    font-weight: 600;
    margin-bottom: 0 !important;
}

:host ::ng-deep.mat-form-field-infix{
border-top: 0;
/* padding: 0 0 15px 0 !important; */
}

:host ::ng-deep.mat-stepper-vertical{
    background-color: transparent;
}
  
:host ::ng-deep.mat-vertical-content{
    padding: 0 !important ;
}

:host ::ng-deep.mat-form-field-appearance-fill{
    margin: 5px !important;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
    padding: .15em .15em 0 .15em
}
:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.25em 0;
  width: 12em !important;
}

:host ::ng-deep.mat-form-field-wrapper {
    margin: 0 0 -1em 0 !important;
}

:host ::ng-deep.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  margin-top: -1.5em;
  margin-left: -1.4em;
  outline: none;
}

:host ::ng-deep.mat-tab-labels{
  background-color: rgba(187, 190, 199, 0.2);
}

.textoMostrado{
  margin-left: 8px;
  width: 15em;
  word-wrap: break-word;
}

@media (max-width: 1400px) {
.fechas ::ng-deep.mat-form-field-wrapper{
  width: 100%;
}
}