<!-- DESCRICION DEL ROL -->
<mat-card class="card">
  <p class="d-inline titulorol"><strong>Rol: </strong> {{ nombre_rol }}</p>
</mat-card>

<div class="contenedorFuncionalidades mt-4">
  <!-- COMBO DE EXPORTADORA -->
  <mat-form-field appearance="fill">
    <mat-label>Exportadora</mat-label>
    <mat-select>
      <mat-option class="opciones" *ngFor="let exp of listaExportadoras" [value]="exp.id">
        {{exp.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- COMBO DE PLANTA -->
  <mat-form-field appearance="fill">
    <mat-label>Planta</mat-label>
    <mat-select>
      <mat-option class="opciones" *ngFor="let planta of listaPlantas" [value]="planta.id">
        {{planta.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- COMBO DE MENUS -->
  <mat-form-field appearance="fill">
    <mat-label>Seleccionar Menú</mat-label>
    <mat-select>
      <mat-option class="opciones" *ngFor="let menu of listaMenu" [value]="menu.id">
        {{menu.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <hr>

  <!-- ARBOL CON SUB MENUS Y OPCIONES PARA CADA PANTALLA -->
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        {{node.name}}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>

  <!-- BOTON VOLVER -->
  <div class="btn-plus2">
    <button mat-fab color="primary" title="Volver" class="btn-volver" [routerLink]="[ '/roleslistado']">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <!-- BOTON GUARDAR -->
  <div class="btn-plus">
    <button mat-fab title="Guardar cambios" class="btn-add" color="warn" (click)="guardar()">
      <mat-icon>check</mat-icon>
    </button>
  </div>
