<div class="row">
  <div class="col-12">
    <span>
      Pendientes
      <mat-slide-toggle>
        Realizadas
      </mat-slide-toggle>
    </span>
  </div>
</div>
<br>

<h1 class="tituloTabla">
  <i class=" fas fa-angle-double-right"></i>
  Listado de despachos puertos
</h1>

<mat-form-field class="buscador">
  <mat-placeholder>
    <mat-icon>search</mat-icon>Buscar...
  </mat-placeholder>
  <input matInput (keyup)="filtrar($event.target.value)">
</mat-form-field>

<!-- TABLA  -->
<div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="emp_transporte">
      <th mat-header-cell *matHeaderCellDef> Empresa transporte </th>
      <td mat-cell *matCellDef="let element">{{element.emp_transporte}}</td>
    </ng-container>
    <ng-container matColumnDef="tipo_camion">
      <th mat-header-cell *matHeaderCellDef> Tipo camión </th>
      <td mat-cell *matCellDef="let element">{{element.tipo_camion}}</td>
    </ng-container>
    <ng-container matColumnDef="peso_ingreso">
      <th mat-header-cell *matHeaderCellDef> Peso ingreso </th>
      <td mat-cell *matCellDef="let element">{{element.peso_ingreso}}</td>
    </ng-container>
    <ng-container matColumnDef="patente">
      <th mat-header-cell *matHeaderCellDef> Patente </th>
      <td mat-cell *matCellDef="let element">{{element.patente}}</td>
    </ng-container>
    <ng-container matColumnDef="chofer">
      <th mat-header-cell *matHeaderCellDef> Chofer </th>
      <td mat-cell *matCellDef="let element">{{element.chofer}}</td>
    </ng-container>
    <ng-container matColumnDef="contenedor">
      <th mat-header-cell *matHeaderCellDef> Contenedor </th>
      <td mat-cell *matCellDef="let element">{{element.contenedor}}</td>
    </ng-container>
    <ng-container matColumnDef="tara">
      <th mat-header-cell *matHeaderCellDef> Tara </th>
      <td mat-cell *matCellDef="let element">{{element.tara}}</td>
    </ng-container>
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="carga_camion()">
            <mat-icon>local_shipping</mat-icon>
            <span>Carga camión</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- <mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>
<div style="width: 100%; text-align: center;">
    <button *ngIf="tablaError" class="recargar_tabla" mat-raised-button title="Recargar tabla" color="primary">
        <mat-icon>cached</mat-icon>
        Recargar tabla
    </button>
</div> -->

<div class="paginador">
  <button mat-icon-button matTooltip="Siguiente" (click)="siguiente()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <select class="numeroPagina" matTooltip="Items por página">
    <option value="20" selected>20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <button mat-icon-button matTooltip="Anterior" (click)="anterior()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</div>

<div class="btn-plus">
  <button mat-fab matTooltip="Recepcionar camión" color="warn" class="btn-add" (click)="recepcion_camion()">
    <mat-icon>add</mat-icon>
  </button>
</div>