
mat-form-field, .btn_archivo{
    margin-right: 5px;
}

label {
     margin-bottom: 0rem; 
}
body{
  font-size: 12px;
}
.tituloTabla{
    font-size: 14px;
    color: rgb(52, 76, 143);
    float: left;
    margin-bottom: 5px;
    margin-top: 1em;
}
mat-spinner, .recargar_tabla{
  margin: 0 auto;
  margin-top: 4em;
}

.numero_pagina{
  border: none;
  background-color: white;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  align-self: center;
}
.mat-icon-button{
float: right;
background-color: rgb(247, 247, 247);
}

.mat-icon-button:hover{
background-color: white;
}

.mat-icon-button:focus{
outline: none;
}

.buscador{
  float: right;
  display: block;
  opacity: 0.5;
  text-align: left !important;
}
.paginador{
  left: 0 !important;
  margin-top: 15px;
  float: left; 
}
.paginador mat-icon-button{
  background: transparent;
  margin: 5px;
}
mat-accordion, table,mat-panel-title, .header2{
  font-family: 'Montserrat', Arial, Tahoma, sans-serif;
}
table{
 font-size:12px;
}
.tablasdetalle{
 max-width: 98%;
}
mat-spinner{
  margin: 0 auto;
  margin-top: 4em;
}
.facturar mat-icon{
 margin-top: -7px;
 margin-right: -2px;
}
table .ng-star-inserted{
    text-align: center;
 }
.fa-file-invoice-dollar{
    font-size: 0.8em;
}
.fa-file-alt{
margin-top: -5px;
}
 @media (max-width: 900px){
 td.mat-cell, td.mat-footer-cell, th.mat-header-cell  {
    width: 10px;
    font-size: 10px;
  }
 }

@media (max-width: 620px) {
  :host ::ng-deep.th.mat-cell{
  padding-left: 15px;
  }
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}