<!-- FAVORITOS -->
<button class="addToFavorites mt-3 mr-3" (click)="agregarFavorito()">
  <mat-icon [ngClass]="{'active': esFavorito}">star</mat-icon>
</button>



<h1 class="tituloTabla">
  <i class=" fas fa-angle-double-right"></i>
  Nueva recepción fruta embalada
</h1>

<div class="row">
  <div class="col-12">
    <!-- <div class="row mt-1"> -->
    <!-- <div class="col-xl-2 col-l-3"> -->
    <mat-form-field class="rutTest" appearance="fill">
      <mat-label class="labelInput">Rut productor</mat-label>
      <input #rutInput matInput maxlength="9" [ngModelOptions]="{standalone: true}" [disabled]="editandoRecepcion"
        (change)="formatoRut($event.target.value)" [(ngModel)]="rut">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label class="labelInput">Productores</mat-label>
      <mat-select [(ngModel)]="productorIntencion" (selectionChange)="selectProductoresInt($event)"
        [disabled]="editandoRecepcion">
        <mat-option *ngFor="let productorIntencion of productorIntenciones"
          [value]="productorIntencion.id + '-' + productorIntencion.codProductor ">{{productorIntencion.id}}
          {{productorIntencion.codProductor}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <div class="textoTitulos"> -->
      <p>Productor: {{ productor }}</p>
      <!-- Aquí se muestra el nombre después de ingresar rut-->


      <mat-form-field appearance="fill">
          <mat-label class="labelInput">Huerto</mat-label>
          <mat-select [(ngModel)]="huerto" (selectionChange)="selectHuerto($event.value)" #inputHuerto
            [disabled]="editandoRecepcion">
            <mat-option *ngFor="let huerto of huertos" [value]="huerto.id">{{huerto.id}}-{{huerto.nombre}}</mat-option>
          </mat-select>

          <p>CSG: {{csg}}</p>

        </mat-form-field>
    
        <!-- <div class="textoTitulos"> -->
          
    <!-- </div> -->
  </div>

  <!-- <div class="col-xl"> -->
   
    <!-- </div> -->
    <!-- </div> -->

    <!-- </div> -->
    <!-- <mat-form-field class="example-full-width">
      <input matInput placeholder="Rut">
    </mat-form-field> -->

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nº guía">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Packing satélite</mat-label>
      <mat-select [(ngModel)]="frigoSelecion">
        <mat-option *ngFor="let item of frigorificos" [value]="item.id">
          {{item.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Observación" [(ngModel)]="observacion">
    </mat-form-field>

    <button mat-raised-button type="file" class="btn_archivo" >
      <label>
        Elegir archivo <i class="fas fa-search"></i>
        <!-- <input type="file" style="display: none" (change)="handleFileInput($event.target.files)" file-handler> -->
        <input type="file" id="file-input" style="display: none" (click)="elegirArchivo()">
      </label>
    </button>

  <!-- </div> -->
  <!-- <div class="col-12" *ngIf="!cargandoFrigo">
        <p class="tituloTabla"><strong>Cargando Frigoríficos...</strong></p>
    </div> -->

  <!-- <button (click)="funcion()"> mostrar</button> -->

</div>

<mat-form-field class="buscador">
  <mat-placeholder>
    <mat-icon>search</mat-icon>Buscar...
  </mat-placeholder>
  <input matInput (keyup)="filtrar($event.target.value)">
</mat-form-field>
<br>

<!-- TABLA  -->
<!-- <div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="cod">
      <th mat-header-cell *matHeaderCellDef>Cód</th>
      <td mat-cell *matCellDef="let element">{{element.cod}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha</th>
      <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
    </ng-container>
    <ng-container matColumnDef="packing_satelite">
      <th mat-header-cell *matHeaderCellDef> Packing satélite</th>
      <td mat-cell *matCellDef="let element">{{element.packing_satelite}}</td>
    </ng-container>
    <ng-container matColumnDef="frigorifico">
      <th mat-header-cell *matHeaderCellDef> Frigorífico </th>
      <td mat-cell *matCellDef="let element">{{element.frigorifico}}</td>
    </ng-container>
    <ng-container matColumnDef="productor">
      <th mat-header-cell *matHeaderCellDef> Productor </th>
      <td mat-cell *matCellDef="let element">{{element.productor}}</td>
    </ng-container>
    <ng-container matColumnDef="nro_guia">
      <th mat-header-cell *matHeaderCellDef> Nº guía </th>
      <td mat-cell *matCellDef="let element">{{element.nro_guia}}</td>
    </ng-container>
     <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editar()">
            <mat-icon>edit</mat-icon>
            <span>editar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container> -->
<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr> -->
<!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
<!-- </table> -->
<!-- </div> -->
<br>
<br>

<mat-accordion *ngFor="let item of listadoFinalFinal">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Folio: {{item.folio}}
        </mat-panel-title>
        <mat-panel-description>
          Cajas: {{item.detalle.length}} 
        </mat-panel-description>
      </mat-expansion-panel-header>
        <div > 
            <table style="width:100%">
                <tr>
                    <th>Folio Asignado</th>
                    <th>Nª Caja</th> 
                    <th>Temporada</th> 
                    <th>Huerto</th>
                    <th>Estado Pallet</th>
                    <th>Fecha Cosecha</th>
                    <th>Fecha Embalaje</th>
                    <th>Calibre</th>
                  </tr>
                <tr *ngFor="let items of item.detalle">
                  <td>{{items.folioAsignado}}</td>
                  <td>{{items.numCaja}}</td>
                  <td>{{items.codTemporada}}</td>
                  <td>{{items.codHuerto}}</td>
                  <td>{{items.estadoPallet}}</td>
                  <td>{{items.fechaCosecha}}</td>
                  <td>{{items.fechaEmbalaje}}</td>
                  <td>{{items.calibreRotulado}}</td>
                </tr>
              </table>
          <!-- <p>{{items.folioAsignado}}</p>  -->
        </div>
    </mat-expansion-panel>
    <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel> -->
  </mat-accordion>
<!-- <mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>
<div style="width: 100%; text-align: center;">
    <button *ngIf="tablaError" class="recargar_tabla" mat-raised-button title="Recargar tabla" color="primary">
        <mat-icon>cached</mat-icon>
        Recargar tabla
    </button>
</div> -->

<mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>

<!-- <div class="paginador ">
  <button mat-icon-button matTooltip="Siguiente" (click)="siguiente()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <select class="numeroPagina" matTooltip="Items por página">
    <option value="20" selected>20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <button mat-icon-button matTooltip="Anterior" (click)="anterior()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</div> -->

<div class="btn-plus">
  <button mat-fab matTooltip="Finalizar" (click)="finalizar()" color="warn" class="btn-add">
    <mat-icon>check</mat-icon>
  </button>
</div>