<header class="headerBar">
  <div class="row">
    <div class="col-12">
      <div class="bgWhite text-center d-inline-block">
        <span class="version">{{nombre}} {{publicacion}} (v{{version}} estable)</span>
        <img src={{urlLogoEmpresa}} alt="" class="img-fluid logoNavbar" (click)="onNavigate()">
      </div>
   <!--    <div class="buttonsMenu">
        <div>
          <p style="color: white; font-size: 15px" *ngIf="estadoMenu">{{estadoMenu}}</p>
        </div>
        <div *ngFor="let menu of menuSuperior" class="d-inline">
          <button class="btnMenu" (click)="selectMenu(menu)">{{ menu.nombre }} </button>
        </div>
        <span *ngIf="!estadoMenu" class="btnSearch">
          <input type="text" [(ngModel)]="txt_buscar" class="inputSearch" (ngModelChange)="buscarMenu($event)"
            placeholder="     Palabra clave" (keypress)="buscarMenuEnter($event)">
        </span>
      </div> -->
      <div class="datosNavbar2">
        <p>{{NavExp}} / {{NavTemp}} / {{NavPlanta}}
        </p>
      </div>
      <div class="user_y_button">
        <p class="nombreUsuarioNavbar d-inline">{{NavUsuario}}</p>
        <button mat-icon-button class="btn-config" (click)="openDialog()" matTooltip="Cambiar configuración"><i
            class="fas fa-user-cog"></i></button>
      </div>
      <img src={{urlLogoPall}} class="img-fluid logoPall">
    </div>
  </div>
</header>