
.contenedorTabla{
  font-size: 12px;
  text-align: center;
}
.btnAsignar{
 /* position: fixed; */
 margin-left: 45%;
 float: center;
}
.btnClose{
background-color: transparent;
border: none;
color: gray;
cursor: pointer;
outline: none;
float: right;
}

.btnClose .mat-icon{
 font-size: 1em;
}