<button mat-icon-button class="btnClose" (click)="close()">
  <mat-icon>close</mat-icon>
</button>

<div class="info">
  <p><strong>Guía:</strong> 23123</p>
  <p><strong>Productor:</strong> Oscar Vargas</p>
  <p><strong>Variedad: </strong>821 CEREZAS BING-44 VAN</p>
  <p><strong>Bultos:</strong> 51 | 564 Kgs </p>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="origen">
    <th mat-header-cell *matHeaderCellDef>Origen</th>
    <td mat-cell *matCellDef="let element">{{element.origen}}</td>
  </ng-container>
  <ng-container matColumnDef="destino">
    <th mat-header-cell *matHeaderCellDef>Destino</th>
    <td mat-cell *matCellDef="let element">{{element.destino}}</td>
  </ng-container>
  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef>Usuario</th>
    <td mat-cell *matCellDef="let element">{{element.usuario}}</td>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef>Fecha</th>
    <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
  </ng-container>
  <ng-container matColumnDef="hora">
    <th mat-header-cell *matHeaderCellDef>Hora</th>
    <td mat-cell *matCellDef="let element">{{element.hora}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>