.codigo_barra{
    width: 10em;
    float: right;
}

.align-td{
    text-align: right !important;
}
tr{
    width: 10em;
}
.ng-star-inserted{
    text-align: center;
  }

  .btnClose{
background-color: transparent;
border: none;
color: gray;
cursor: pointer;
outline: none;
float: right;
}

.btnClose .mat-icon{
  font-size: 1em;
}
