<button mat-icon-button class="btnClose" (click)="close()">
  <mat-icon>close</mat-icon>
</button>

<div class="row">
  <div class="col-4">
    <table>
      <tr>
        <td>Bins:</td>
        <td class="align-td">190</td>
      </tr>
      <tr>
        <td>Kilos:</td>
        <td class="align-td">875</td>
      </tr>
      <tr>
        <td>Especie:</td>
        <td class="align-td">Cerezas</td>
      </tr>
      <tr>
        <td>Variedad:</td>
        <td class="align-td">Bing</td>
      </tr>
    </table>
  </div>

  <div class="col-8">
    <img src="assets/img/codigo_barra.png" alt="codigo de barra" class="codigo_barra">
  </div>
</div>

<br>
<br>

<table mat-table [dataSource]="dataSource4" class="mat-elevation-z8">

  <ng-container matColumnDef="nro_despacho">
    <th mat-header-cell *matHeaderCellDef> Nro Despacho </th>
    <td mat-cell *matCellDef="let element"> {{element.nro_despacho}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
  </ng-container>

  <ng-container matColumnDef="tipo_venta">
    <th mat-header-cell *matHeaderCellDef> Tipo de venta </th>
    <td mat-cell *matCellDef="let element"> {{element.tipo_venta}} </td>
  </ng-container>

  <ng-container matColumnDef="mercado">
    <th mat-header-cell *matHeaderCellDef> Mercado </th>
    <td mat-cell *matCellDef="let element"> {{element.mercado}} </td>
  </ng-container>

  <ng-container matColumnDef="etiqueta">
    <th mat-header-cell *matHeaderCellDef> Etiqueta </th>
    <td mat-cell *matCellDef="let element"> {{element.etiqueta}} </td>
  </ng-container>

  <ng-container matColumnDef="caja">
    <th mat-header-cell *matHeaderCellDef> Caja </th>
    <td mat-cell *matCellDef="let element"> {{element.caja}} </td>
  </ng-container>

  <ng-container matColumnDef="kg">
    <th mat-header-cell *matHeaderCellDef> Kg </th>
    <td mat-cell *matCellDef="let element"> {{element.kg}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
</table>