<div class="contenedorFactura">
  <button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <br>
  <br>
  <div>
    <br>
    <mat-form-field>
      <mat-label class="labelInput">RUT</mat-label>
      <input matInput [(ngModel)]="rutProveedor" maxlength="10" (keyup)="buscarProveedor()">
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelInput">Nombre de la empresa</mat-label>
      <input matInput disabled [(ngModel)]="nombreRSocial">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label class="labelInput">Nº factura:</mat-label>
      <input matInput [(ngModel)]="nroFactura">
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelInput"> Fecha factura</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaFactura">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelInput">Monto neto factura:</mat-label>
      <input matInput [(ngModel)]="montoNetoFac">
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelInput">T/C:</mat-label>
      <input matInput [(ngModel)]="tipoCambio">
    </mat-form-field>
  </div>

  <!-- TABLA  -->
  <div class="contenedorTabla">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" 
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"
          (change)="checkTodo($event)">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (change)="checkSeleccionados(row)" [(ngModel)]="row.check"
          (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"
           >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Nº trabajo/folio</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="frigorifico">
          <th mat-header-cell *matHeaderCellDef>Frigorífico</th>
          <td mat-cell *matCellDef="let element">{{element.frigorifico.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="camara">
          <th mat-header-cell *matHeaderCellDef>Cámara </th>
          <td mat-cell *matCellDef="let element">{{element.camara.id}}</td>
        </ng-container>
        <ng-container matColumnDef="m3">
          <th mat-header-cell *matHeaderCellDef> M3 </th>
          <td mat-cell *matCellDef="let element">{{element.camara.metroscubico}}</td>
        </ng-container>
        <ng-container matColumnDef="fechaEjecucion">
          <th mat-header-cell *matHeaderCellDef> Fecha de aplicación </th>
          <td mat-cell *matCellDef="let element">{{element.fechaEjecucion | date: "dd/MM/yyyy"}}</td>
        </ng-container>
        <ng-container matColumnDef="especie">
          <th mat-header-cell *matHeaderCellDef> Especie </th>
          <td mat-cell *matCellDef="let element">{{element.especie.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="nro_bins">
          <th mat-header-cell *matHeaderCellDef> Nº bins/cajas </th>
          <td mat-cell *matCellDef="let element" >{{element.cantBinsTratamiento}}</td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="text-right mt-2">
    <button mat-fab color="warn" (click)="postFacturar()" matTooltip="Agregar folios seleccionados">
      <mat-icon>check</mat-icon>
    </button>
  </div>
  <br>
  <!-- <div class="text-right">
    <p>¿Está seguro que desea agregar los folios seleccionados?</p>
    <button mat-raised-button class="mr-2">Cancelar</button>
    <button mat-raised-button color="warn">Si, agregar</button>
  </div> -->

</div>