<div class="col-12 mt-2">
  <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Despacho interplanta</h1>
</div>
<hr>

<!-- tabla -->
<div class="contenedorTabla">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> OT </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="fechaProceso">
    <th mat-header-cell *matHeaderCellDef> Fecha</th>
    <td mat-cell *matCellDef="let element"> {{element.fechaProceso | date: "dd/MM/yyyy"}} </td>
  </ng-container>

  <ng-container matColumnDef="especie">
    <th mat-header-cell *matHeaderCellDef> Especie </th>
    <td mat-cell *matCellDef="let element"> {{element.especie.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="origen">
    <th mat-header-cell *matHeaderCellDef> Planta origen </th>
    <td mat-cell *matCellDef="let element"> {{planta}} </td>
  </ng-container>

  <ng-container matColumnDef="frigorifico">
    <th mat-header-cell *matHeaderCellDef> Planta destino </th>
    <td mat-cell *matCellDef="let element"> {{element.frigorificoDestino.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="despachoInterplantaPorOt(element)">
          <mat-icon><i class="fas fa-truck"></i></mat-icon>
          <span>Asignar bins</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>

<mat-paginator [length]="100" [pageSize]="20" [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>

