<div>
  <button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<br>
<div mat-dialog-title class="encabezado">

  <mat-form-field appearance="fill">
    <mat-label>Nº Guía SII: 9604291</mat-label>
    <input matInput disabled="true">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Serie: C</mat-label>
    <input matInput disabled="true">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Código Leyenda: 1</mat-label>
    <input matInput disabled="true">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Precio referencia:</mat-label>
    <input matInput value="0">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Patente Camión</mat-label>
    <input matInput disabled="true" value="BHGF55">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Chofer:</mat-label>
    <input matInput disabled="true" value="Felipe Fuentes">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Despachado por:</mat-label>
    <input matInput disabled="true" value="SYNONPRO">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Dirección:</mat-label>
    <input matInput value="Longitudinal Sur Km 42">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Comuna: PAINE</mat-label>
    <input matInput disabled="true">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <div class="btn_imprimir">
    <button color="primary" mat-button (click)="emitirGuia()">
      <mat-icon>check</mat-icon> Emitir guía
    </button>
  </div>
</div>