<h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Recepción y despacho de envases vacíos</h1>

<div class="row mt-1 contenedorEnv">
  <div class="col-12 mb-3">
    <mat-radio-group [(ngModel)]="groupDefault" (change)="recepcionDespachoOpciones($event)">
      <mat-radio-button *ngFor="let rec of radioGroup" [value]="rec.id" class="d-inline ml-2">
        {{rec.nombre}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="col-xl-2 col-l-3">
    <mat-form-field appearance="fill">
      <mat-label>Rut</mat-label>
      <input #rutInput matInput maxlength="9" [(ngModel)]="rut" [ngModelOptions]="{standalone: true}"
        (change)="formatoRut()">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Razón Social</mat-label>
      <input matInput disabled="true" [(ngModel)]="productor.nombre">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nº Guía</mat-label>
      <input [(ngModel)]="cabeceraAsignar.nro_guia" matInput>
    </mat-form-field>
  </div>

  <div class="col-xl-2 col-l-3">
    <mat-form-field appearance="fill">
      <mat-label *ngIf="mostrarFecha">Fecha Recepción</mat-label>
      <mat-label *ngIf="!mostrarFecha">Fecha Despacho</mat-label>
      <input matInput [(ngModel)]="cabeceraAsignar.fecha" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Observaciones</mat-label>
      <input [(ngModel)]="cabeceraAsignar.observacion" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Huerto</mat-label>
      <mat-select>
        <mat-option *ngFor="let huerto of huertos" [value]="huerto.id" (onSelectionChange)="obtenerHuerto(huerto)">
          {{ huerto.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Frigorífico</mat-label>
      <mat-select>
        <mat-option *ngFor="let frig of frigorificos" [value]="frig.id" (onSelectionChange)="obtenerFrigorifico(frig)">
          {{ frig.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="guardarCabecera()">Guardar Cabecera</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card class="cardRecepcionLinea">
      <mat-form-field appearance="fill" class="selectSmall">
        <mat-label>Envase</mat-label>
        <mat-select [(ngModel)]="envaseAsignar.envaseCosecha.id">
          <mat-option *ngFor="let env of envases" [value]="env.id" (onSelectionChange)="obtenerEnvase(env)">
            {{ env.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="selectxSmall">
        <mat-label>Peso envase</mat-label>
        <input matInput type="number" disabled="true">
      </mat-form-field>
      <mat-form-field appearance="fill" class="selectxSmall">
        <mat-label>Cantidad Unifrutti</mat-label>
        <input matInput type="number" [(ngModel)]="envaseAsignar.cantidadEmpresa" (input)="sumaCantidadesEnvases()">
      </mat-form-field>
      <mat-form-field appearance="fill" class="selectxSmall">
        <mat-label>Cantidad Otros</mat-label>
        <input matInput type="number" [(ngModel)]="envaseAsignar.cantidadOtros" (input)="sumaCantidadesEnvases()">
      </mat-form-field>
      <mat-form-field appearance="fill" class="selectxSmall">
        <mat-label>Total</mat-label>
        <input matInput type="number" disabled="true" [(ngModel)]="envaseAsignar.cantidadTotal">
      </mat-form-field>

      <!-- botones para cancelar y actualizar CKU -->
      <button (click)="cancelarLinea()" color="primary" class="btn_cancelar ml-5" mat-button>
        Cancelar
      </button>
      <button (click)="actualizarLinea()" class="btn_actualizar" color="warn" mat-button>
        <mat-icon>check</mat-icon>
        Actualizar
      </button>
    </mat-card>

    <!-- TABLA GUIA DE RECEPCION -->
    <div class="contenedorTabla">
      <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
        <ng-container matColumnDef="1">
          <th mat-header-cell *matHeaderCellDef> Envase </th>
          <td mat-cell *matCellDef="let element">{{ element.envaseCosecha.nombre }}</td>
        </ng-container>
        <ng-container matColumnDef="2">
          <th mat-header-cell *matHeaderCellDef> Peso Envase </th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="3">
          <th mat-header-cell *matHeaderCellDef> Cant. Unifrutti </th>
          <td mat-cell *matCellDef="let element">{{element.cantidadEmpresa}}</td>
        </ng-container>
        <ng-container matColumnDef="4">
          <th mat-header-cell *matHeaderCellDef> Cant. Otros</th>
          <td mat-cell *matCellDef="let element">{{element.cantidadOtros}}</td>
        </ng-container>
        <ng-container matColumnDef="5">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element">{{element.cantidadEmpresa + element.cantidadOtros}}</td>
        </ng-container>
        <ng-container matColumnDef="6">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editarEnvase(element)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="eliminarEnvase(element)">
                <mat-icon>edit</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
      <button color="primary" class="mt-3" mat-button>
        <mat-icon>print</mat-icon> Guía SII
      </button>
      <button color="primary" class="mt-3" mat-button>
        <mat-icon>close</mat-icon> Anular guía SII
      </button>
    </div>
  </div>
</div>


