<div class="col-md-12 text-center mt-3">
  <!-- <div *ngIf="buscando">

    <h1 class="titleFavoritos">Busqueda</h1>
    <hr>
    <div *ngIf="menuBusqueda.length == 0">
      <p> Sin Resultados. </p>
    </div>
    <button *ngFor="let menu of menuBusqueda" class="style_prevu_kit" (click)="frutagranel()">
      <i class="fas fa-apple-alt"></i>
      <span class="d-block Favs"> {{menu.nombre}} </span>
    </button>

  </div> -->

  <h1 class="titleFavoritos">Favoritos</h1>
  <hr>
  <button class="style_prevu_kit" (click)="frutagranel()"><i class="fas fa-apple-alt"></i><span
      class="d-block Favs">Recepción Fruta Granel</span></button>
  <button class="style_prevu_kit" (click)="cku()"><i class="fas fa-clipboard-check"></i><span class="d-block Favs">CKU
      -
      Recepción</span></button>
    <button class="style_prevu_kit" (click)="tratamientos()"><i class="fas fa-shower"></i><span
            class="d-block Favs">Tratamientos</span></button>
<!--   <button class="style_prevu_kit" (click)="frio()"><i class="fas fa-snowflake"></i><span class="d-block Favs">Frío
      -
      Recepción</span></button> -->
  <!-- <button class="style_prevu_kit" (click)="roles()"><i class="fas fa-users"></i><span class="d-block Favs">Roles</span></button> -->
  <!-- <button class="style_prevu_kit" (click)="usuarios()"><i class="fas fa-users-cog"></i><span
      class="d-block Favs">Usuarios</span></button>
  <button class="style_prevu_kit" (click)="envvacios()"><i class="fas fa-box-open"></i><span
      class="d-block Favs">Recepción
      y despacho Envases vacíos</span></button>
  <button class="style_prevu_kit" (click)="funcionalidades()"><i class="fas fa-users-cog"></i><span
      class="d-block Favs">Listado pantallas</span></button>
  <button class="style_prevu_kit" (click)="documentos_globales()"><i class="fas fa-file-invoice"></i><span
      class="d-block Favs">Documentos</span></button>
  <button class="style_prevu_kit" (click)="parametros_logistica()"><i class="fas fas fa-users-cog"></i><span
      class="d-block Favs">Parámetros Logística</span></button>
  <button class="style_prevu_kit" (click)="despacho_packing()"><i class="fas fa-truck"></i><span
      class="d-block Favs">Despacho a Packing</span></button>
  <button class="style_prevu_kit" (click)="despacho_interplanta()"><i class="fas fa-truck"></i><span
      class="d-block Favs">Despacho a interplanta</span></button>
  <button class="style_prevu_kit" (click)="despacho_terceros()"><i class="fas fa-truck"></i><span
      class="d-block Favs">Despacho a planta terceros</span></button>
  <button class="style_prevu_kit" (click)="despacho_productores()"><i class="fas fa-truck"></i><span
      class="d-block Favs">Devolución a productores</span></button>
  <button class="style_prevu_kit" (click)="consulta_cambio_condicion()"><i class="fas fa-exchange-alt"></i><span
      class="d-block Favs">Consulta cambio de condición</span></button>
  <button class="style_prevu_kit" (click)="cta_cte()"><i class="fas fa-pallet"></i><span
      class="d-block Favs">Cuenta corriente envases de cosecha</span></button>
 
  <button class="style_prevu_kit" (click)="cku_fruta_embalada()"><i class="fas fa-clipboard-check"></i><span
      class="d-block Favs">Control de calidad Fruta embalada</span></button>
  <button class="style_prevu_kit" (click)="frutaembalada()"><i class="fas fa-apple-alt"></i><span
      class="d-block Favs">Recepción Fruta Embalada</span></button>
  <button class="style_prevu_kit" (click)="op_fruta_embalada()"><i class="fas fa-pallet"></i><span
      class="d-block Favs">Asignación OP despacho fruta embalada</span></button>
  <button class="style_prevu_kit" (click)="asignacion_prod_a_recibidor()"><i class="fas fa-pallet"></i><span
      class="d-block Favs">Asignación de producción a recibidor</span></button>
  <button class="style_prevu_kit" (click)="listado_despacho_puerto_aeropuerto()"><i class="fas fa-truck"></i><span
      class="d-block Favs">Despacho puerto/Aeropuerto/Puerto seco</span></button>
  <button class="style_prevu_kit" (click)="importar_parametros()"><i class="fas fa-apple-alt"></i><span
      class="d-block Favs">Importar parámetros</span></button>
  <button class="style_prevu_kit" (click)="documentos_electronicos()"><i class="fas fa-file-invoice"></i><span
      class="d-block Favs">Documentos electrónicos</span></button> -->
</div>