<!-- FAVORITOS -->
<button class="addToFavorites mt-3 mr-3" (click)="agregarFavorito()">
    <mat-icon [ngClass]="{'active': esFavorito}">star</mat-icon>
</button>


<div class="row">
    <div class="col-12">
        <mat-form-field>
            <mat-label>Frigorífico</mat-label>
            <mat-select [(ngModel)]="frigoSelecion">
                <mat-option *ngFor="let item of frigorificos"  [value]="item.id">
                    {{item.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span class="ml-5">
            Pendientes
            <mat-slide-toggle (change)="cambioEstado($event)">
                Realizadas
            </mat-slide-toggle>
        </span>
    </div>
    <!-- <div class="col-12" *ngIf="!cargandoFrigo">
        <p class="tituloTabla"><strong>Cargando Frigoríficos...</strong></p>
    </div> -->
</div>

<h1 class="tituloTabla">
    <i class=" fas fa-angle-double-right"></i>
    Listado de solicitudes de tratamientos
</h1>

<mat-form-field class="buscador">
    <mat-placeholder>
        <mat-icon>search</mat-icon>Buscar...
    </mat-placeholder>
    <input matInput (keyup)="filtrar($event.target.value)">
</mat-form-field>

<!-- TABLA  -->
<div class="contenedorTabla">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Solicitud interna nº</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="pais.nombre">
            <th mat-header-cell *matHeaderCellDef>País</th>
            <td mat-cell *matCellDef="let element">{{element.pais.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="usuario.id">
            <th mat-header-cell *matHeaderCellDef>Persona que solicita aplicación</th>
            <td mat-cell *matCellDef="let element">{{element.usuario.id}}</td>
        </ng-container>
        <ng-container matColumnDef="fechaSolicitud">
            <th mat-header-cell *matHeaderCellDef> Fecha de solicitud de la aplicación </th>
            <td mat-cell *matCellDef="let element">{{element.fechaSolicitud | date: "dd-MM-yyyy"}}</td>
        </ng-container>
        <ng-container matColumnDef="fechaEjecucion">
            <th mat-header-cell *matHeaderCellDef> Fecha de ejecución </th>
            <td mat-cell *matCellDef="let element">{{element.fechaEjecucion | date: "dd-MM-yyyy"}}</td>
        </ng-container>
        <ng-container matColumnDef="proveedor.rut">
            <th mat-header-cell *matHeaderCellDef> Rut </th>
            <td mat-cell *matCellDef="let element">{{element.proveedor.rut}}</td>
        </ng-container>
        <ng-container matColumnDef="proveedor.nombre">
            <th mat-header-cell *matHeaderCellDef> Razón social del proveedor</th>
            <td mat-cell *matCellDef="let element">{{element.proveedor.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="icons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="btnEditar(element)">
                        <mat-icon>create</mat-icon>
                        <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="btnEjecutar(element)">
                        <mat-icon>play_arrow</mat-icon>
                        <span>Ejecutar</span>
                    </button>
                    <button mat-menu-item *ngIf="element.facturada" (click)="btnFactura(element)">
                            <mat-icon><i class="fas fa-file-alt"></i></mat-icon>
                            <span>Ver Factura</span>
                        </button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<!-- <mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>
<div style="width: 100%; text-align: center;">
    <button *ngIf="tablaError" class="recargar_tabla" mat-raised-button title="Recargar tabla" color="primary">
        <mat-icon>cached</mat-icon>
        Recargar tabla
    </button>
</div> -->


<div class="paginador">
    <button mat-icon-button matTooltip="Siguiente" (click)="siguiente()">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <select class="numeroPagina" matTooltip="Items por página">
        <option value="20" selected>20</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    <button mat-icon-button matTooltip="Anterior" (click)="anterior()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
</div>

<div class="btn-plus">
    <button mat-fab matTooltip="Nueva solicitud de tratamiento" color="warn" class="btn-add mr-2" (click)="agregar()">
        <mat-icon>add</mat-icon>
    </button>

    <button mat-fab matTooltip="Facturar" class="btn-add facturar" (click)="facturar()">
        <mat-icon><i class="fas fa-file-alt"></i></mat-icon>
    </button>
</div>