
.contenedor{
    font-size: 12px;
}

table {
  width: 100%;
  min-width: 450px;
}
/* .btn_cancelar, .btn_actualizar{
  float: right;
} */
.btn_cancelar{
  color: rgb(31, 122, 182);
} 

:host ::ng-deep.mat-form-field-infix{
border-top: 0;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 0;
}

:host ::ng-deep.mat-vertical-content{
    padding: 0 !important ;
}

:host ::ng-deep.mat-form-field-appearance-fill{
    margin: 5px !important;
} 

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent; 
}
:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.25em 0;
  width: 11em;
}

:host ::ng-deep.mat-form-field-wrapper {
    margin: 0 0 -1em 0 !important;
}

:host ::ng-deep.mat-tab-labels{
  background-color: rgba(187, 190, 199, 0.2);
}

.selectSmall{
  width: 8.5em;
}

.selectxSmall{
  width: 5.5em;
}

.mat-icon-button{
float: right;
background-color: rgb(247, 247, 247);
}
.titleGuia, .titleEnvases{
padding:6px;  
background-color: rgba(126, 144, 196, 0.2);
font-weight: 600;
}

.textoTitulos{
  margin: 0.5em;
  font-weight: 400;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary{
    background-color: rgba(187, 190, 199, 0.2);
    margin: 5px;
}

.mat-menu-item .mat-icon .fa-tags{
  font-size: 16px;
  vertical-align: top !important;
  margin-top: 2px;
}
.contenedorRecepcion, .contenedorEnvaseSalida{
    margin: 0px auto;
}


@media (max-width: 1400px) {
:host ::ng-deep.mat-form-field-wrapper{
  width: 85%;
}
}