<!-- FAVORITOS -->
<button class="addToFavorites mt-3 mr-3" (click)="agregarFavorito()">
  <mat-icon [ngClass]="{'active': esFavorito}">star</mat-icon>
</button>


<h1 class="tituloTabla">
  <i class=" fas fa-angle-double-right"></i>
  Nueva asignación
</h1>

<div class="row">
  <div class="col-12">

    <mat-form-field>
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Motivo</mat-label>
      <mat-select>
        <mat-option [value]="1">
          motivo 1
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelInput">Observación</mat-label>
      <input matInput>
    </mat-form-field>

    <button color="warn" class="btn_agregarFolio" (click)="agregarFolios()" mat-button> Agregar folios<mat-icon>add
      </mat-icon></button>
    <!-- <span class="ml-5">
      Anexo
      <mat-slide-toggle>
        Satélite
      </mat-slide-toggle>
    </span> -->
    <mat-form-field class="buscador">
      <mat-placeholder>
        <mat-icon>search</mat-icon>Buscar...
      </mat-placeholder>
      <input matInput (keyup)="filtrar($event.target.value)">
    </mat-form-field>
  </div>
  <!-- <div class="col-12" *ngIf="!cargandoFrigo">
        <p class="tituloTabla"><strong>Cargando Frigoríficos...</strong></p>
    </div> -->  
</div>


<!-- TABLA  -->
<div class="contenedorTabla">
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="folio">
      <th mat-header-cell *matHeaderCellDef> Folio </th>
      <td mat-cell *matCellDef="let element">{{element.folio}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
    </ng-container>
    <ng-container matColumnDef="especie">
      <th mat-header-cell *matHeaderCellDef> especie </th>
      <td mat-cell *matCellDef="let element">{{element.especie}}</td>
    </ng-container>
    <ng-container matColumnDef="variedad">
      <th mat-header-cell *matHeaderCellDef> variedad </th>
      <td mat-cell *matCellDef="let element">{{element.variedad}}</td>
    </ng-container>
    <ng-container matColumnDef="categoria_real">
      <th mat-header-cell *matHeaderCellDef> Categoria real </th>
      <td mat-cell *matCellDef="let element">{{element.categoria_real}}</td>
    </ng-container>
    <ng-container matColumnDef="categoria_rotulada">
      <th mat-header-cell *matHeaderCellDef> Categoria rotulada </th>
      <td mat-cell *matCellDef="let element">{{element.categoria_rotulada}}</td>
    </ng-container>
    <ng-container matColumnDef="peso">
      <th mat-header-cell *matHeaderCellDef> Peso </th>
      <td mat-cell *matCellDef="let element">{{element.peso}}</td>
    </ng-container>
    <ng-container matColumnDef="tipo_envase">
      <th mat-header-cell *matHeaderCellDef> Tipo envase </th>
      <td mat-cell *matCellDef="let element">{{element.tipo_envase}}</td>
    </ng-container>
    <ng-container matColumnDef="dimension">
      <th mat-header-cell *matHeaderCellDef> Dimensión </th>
      <td mat-cell *matCellDef="let element">{{element.dimension}}</td>
    </ng-container>
    <ng-container matColumnDef="etiqueta">
      <th mat-header-cell *matHeaderCellDef> Etiqueta </th>
      <td mat-cell *matCellDef="let element">{{element.etiqueta}}</td>
    </ng-container>
    <ng-container matColumnDef="embalaje">
      <th mat-header-cell *matHeaderCellDef> Embalaje </th>
      <td mat-cell *matCellDef="let element">{{element.embalaje}}</td>
    </ng-container>
    <ng-container matColumnDef="op_origen">
      <th mat-header-cell *matHeaderCellDef> OP origen </th>
      <td mat-cell *matCellDef="let element">{{element.op_origen}}</td>
    </ng-container>
    <ng-container matColumnDef="op_destino">
      <th mat-header-cell *matHeaderCellDef> OP destino </th>
      <td mat-cell *matCellDef="let element">{{element.op_destino}}</td>
    </ng-container>
    <!-- <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editar()">
            <mat-icon>edit</mat-icon>
            <span>editar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="btn-plus2">
  <button mat-fab color="primary" title="Volver" class="btn-volver"
    [routerLink]="[ '/listado_principal_folios_op']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="btn-plus">
  <button mat-fab color="warn" matTooltip="Asignar" (click)="guardar()">
    <mat-icon>check</mat-icon>
  </button>
</div>