<h1 class="tituloTabla">
  <i class=" fas fa-angle-double-right"></i>
  Recepción Camión
</h1>
<div class="row">


  <div class="col-xl-2 col-l-3">
    <mat-form-field>
      <mat-label>Empresa transporte</mat-label>
      <mat-select>
        <mat-option [value]="1">
          empresa1
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Tipo camión</mat-label>
      <mat-select>
        <mat-option [value]="1">
          1
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label class="labelInput">Patente</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label class="labelInput">Chofer</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="col-xl-2 col-l-3">

    <mat-form-field>
      <mat-label class="labelInput">Contenedor</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label class="labelInput">Tara</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label class="labelInput">Peso ingreso</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</div>


<br>
<h1 class="tituloTabla">
  <i class=" fas fa-angle-double-right"></i>
  Detalle termógrafo
</h1>
<mat-form-field>
  <mat-label class="labelInput">Tipo</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field>
  <mat-label class="labelInput">Serie</mat-label>
  <input matInput>
</mat-form-field>
<button color="warn" mat-button>
  <mat-icon>check
  </mat-icon> Añadir termógrafo
</button>
<div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="termografo">
      <th mat-header-cell *matHeaderCellDef> Termógrafo </th>
      <td mat-cell *matCellDef="let element">{{element.termografo}}</td>
    </ng-container>
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let element">{{element.tipo}}</td>
    </ng-container>
    <ng-container matColumnDef="serie">
      <th mat-header-cell *matHeaderCellDef> Serie </th>
      <td mat-cell *matCellDef="let element">{{element.serie}}</td>
    </ng-container>

    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="btn-plus2">
  <button mat-fab color="primary" title="Volver" class="btn-volver"
    [routerLink]="[ '/listado_despacho_puerto_aeropuerto']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="btn-plus">
  <button mat-fab matTooltip="Guardar cambios" color="warn" class="btn-add" (click)="guardar()">
    <mat-icon>check</mat-icon>
  </button>
</div>