


body{
  font-size: 12px;
}
.tituloTabla{
    font-size: 14px;
    color: rgb(52, 76, 143);
}
mat-spinner, .recargar_tabla{
  margin: 0 auto;
  margin-top: 4em;
}
mat-form-field{
  margin: 7px !important;
  width: 13em; 
  font-size: 12px;
}
.numero_pagina{
  border: none;
  background-color: white;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  align-self: center;
}
.mat-icon-button{
float: right;
background-color: rgb(247, 247, 247);
}

.mat-icon-button:hover{
background-color: white;
}

.mat-icon-button:focus{
outline: none;
}

.buscador{
  float: right;
  display: block;
  opacity: 0.5;
  text-align: left !important;
}
.paginador{
  left: 0 !important;
  margin-top: 15px;
  float: left; 
}
.paginador mat-icon-button{
  background: transparent;
  margin: 5px;
}
mat-spinner{
  margin: 0 auto;
  margin-top: 4em;
}

table .ng-star-inserted{
    text-align: center;
 }
.fa-file-invoice-dollar{
    font-size: 0.8em;
}
.fa-file-alt{
margin-top: -5px;
}
 @media (max-width: 900px){
 td.mat-cell, td.mat-footer-cell, th.mat-header-cell  {
    width: 10px;
    font-size: 10px;
  }
 }

@media (max-width: 620px) {
 
  :host ::ng-deep.mat-paginator-range-label{
  display: none;
  }
  :host ::ng-deep.mat-paginator-navigation-next.mat-icon-button{
  width: 0;
  }
  :host ::ng-deep.mat-paginator-page-size-label{
  display: none;
  }
  :host ::ng-deep.th.mat-cell{
  padding-left: 15px;
  }
}
