
  .btnClose{
background-color: transparent;
border: none;
color: gray;
cursor: pointer;
outline: none;
float: right;
}

.btnClose .mat-icon{
  font-size: 1em;
}

.info{
    font-size: 14px;
}
.mat-icon-button{
float: right;
background-color: rgb(247, 247, 247);
}

.mat-icon-button:hover{
background-color: white;
}
 
.mat-icon-button:focus{
outline: none;
}

.ng-star-inserted{
    text-align: center;
 }
.info{
  font-size: 14px;
}
 @media (max-width: 900px){
 td.mat-cell, td.mat-footer-cell, th.mat-header-cell  {
    width: 10px;
    font-size: 10px;
  }
 }

@media (max-width: 620px) {
 
  :host ::ng-deep.mat-paginator-range-label{
  display: none;
  }
  :host ::ng-deep.mat-paginator-navigation-next.mat-icon-button{
  width: 0;
  }
  :host ::ng-deep.mat-paginator-page-size-label{
  display: none;
  }
  :host ::ng-deep.th.mat-cell{
  padding-left: 15px;
  }
}
