<button mat-icon-button class="btnClose" (click)="close()">
  <mat-icon>close</mat-icon>
</button>
<br>
<div class="info">
  <p><strong>Nº Guía:</strong> 2002133 </p>
  <p><strong>Productor:</strong> 20 054 UNIAGRI</p>
</div>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="linea">
    <th mat-header-cell *matHeaderCellDef>Línea</th>
    <td mat-cell *matCellDef="let element">{{element.linea}}</td>
  </ng-container>
  <ng-container matColumnDef="ot">
    <th mat-header-cell *matHeaderCellDef>OT</th>
    <td mat-cell *matCellDef="let element">{{element.ot}}</td>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef>Fecha</th>
    <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
  </ng-container>
  <ng-container matColumnDef="variedad">
    <th mat-header-cell *matHeaderCellDef>Variedad</th>
    <td mat-cell *matCellDef="let element">{{element.variedad}}</td>
  </ng-container>
  <ng-container matColumnDef="frio">
    <th mat-header-cell *matHeaderCellDef>Frío</th>
    <td mat-cell *matCellDef="let element">{{element.frio}}</td>
  </ng-container>
  <ng-container matColumnDef="asignados">
    <th mat-header-cell *matHeaderCellDef>Asignados</th>
    <td mat-cell *matCellDef="let element">{{element.asignados}}</td>
  </ng-container>
  <ng-container matColumnDef="despachados">
    <th mat-header-cell *matHeaderCellDef>Despachados</th>
    <td mat-cell *matCellDef="let element">{{element.despachados}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>