.card{
  max-width: 30em;
  text-align: left;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 10px !important;
}

.titulorol{
  padding-left: 15px;
  font-size: 14px;
}

.mat-menu-item{
  outline: none;
}

.content_check {
  display: flex;
  flex-direction: column;
}

.ultimoElemento {
  background-color: rgb(200, 206, 219);
}

.icon-expandir {
  cursor: pointer;
}

:host ::ng-deep.mat-form-field-infix{
border-top: 0;
/* padding: 0 0 15px 0 !important; */
}

:host ::ng-deep.mat-form-field-appearance-fill{
    margin: 5px !important;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
    padding: .15em .15em 0 .15em

}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.25em 0;
  width: 11em;
}

:host ::ng-deep.mat-form-field-wrapper {
    margin: 0 0 -1em 0 !important;
}

:host ::ng-deep.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  margin-top: -1.5em;
  margin-left: -1.4em;
  outline: none;
}

:host ::ng-deep.mat-tab-labels{
  background-color: rgba(187, 190, 199, 0.2);
}
:host ::ng-deep.mat-checkbox-layout {
    margin-bottom: 0 !important;
}
:host ::ng-deep.mat-tree {
  background: transparent !important;
}
:host ::ng-deep.mat-tree-node {
  font-size: 12px !important;
  min-height: 25px !important;
}

.botonCopiar{
    bottom: 0.65em;
    right: 0;
}

.mat-icon-button:hover{
background-color: transparent !important;
}

.mat-icon-button{
  float: right;
}
/*ESTILOS DE TABLA DE MENU*/

.contenedorFuncionalidades{
  font-size: 12px;
}

@media (max-width: 900px){
 td.mat-cell, td.mat-footer-cell, th.mat-header-cell  {
    width: 10px;
    font-size: 10px;
  }
 }


@media (max-width: 620px) {

 :host ::ng-deep.mat-paginator-range-label{
  display: none;
  }
  :host ::ng-deep.mat-paginator-navigation-next.mat-icon-button{
  width: 0;
  }
  :host ::ng-deep.mat-paginator-page-size-label{
  display: none;
  }
  :host ::ng-deep.th.mat-cell{
  padding-left: 15px;
  }
}
