<button mat-icon-button class="btnClose" (click)="close()">
  <mat-icon>close</mat-icon>
</button>
<br>
<br>
<div class="contenedorAsignar">
  <p><strong>Asignar producto</strong></p>
  <hr>
  <div class="text-center">
    <mat-form-field class="example-full-width">
      <mat-label class="labelInput">Ingrediente activo</mat-label>
      <input matInput disabled [(ngModel)]="nombreIngredienteActivo">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label class="labelInput">Unidad</mat-label>
      <input matInput disabled [(ngModel)]="unidad">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label class="labelInput">Producto/descripción</mat-label>
      <mat-select [(ngModel)]="idProducto" [disabled]="idProducto != null">
        <mat-option *ngFor="let item of listadosProductos" [value]="item.id">
          {{item.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label class="labelInput">Dosis</mat-label>
      <input matInput [(ngModel)]="dosis" type="number">
    </mat-form-field>
    <br>
    <div class="mt-2">
      <button mat-fab color="warn" (click)="guardar()" matTooltip="Guardar cambios">
        <mat-icon>check</mat-icon>
      </button>
    </div>

  </div>

</div>