.btnClose{
background-color: transparent;
border: none;
color: gray;
cursor: pointer;
outline: none;
float: right;
}

.btnClose .mat-icon{
  font-size: 1em;
}

.contenedorAsignar{
    font-size: 12px;
}