<!-- FAVORITOS -->
<button class="addToFavorites mt-3 mr-3" (click)="agregarFavorito()">
  <mat-icon [ngClass]="{'active': esFavorito}">star</mat-icon>
</button>

<h1 class="tituloTabla">
  <i class=" fas fa-angle-double-right"></i>
  Listado asignacion de producción a recibidor
</h1>

<mat-form-field class="buscador">
  <mat-placeholder>
    <mat-icon>search</mat-icon>Buscar...
  </mat-placeholder>
  <input matInput (keyup)="filtrar($event.target.value)">
</mat-form-field>

<!-- TABLA  -->
<div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="folio">
      <th mat-header-cell *matHeaderCellDef> Folio </th>
      <td mat-cell *matCellDef="let element">{{element.folio}}</td>
    </ng-container>
    <ng-container matColumnDef="especie">
      <th mat-header-cell *matHeaderCellDef> Especie </th>
      <td mat-cell *matCellDef="let element">{{element.especie}}</td>
    </ng-container>
    <ng-container matColumnDef="variedad">
      <th mat-header-cell *matHeaderCellDef> Variedad </th>
      <td mat-cell *matCellDef="let element">{{element.variedad}}</td>
    </ng-container>
    <ng-container matColumnDef="origen">
      <th mat-header-cell *matHeaderCellDef> Origen </th>
      <td mat-cell *matCellDef="let element">{{element.origen}}</td>
    </ng-container>
    <ng-container matColumnDef="rec_destino">
      <th mat-header-cell *matHeaderCellDef> Recibidor destino </th>
      <td mat-cell *matCellDef="let element">{{element.rec_destino}}</td>
    </ng-container>
    <!-- <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editar()">
            <mat-icon>edit</mat-icon>
            <span>editar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- <mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>
<div style="width: 100%; text-align: center;">
    <button *ngIf="tablaError" class="recargar_tabla" mat-raised-button title="Recargar tabla" color="primary">
        <mat-icon>cached</mat-icon>
        Recargar tabla
    </button>
</div> -->

<div class="paginador">
  <button mat-icon-button matTooltip="Siguiente" (click)="siguiente()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <select class="numeroPagina" matTooltip="Items por página">
    <option value="20" selected>20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <button mat-icon-button matTooltip="Anterior" (click)="anterior()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</div>

<div class="btn-plus">
  <button mat-fab matTooltip="Añadir folios" color="warn" class="btn-add" (click)="anadirFolios()">
    <mat-icon>add</mat-icon>
  </button>
</div>