<button mat-icon-button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
</button>
<br>

<mat-form-field class="buscador">
    <mat-placeholder>
        <mat-icon>search</mat-icon> Buscar...
    </mat-placeholder>
    <input matInput (keyup)="applyFilter($event.target.value)">
</mat-form-field>

<div class="contenedorTabla">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"
                    (change)="checkTodo($event)">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (change)="checkSeleccionados(row)" [(ngModel)]="row.check"
                    (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"
                     >
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Folio </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="productor.nombre">
            <th mat-header-cell *matHeaderCellDef> Productor </th>
            <td mat-cell *matCellDef="let element"> {{element.productor.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="especie.nombre">
            <th mat-header-cell *matHeaderCellDef> Especie </th>
            <td mat-cell *matCellDef="let element"> {{element.especie.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="grupo">
            <th mat-header-cell *matHeaderCellDef> Grupo </th>
            <td mat-cell *matCellDef="let element"> {{element.subGrupo.grupo.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="subgrupo">
            <th mat-header-cell *matHeaderCellDef> Subgrupo </th>
            <td mat-cell *matCellDef="let element"> {{element.subGrupo.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="variedad">
            <th mat-header-cell *matHeaderCellDef> Variedad real </th>
            <td mat-cell *matCellDef="let element"> {{element.variedad.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoFrio">
            <th mat-header-cell *matHeaderCellDef> Tipo frío </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoFrio.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="condicion">
            <th mat-header-cell *matHeaderCellDef> Condición </th>
            <td mat-cell *matCellDef="let element"> {{element.condicion.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="envaseCosecha">
            <th mat-header-cell *matHeaderCellDef> Envase cosechero </th>
            <td mat-cell *matCellDef="let element"> {{element.envaseCosecha.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaCosecha">
            <th mat-header-cell *matHeaderCellDef> Fecha cosecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaCosecha | date: "dd/MM/yyyy"}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    
</div>
    <br>
    <button mat-fab color="warn" class="btnAsignar" matTooltip="Agregar folios seleccionados" (click)="asignarFolios()">
        <mat-icon>check</mat-icon>
    </button>
    <br>
    <br>