<div>
  <h2 class="tituloDialog d-inline">Definición de Rol</h2>
  <button class="btnClose" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div> 

<div mat-dialog-content class="justify-content-center">

  <mat-form-field class="mt-1" *ngIf="esAgregar">
    <mat-label>Código</mat-label>
    <input matInput [(ngModel)]="id">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rol</mat-label>
    <input matInput [(ngModel)]="rol">
  </mat-form-field>
</div>

<div mat-dialog-actions class="justify-content-center text-center">
  <button mat-fab (click)="guardarRol()" cdkFocusInitial title="Aceptar" class="btn-check">
    <mat-icon>check</mat-icon>
  </button>
</div>