:host ::ng-deep.mat-dialog-container{
    font-size: 0.8em;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.25em 0 !important;
}

.btnClose{
  background-color: transparent;
  border: none;
  color: gray;
  cursor: pointer;
  outline: none;
  float: right;
  position: absolute;
}

.btnClose .mat-icon{
  font-size: 1em;
}
.btn-check{
  background-color:  #689F38 !important;
}
.tituloDialog{
  font-size: 18px;
  font-weight: 600;
  padding-top: 1em;
}