<div class="col-md-12 text-center mt-3">
  <h1 class="tituloDocumentos">Documentos</h1>
  <hr>
</div>

<!-- buscador -->
<div class="row">
  <div class="col-12">
    <mat-form-field class="buscador">
      <mat-placeholder>
        <mat-icon>search</mat-icon> Buscador
      </mat-placeholder>
      <input matInput>
    </mat-form-field>
  </div>
</div>

<!-- carrusel con archivos y documentos -->
<div class="contenedorPp">
  <div id="app">
    <drag-scroll #nav>
      <div drag-scroll-item class="tarjeta" onclick="window.open('assets/documentos/01_manual_de_recepcion(hito03).pdf')" target="_blank">
        <img src="assets/img/manual.png">
        <p class="observacion">
          Manual de usabilidad - Recepción Fruta granel
        </p>
        <button mat-icon-button color="primary" class="btn_abrir">Abrir</button>
      </div>

      <div drag-scroll-item class="tarjeta" onclick="window.open('assets/documentos/word.docx')">
        <img src="assets/img/word.png">
        <p class="observacion">
          Archivo word 
        </p>
        <button mat-icon-button color="primary" class="btn_abrir">Abrir</button>
      </div>

      <div drag-scroll-item class="tarjeta"  onclick="window.open('assets/documentos/reporte.pdf')" target="_blank">
        <img src="assets/img/pdf.png">
        <p class="observacion">
          Planilla de recepción de cerezas
        </p>
        <button mat-icon-button color="primary" class="btn_abrir">Abrir</button>
      </div>

      <div drag-scroll-item class="tarjeta" onclick="window.open('assets/documentos/env_cosecha.xlsx')"
          target="_blank">
        <img src="assets/img/excel.png">
        <p class="observacion">
          Detalle de envases cosecha
        </p>
        <button mat-icon-button color="primary" class="btn_abrir" >Abrir</button>
      </div>
      
      <div drag-scroll-item class="tarjeta">
        <img src="assets/img/pdf.png">
        <p class="observacion">
          Informativo mensual
        </p>
        <button mat-icon-button color="primary" class="btn_abrir">Abrir</button>
      </div>

      <div drag-scroll-item class="tarjeta">
        <img src="assets/img/manual.png">
        <p class="observacion">
          Manual de usabilidad - Fruta embalada
        </p>
        <button mat-icon-button color="primary" class="btn_abrir">Abrir</button>
      </div>

      <div drag-scroll-item class="tarjeta">
        <img src="assets/img/excel.png">
        <p class="observacion">
          Descripción del archivo
        </p>
        <button mat-icon-button color="primary" class="btn_abrir">Abrir</button>
      </div>

      <div drag-scroll-item class="tarjeta">
        <img src="assets/img/excel.png">
        <p class="observacion">
          Descripción del archivo
        </p>
        <button mat-icon-button color="primary" class="btn_abrir">Abrir</button>
      </div>

      <div drag-scroll-item class="tarjeta">
        <img src="assets/img/excel.png">
        <p class="observacion">
          Descripción del archivo
        </p>
        <button mat-icon-button color="primary" class="btn_abrir">Abrir</button>
      </div>

      <div drag-scroll-item class="tarjeta">
        <img src="assets/img/excel.png">
        <p class="observacion">
          Descripción del archivo
        </p>
        <button mat-icon-button color="primary" class="btn_abrir">Abrir</button>
      </div>

      <div drag-scroll-item class="tarjeta">
        <img src="assets/img/excel.png">
        <p class="observacion">
          Descripción del archivo
        </p>
        <button mat-icon-button color="primary" class="btn_abrir">Abrir</button>
      </div>
    </drag-scroll>
  </div>
  <br>
  <button mat-icon-button class="btn-carousel-atras" (click)="moveLeft()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-icon-button class="btn-carousel-adelante" (click)="moveRight()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>

<!-- boton flotante para subir nuevo archivo -->
<div class="btn-plus">
  <button mat-fab title="Añadir archivo" class="btn-add" color="warn" (click)="subirDocumento()">
    <mat-icon>add</mat-icon>
  </button>
</div>