<div>
  <button mat-icon-button class="btnClose" (click)="cerrar()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<h1 mat-dialog-title>Control de pesos</h1>
<div *ngIf="cabecera.idPesa === '2'">
  <span><strong>Por Romana </strong>
    <mat-slide-toggle cdkFocusInitial (change)="cambioTipoPesa($event)">
      <strong>Por Pesas</strong>
    </mat-slide-toggle>
  </span>
</div>
<hr>

<!-- PESAJE POR ROMANA -->
<div mat-dialog-content class="text-center">
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Nº Recepción</mat-label>
        <input matInput disabled="true" [value]="cabecera.id">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Especie</mat-label>
        <mat-select (selectionChange)="seleccionEspecie($event.value)" #refEspecie
          [(ngModel)]="detalleAsignar.especie.id">
          <mat-option *ngFor="let especie of especies" [value]="especie.id">{{especie.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>SDP</mat-label>
        <mat-select [disabled]="spds.length == 0" [(ngModel)]="detalleAsignar.spd.id">
          <mat-option *ngFor="let sdp of spds">{{sdp.id}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6 text-center">
      <mat-form-field>
        <mat-label>Produtor</mat-label>
        <input matInput disabled="true" [value]="cabecera.empresa.nombre">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Variedad</mat-label>
        <mat-select [disabled]="variedades.length == 0" (selectionChange)="seleccionVariedad($event.value)" #refVariedad
          [(ngModel)]="detalleAsignar.variedad.id">
          <mat-option [value]="variedad.id" *ngFor="let variedad of variedades">{{ variedad.nombre }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Fecha cosecha</mat-label>
        <input matInput [ngModel]="cabecera.fechaCosecha | date:'dd/M/yyyy'">
      </mat-form-field>
      <br>
    </div>
  </div>

  <!-- TIPO CONTENEDOR -->
  <div class="row mt-2">
    <div class="col-12">
      <mat-form-field appearance="fill">
        <mat-label>Tipo contenedores</mat-label>
        <mat-select [disabled]="contenedores.length == 0" (selectionChange)="seleccionContenedor($event.value)"
          [(ngModel)]="detalleAsignar.tipoContenedor.id">
          <mat-option [value]="contenedor.id" *ngFor="let contenedor of contenedores">{{ contenedor.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <br>
  <!-- AQUI VA LA TABLA -->
  <table *ngIf="detalleAsignar.tipoContenedor.id" mat-table [dataSource]="dataSourceContenedores"
    class="mat-elevation-z8">
    <ng-container matColumnDef="contenedor">
      <th mat-header-cell *matHeaderCellDef>Tipo de contenedor</th>
      <td mat-cell matTooltip="Tipo de contenedor" *matCellDef="let element">
        {{element.esContenedor? 'Contenedor':'Envase'}}</td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell matTooltip="Descripción envase" *matCellDef="let element">{{element.envaseCosecha.nombre}}</td>
    </ng-container>
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef>Cantidad</th>
      <td mat-cell matTooltip="Cantidad envase" *matCellDef="let element">{{element.cantidad}}</td>
    </ng-container>
    <ng-container matColumnDef="tara">
      <th mat-header-cell *matHeaderCellDef>Tara</th>
      <td mat-cell *matCellDef="let element">
        <input [(ngModel)]="element.envaseCosecha.tara" type="number" class="inputValoresEnvases"
          (change)="validarTara($event.target.value,element)" [(min)]="element.envaseCosecha.pesoMinimo"
          [(max)]="element.envaseCosecha.pesoMaximo" matTooltip="Peso envase">
        <mat-hint matTooltip="Rango de pesos">{{element.envaseCosecha.pesoMinimo}}-{{element.envaseCosecha.pesoMaximo}}
        </mat-hint>
      </td>
    </ng-container>
    <ng-container matColumnDef="empresa">
      <th mat-header-cell *matHeaderCellDef>Cant. Empresa</th>
      <td mat-cell *matCellDef="let element">
        <input [(ngModel)]="element.envaseCosecha.cantidadEmpresa" (input)="sumaTotalBines()" min="0" type="number"
          class="inputCantEnvases" matTooltip="Cantidad envases empresa">
      </td>
    </ng-container>
    <ng-container matColumnDef="otros">
      <th mat-header-cell *matHeaderCellDef>Cant. Otros</th>
      <td mat-cell *matCellDef="let element">
        <input [(ngModel)]="element.envaseCosecha.cantidadOtros" (input)="sumaTotalBines()" min="0" type="number"
          class="inputCantEnvases" matTooltip="Cantidad otros envases">
      </td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element" matTooltip="Total de envases">
        <strong>{{ element.envaseCosecha.cantidadEmpresa + element.envaseCosecha.cantidadOtros }}</strong>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnasDet; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasDet;"></tr>
  </table>
  <hr>

  <div *ngIf="detalleAsignar.tipoPesa == '1'">
    <mat-radio-group *ngIf="detalleAsignar.tipoContenedor.id" class="mt-1" [(ngModel)]="detalleAsignar.elementoPesado">
      <mat-radio-button value="1" class="mr-2">Camión</mat-radio-button>
      <mat-radio-button value="2">Carro</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-form-field *ngIf="detalleAsignar.tipoContenedor.id" class="mt-1">
      <mat-label>Peso desde Romana</mat-label>
      <input [(ngModel)]="detalleAsignar.pesoVariedadRomanaCamionCarro" (input)="sumarPeso($event.target.value)" min="0"
        type="number" matInput>
    </mat-form-field>
    <br>
    <mat-form-field *ngIf="detalleAsignar.tipoContenedor.id">
      <mat-label>Peso bruto</mat-label>
      <input matInput disabled="true" type="number" min="0" [(ngModel)]="detalleAsignar.pesoBrutoRomana">
    </mat-form-field>
  </div>
</div>

<!-- PESAJE POR PESAS -->
<div mat-dialog-content class="text-center">
  <!-- TIPO CONTENEDOR -->
  <div *ngIf="detalleAsignar.tipoPesa === '2' && detalleAsignar.tipoContenedor.id">
    <div class="text-center mt-3">
      <p class="cantidadPesaje">Cantidad a pesar</p>
      <input class="kilosPesaje" [(ngModel)]="detalleAsignar.cantidadPesar" type="number" min="0"
        (keyup)="cantidadPesar($event.target.value)">
      <p class="binsPesados">Total envases pesados <strong style="color: #2969CB;">{{ detalleAsignar.restoBins }} de
          {{ detalleAsignar.totalBins }}</strong></p>
    </div>
    <mat-form-field appearance="fill" *ngIf="detalleAsignar.tipoContenedor.id">
      <mat-label>Impresora</mat-label>
      <mat-select [disabled]="impresoras.length == 0" [(ngModel)]="detalleAsignar.impresora.id">
        <mat-option *ngFor="let impresora of impresoras; let ind = index" [value]="ind">
          <mat-icon>print</mat-icon>
          {{impresora.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <hr>
    <!-- <p *ngIf="sobranteFaltante">Envases en el ultimo Bins <strong>{{ envasesSobrantesFaltantes }} </strong></p>
    <p *ngIf="!sobranteFaltante">Envases a piso <strong>{{ envasesSobrantesFaltantes }}</strong></p> -->
    <table *ngIf="detalleAsignar.tipoContenedor.id" mat-table [dataSource]="dataSourceContenedores2"
      class="mat-elevation-z8">
      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell matTooltip="Seleccion" *matCellDef="let element">
          <mat-checkbox [(ngModel)]="element.envaseCosecha.check"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="contenedor">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell matTooltip="Tipo de contenedor" *matCellDef="let element">
          {{element.esContenedor? 'Contenedor':'Envase'}}</td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell matTooltip="Descripción envase" *matCellDef="let element">{{element.envaseCosecha.nombre}}</td>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell matTooltip="Cantidad envase" *matCellDef="let element">{{element.cantidad}}</td>
      </ng-container>
      <ng-container matColumnDef="tara">
        <th mat-header-cell *matHeaderCellDef>Tara</th>
        <td mat-cell *matCellDef="let element">
          <input [(ngModel)]="element.envaseCosecha.tara" type="number" class="inputValoresEnvases"
            [(min)]="element.envaseCosecha.pesoMinimo"
            [(max)]="element.envaseCosecha.pesoMaximo" matTooltip="Peso envase">
          <mat-hint matTooltip="Rango de pesos">
            {{element.envaseCosecha.pesoMinimo}}-{{element.envaseCosecha.pesoMaximo}}
          </mat-hint>
        </td>
      </ng-container>
      <ng-container matColumnDef="empresa">
        <th mat-header-cell *matHeaderCellDef>Cant. Empresa</th>
        <td mat-cell *matCellDef="let element">
          <input [(ngModel)]="element.envaseCosecha.cantidadEmpresa" min="0" type="number"
            class="inputCantEnvases" matTooltip="Cantidad envases empresa">
        </td>
      </ng-container>
      <ng-container matColumnDef="otros">
        <th mat-header-cell *matHeaderCellDef>Cant. Otros</th>
        <td mat-cell *matCellDef="let element">
          <input [(ngModel)]="element.envaseCosecha.cantidadOtros" min="0" type="number"
            class="inputCantEnvases" matTooltip="Cantidad otros envases">
        </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element" matTooltip="Total de envases">
          <strong>{{ element.envaseCosecha.cantidadEmpresa + element.envaseCosecha.cantidadOtros }}</strong>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnasDet2; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasDet2;"></tr>
    </table>

    <div class="row mt-2">
      <div class="col-12">
        <button color="warn" class="btn_nuevalinea" (click)="agregarPesaje()" mat-button>
          <mat-icon>save_alt</mat-icon>
          <strong> Agregar Pesaje</strong>
        </button>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-6">
        <mat-form-field style="width:6em">
          <mat-label>Peso bruto balanza</mat-label>
          <input matInput style="font-size:25px; font-weight:600" [(ngModel)]="detalleAsignar.pesoBrutoBalanza"
            (keyup)="calcularPesoPromedio()">
        </mat-form-field>
        <strong><span> KG </span></strong>
      </div>
      <div class="col-6">
        <mat-form-field style="width:6em;">
          <mat-label>Promedio pesaje</mat-label>
          <input matInput disabled="true" class="result-promedios" [(ngModel)]="detalleAsignar.promedioPesaje">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions class="justify-content-center">
  <button mat-fab [disabled]="!validarCampos()" matTooltip="Terminar" (click)="finalizar()" color="warn"
    title="Aceptar">
    <mat-icon>check</mat-icon>
  </button>
</div>