<div class="contenedorAbrirLote">
  <div class="row">
    <div class="col-12">
      <button mat-icon-button class="btnClose" (click)="cerrar()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <h1 class="tituloTabla">General</h1>
      <hr>
      <p>Nº de línea</p>
      <div class="row">
        <div class="col-12 text-center">
          <p class="numeroLinea">{{nro_linea}}</p>
        </div>
      </div>
      <mat-form-field>
        <mat-label>Peso bruto</mat-label>
        <input [(ngModel)]="peso_bruto" matInput disabled="true">
      </mat-form-field>
    </div>

    <div class="col-6">
      <h1 class="tituloTabla">Envase Cosecha </h1>
      <table mat-table [dataSource]="envasesSource" class="mat-elevation-z8">
        <ng-container matColumnDef="1">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let element">{{element.esContenedor ? 'Es contenedor':'No es contenedor'}}</td>
        </ng-container>
        <ng-container matColumnDef="2">
          <th mat-header-cell *matHeaderCellDef>Envase</th>
          <td mat-cell *matCellDef="let element">{{element.envaseCosecha.nombre}}</td>
        </ng-container>
        <!-- <ng-container matColumnDef="3">
          <th mat-header-cell *matHeaderCellDef>Config.</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container> -->
        <ng-container matColumnDef="4">
          <th mat-header-cell *matHeaderCellDef>Tara</th>
          <td mat-cell *matCellDef="let element">{{element.pesoTara}}</td>
        </ng-container>
        <ng-container matColumnDef="5">
          <th mat-header-cell *matHeaderCellDef>Cant. Unifrutti</th>
          <td mat-cell *matCellDef="let element">{{element.cantidadEmpresa}}</td>
        </ng-container>
        <ng-container matColumnDef="6">
          <th mat-header-cell *matHeaderCellDef>Cant. Otros</th>
          <td mat-cell *matCellDef="let element">{{element.cantidadOtros}} </td>
        </ng-container>
        <ng-container matColumnDef="7">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element">{{element.cantidadEmpresa + element.cantidadOtros}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="muetraColumnas"></tr>
        <tr mat-row *matRowDef="let row; columns: muetraColumnas;"></tr>
      </table>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12 ml-1">
      <mat-card color="primary" class="titleEnvases">Abrir lotes</mat-card>
      <mat-card class="cardRecepcionLinea">
        <mat-form-field appearance="fill" class="selectSmall">
          <mat-label>Especie</mat-label>
          <mat-select [(ngModel)]="detalleAsignar.especie.id" name="especie">
            <mat-option *ngFor="let especie of especies" [value]="especie.id"
              (onSelectionChange)="selecionaEspecie(especie)">
              {{ especie.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="selectSmall">
          <mat-label>Variedad</mat-label>
          <mat-select [(ngModel)]="detalleAsignar.variedad.id" name="variedad">
            <mat-option *ngFor="let variedad of variedades" [value]="variedad.id">
              {{ variedad.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="selectxSmall">
          <mat-label>Env. Uni.</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="selectxSmall">
          <mat-label>Cant. Env. otros</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="selectxSmall">
          <mat-label>Total</mat-label>
          <input disabled="true" matInput>
        </mat-form-field>

        <button (click)="cancelarLinea()" class="btn_cancelar ml-5" mat-button>
          Cancelar
        </button>
        <button (click)="actualizarLinea()" class="btn_actualizar" color="warn" mat-button>
          <mat-icon>check</mat-icon>
          Actualizar
        </button>
      </mat-card>

      <!-- TABLA GUIA DE RECEPCION -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="1">
          <th mat-header-cell *matHeaderCellDef>Especie</th>
          <td mat-cell *matCellDef="let element">{{element.especie.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="2">
          <th mat-header-cell *matHeaderCellDef>Variedad</th>
          <td mat-cell *matCellDef="let element">{{element.variedad.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="3">
          <th mat-header-cell *matHeaderCellDef>Env Unifrutti</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="4">
          <th mat-header-cell *matHeaderCellDef>Env Otros</th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="5">
          <th mat-header-cell *matHeaderCellDef>Bultos</th>
          <td mat-cell *matCellDef="let element">{{element.numEnvasesCont}}</td>
        </ng-container>
        <ng-container matColumnDef="6">
          <th mat-header-cell *matHeaderCellDef>Línea</th>
          <td mat-cell *matCellDef="let element">{{element.numLinea}}</td>
        </ng-container>
        <ng-container matColumnDef="7">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editarLinea(element)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>

<div mat-dialog-actions class="justify-content-center mt-1 text-center">
  <button mat-fab (click)="guardarLoteEditado()" color="warn" cdkFocusInitial title="Aceptar">
    <mat-icon>check</mat-icon>
  </button>
</div>