@import '~@angular/material/theming';
@include mat-core();

//color azul principal
$SafeReport-primary: mat-palette($mat-blue,700);
//color azul alternativo
$SafeReport-accent: mat-palette($mat-blue,700);
//color verde para botones y otros
$SafeReport-warn: mat-palette($mat-light-green, 700);



$SafeReport-theme: mat-light-theme($SafeReport-primary, $SafeReport-accent, $SafeReport-warn);

@include angular-material-theme($SafeReport-theme);

