
<div class="col-12 mt-2">
  <h1 class="tituloTabla"><i class="fas fa-angle-double-right"></i> Cuenta corriente envases</h1>
</div>
<hr>
<!-- INFORMACION encabezado -->
<br>
<br>
<div class="row text-center">
  <div class="col-6 offset-3 text-center">

    <mat-form-field appearance="fill" class="fecha">
      <mat-label>Desde:</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaCosecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="fecha">
      <mat-label>Hasta:</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaDespacho">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
<br>
    <mat-form-field appearance="fill">
      <mat-label>Productor</mat-label>
      <input matInput>
    </mat-form-field>
<br>
    <mat-form-field appearance="fill">
      <mat-label>Envase cosechero</mat-label>
      <input matInput>
    </mat-form-field>
<br>
    <mat-form-field appearance="fill">
      <mat-label>Detalle resumen</mat-label>
      <input matInput>
    </mat-form-field>

  </div>
</div>

