<!-- FAVORITOS -->
<button class="addToFavorites mt-3 mr-3" (click)="agregarFavorito()">
  <mat-icon [ngClass]="{'active': esFavorito}">star</mat-icon>
</button>

<!-- SLIDER -->
<div class="row">
  <div class="col-12">
    <mat-form-field>
      <mat-label>Frigorífico</mat-label>
      <mat-select [(ngModel)]="frigoSelecion">
        <mat-option *ngFor="let item of frigorificos" [value]="item.id">
          {{item.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <span class="ml-5">
      Anexo
      <mat-slide-toggle>
        Satélite
      </mat-slide-toggle>
    </span> -->
  </div>
  <!-- <div class="col-12" *ngIf="!cargandoFrigo">
        <p class="tituloTabla"><strong>Cargando Frigoríficos...</strong></p>
    </div> -->
</div>

<h1 class="tituloTabla">
  <i class=" fas fa-angle-double-right"></i>
  Listado Recepciones
</h1>

<mat-form-field class="buscador">
  <mat-placeholder>
    <mat-icon>search</mat-icon>Buscar...
  </mat-placeholder> 
  <input matInput (keyup)="filtrar($event.target.value)">
</mat-form-field>

<!-- TABLA  -->
<div class="contenedorTabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="cod">
      <th mat-header-cell *matHeaderCellDef>Cód</th>
      <td mat-cell *matCellDef="let element">{{element.cod}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha</th>
      <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
    </ng-container>
    <ng-container matColumnDef="packing_satelite">
      <th mat-header-cell *matHeaderCellDef> Packing satélite</th>
      <td mat-cell *matCellDef="let element">{{element.packing_satelite}}</td>
    </ng-container>
    <ng-container matColumnDef="frigorifico">
      <th mat-header-cell *matHeaderCellDef> Frigorífico </th>
      <td mat-cell *matCellDef="let element">{{element.frigorifico}}</td>
    </ng-container>
    <ng-container matColumnDef="productor">
      <th mat-header-cell *matHeaderCellDef> Productor </th>
      <td mat-cell *matCellDef="let element">{{element.productor}}</td>
    </ng-container>
    <ng-container matColumnDef="nro_guia">
      <th mat-header-cell *matHeaderCellDef> Nº guía </th>
      <td mat-cell *matCellDef="let element">{{element.nro_guia}}</td>
    </ng-container>
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editar()">
            <mat-icon>edit</mat-icon>
            <span>editar</span>
          </button>

          <!-- <button mat-menu-item (click)="asignarFolios()">
            <mat-icon>check</mat-icon>
            <span>Asignar folios</span>
          </button> -->
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- <mat-spinner *ngIf="cargando" [diameter]="50"></mat-spinner>
<div style="width: 100%; text-align: center;">
    <button *ngIf="tablaError" class="recargar_tabla" mat-raised-button title="Recargar tabla" color="primary">
        <mat-icon>cached</mat-icon>
        Recargar tabla
    </button>
</div> -->

<div class="paginador">
  <button mat-icon-button matTooltip="Siguiente" (click)="siguiente()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <select class="numeroPagina" matTooltip="Items por página">
    <option value="20" selected>20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <button mat-icon-button matTooltip="Anterior" (click)="anterior()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</div>

<div class="btn-plus">
  <button mat-fab matTooltip="Nueva recepción" (click)="nuevaRecepcion()" color="warn" class="btn-add">
    <mat-icon>add</mat-icon>
  </button>
</div>