<nav class="main-menu">
  <ul class="optionsMenu">
    <li>
      <a class="firstText mb-3" (click)="favoritos()">
        <span class="nav-text p-1">
          <i class="fas fa-star"></i> Favoritos
        </span>
      </a>
    </li>
    <div class="menusPantallas">
      <li *ngFor="let raiz of arr_parcial;let ind = index" [ngStyle]="{'margin-left':raiz.left + 'px'}"
        class="item_menu" (click)="expandir(ind)">
        <a [ngClass]=" {'ultimoElemento': raiz.ultimo_elemento} " class="boton_menu">
          <mat-icon class="iconoMenu" *ngIf="!raiz.ultimo_elemento">menu</mat-icon>
          <mat-icon *ngIf="raiz.ultimo_elemento"></mat-icon>
          <span class="nav-text">
            {{raiz.nombre}}
          </span>
        </a>
      </li>
    </div>
  </ul>

  <div class="contenedorTitleNavbar">
    <pre class="rotar"> {{ titulo }} </pre>
  </div>

  <div class="logout">
    <a (click)="logout()" matTooltip="Cerrar sesión">
      <i class="fa fa-power-off fa-2x"></i>
    </a>
  </div>
</nav>