<div class="selects mt-2">
  <div *ngIf="!cargando">
    <mat-form-field class="widthInputs">
      <mat-select matTooltip="Seleccione exportadora" placeholder="Exportadora" [(ngModel)]="exportadora">
        <mat-option (onSelectionChange)="seleccionaExportadora(exportadora)" *ngFor="let exportadora of exportadoras"
          [value]="exportadora.id">
          {{exportadora.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="widthInputs">
      <mat-select matTooltip="Seleccione temporada" placeholder="Temporada" [(ngModel)]="temporada">
        <mat-option (onSelectionChange)="seleccionaTemporada(temporada)" *ngFor="let temporada of temporadas"
          [value]="temporada.id">
          {{temporada.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="widthInputs">
      <mat-select [disabled]="!validaPlantas" matTooltip="Seleccione planta" placeholder="Planta"
        [(ngModel)]="planta" (selectionChange)="seleccPlanta()">
        <mat-option (onSelectionChange)="seleccionaPlanta(planta)" *ngFor="let planta of plantas" [value]="planta.id">
          {{planta.nombreFantasia}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <div>
      <button mat-mini-fab (click)="cerrarSesion()" class="mr-5" matTooltip="Cerrar sesión">
        <mat-icon>power_settings_new</mat-icon>
      </button>
      <button mat-mini-fab matTooltip="Guardar cambios" (click)="guardar()" color="warn">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
  <mat-spinner *ngIf="cargando" style="margin:0 auto" [diameter]="50"></mat-spinner>
</div>