:host ::ng-deep.mat-dialog-container{
    padding: 24px 0 0 0 !important;
}

:host ::ng-deep .mat-form-field-infix{
    border-top: 0;
}

:host mat-icon{
    vertical-align: top !important;
}

.center mat-card{
    font-size: 12px;
    width: 25em;
    height: 25em;
    border-radius: 10px;
    margin: 0 auto;
    top: 20vh;
    text-align: center;
}

.selects{
    text-align: center;
}

.fa-power-off{
    font-size: 0.5em;
}
/* .msgError{
    color: rgb(161, 0, 0);
    font-size: 12px;
} */

@media (max-width: 650px) {
.center mat-card{
  width: 20em;
}
}
@media (max-width: 570px) {
  .logoUni{
      content: url(/assets/img/icon.png);
      width: 10vh;
}
}

@media (max-width: 500px) {
.center mat-card{
  width: 18em;
  height: 22em;
}
.selects{
    margin-top: 5vh !important;
}
}
