<div>
  <button mat-icon-button class="btnClose" (click)="cerrar()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<br>
<div mat-dialog-title class="encabezado">
  <p>Línea: {{ lineaCKU.numLinea }}</p>
  <mat-form-field appearance="fill" class="selectSmall">
    <mat-label>Sección planta</mat-label>
    <mat-select [(ngModel)]="seccionSel" (selectionChange)="seleccionSecccion($event)">
      <mat-option *ngFor="let secc of seccionPlanta" [value]="secc.id">{{secc.nombre}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-content>
  <mat-spinner style="margin: 0 auto" *ngIf="cargando" [diameter]="60"></mat-spinner>
  <table *ngIf="!cargando" style="width:100%">
    <tr>
      <th>
        <mat-checkbox (change)="checkTodo($event)"></mat-checkbox>
      </th>
      <th>Bins</th>
    </tr>
    <tr *ngFor="let bins of listaBins">
      <th>
        <mat-checkbox [(ngModel)]="bins.check"></mat-checkbox>
      </th>
      <td>{{ bins.folio }}</td>
    </tr>
  </table>
</div>

<div mat-dialog-actions>
  <p class="d-inline">Total bins: {{ listaBins.length }}</p>
  <div class="btn_imprimir">
    <mat-form-field appearance="fill" class="selectSmall">
      <mat-label>Impresora</mat-label>
      <mat-select>
        <mat-option *ngFor="let imp of impresoras" [value]="imp.id" (onSelectionChange)="seleccionImpresora(imp)">
          {{imp.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="imprimirBines()" color="primary" mat-button>
      <mat-icon>print</mat-icon> Imprimir folio
    </button>
  </div>
</div>