table, th, td {
  border: 1px solid rgb(209, 209, 209);
  text-align: center;
}
th{
  background: rgba(212, 222, 226, 0.4);
}
.encabezado{
    font-size: 14px;
}

:host ::ng-deep mat-checkbox label {
  margin-bottom: 0 !important;
}

.btnClose{
background-color: transparent;
border: none;
color: gray;
cursor: pointer;
outline: none;
float: right;
}

.btnClose .mat-icon{
  font-size: 1em;
}

.btn_imprimir{
    width: 100%;
    text-align: right;
}
:host ::ng-deep.mat-form-field-infix{
border-top: 0;
/* padding: 0 0 15px 0 !important; */
}

:host ::ng-deep.mat-form-field-appearance-fill{
    margin: 5px !important;
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
    padding: 0;
}
:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.25em 0;
  width: 11em;
}

:host ::ng-deep.mat-form-field-wrapper {
    margin: 0 0 -1em 0 !important;
}
.selectSmall{
  width: 8.7em;
}