
.contenedorTabla{
   font-size: 12px;
   text-align: center;
}
.btnClose{
background-color: transparent;
border: none;
color: gray;
cursor: pointer;
outline: none;
float: right;
}
.btnAsignar{
  /* position: fixed; */
  margin-left: 45%;
  float: center;
}

.btnClose .mat-icon{
  font-size: 1em;
}