<button mat-icon-button class="btnClose" (click)="close()">
  <mat-icon>close</mat-icon>
</button>

<div class="row">
  <div class="col-4">
    <table>
      <tr>
        <td>Bins:</td>
        <td class="align-td">190</td>
      </tr>
      <tr>
        <td>Kilos:</td>
        <td class="align-td">875</td>
      </tr>
      <tr>
        <td>Especie:</td>
        <td class="align-td">Cerezas</td>
      </tr>
      <tr>
        <td>Variedad:</td>
        <td class="align-td">Bing</td>
      </tr>
    </table>
  </div>

  <div class="col-8">
    <img src="assets/img/codigo_barra.png" alt="codigo de barra" class="codigo_barra">
  </div>
</div>

<br>
<br>

<table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID OTE </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
  </ng-container>

  <ng-container matColumnDef="cod">
    <th mat-header-cell *matHeaderCellDef> Cód. packing </th>
    <td mat-cell *matCellDef="let element"> {{element.cod}} </td>
  </ng-container>

  <ng-container matColumnDef="tipo_proceso">
    <th mat-header-cell *matHeaderCellDef> Tipo proceso </th>
    <td mat-cell *matCellDef="let element"> {{element.tipo_proceso}} </td>
  </ng-container>

  <ng-container matColumnDef="nro">
    <th mat-header-cell *matHeaderCellDef> Nro máquina </th>
    <td mat-cell *matCellDef="let element"> {{element.nro}} </td>
  </ng-container>

  <ng-container matColumnDef="tipo_frio">
    <th mat-header-cell *matHeaderCellDef> Tipo frío </th>
    <td mat-cell *matCellDef="let element"> {{element.tipo_frio}} </td>
  </ng-container>

  <ng-container matColumnDef="variedad">
    <th mat-header-cell *matHeaderCellDef> Variedad </th>
    <td mat-cell *matCellDef="let element"> {{element.variedad}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
</table>